$f-newyear: (
  f1: "../new-year/01.png",
  f1-w: 149px,
  f1-h: 138px,
  f2: "../new-year/02.png",
  f2-w: 145px,
  f2-h: 158px,
  f3: "../new-year/03.png",
  f3-w: 106px,
  f3-h: 161px,
  f4: "../new-year/04.png",
  f4-w: 205px,
  f4-h: 104px,
  f5: "../new-year/05.png",
  f5-w: 420px,
  f5-h: 129px,
  f6: "../new-year/06.png",
  f6-w: 101px,
  f6-h: 60px,
);

$branches-margin-sides: -15px;

$branch-animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) #{calc(random() * 2)}s
  infinite;
$present-animation: present 1.8s cubic-bezier(0.28, 0.84, 0.42, 1);

%new-year-positioning {
  display: flex;
  background: none center / contain no-repeat transparent;
  flex-shrink: 0;
  transform-origin: 50% 100%;
}

.new-year {
  left: 0;
  right: 0;
  // bottom: 0;
  bottom: -50px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  &__branch {
    z-index: 1;
    position: relative;
    @extend %new-year-positioning;

    > * {
      width: map-get($f-newyear, f5-w);
      height: map-get($f-newyear, f5-h);
      margin: 0 $branches-margin-sides;
      animation: $branch-animation;
      background-image: url(map-get($f-newyear, f5));
    }

    // &_left {}
    &_right {
      transform: scaleX(-1);
    }
  }
  &__bow {
    z-index: 2;
    @extend %new-year-positioning;
    width: map-get($f-newyear, f6-w);
    height: map-get($f-newyear, f6-h);
    margin: 0 -30px 40px;
    animation: $branch-animation;
    background-image: url(map-get($f-newyear, f6));
  }
  &__toy {
    z-index: 3;
    position: absolute;

    &_hat {
      > * {
        width: map-get($f-newyear, f1-w);
        height: map-get($f-newyear, f1-h);
        margin: 0 $branches-margin-sides;
        position: absolute;
        @extend %new-year-positioning;
        background-image: url(map-get($f-newyear, f1));
      }
      &.animate {
        > * {
          animation: $present-animation;
        }
      }
      &-01 {
        transform: translate(550px, -85px) scale(0.6) rotate(9deg);
      }
      &-02 {
        transform: translate(1150px, -55px) scale(0.4) rotate(-9deg);
      }
      &-03 {
        transform: translate(-1030px, -65px) scale(0.6) rotate(-40deg);
      }
    }
    &_present {
      > * {
        width: map-get($f-newyear, f2-w);
        height: map-get($f-newyear, f2-h);
        margin: 0 $branches-margin-sides;
        position: absolute;
        @extend %new-year-positioning;
        background-image: url(map-get($f-newyear, f2));
      }
      &.animate {
        > * {
          animation: $present-animation;
        }
      }
      &-01 {
        transform: translate(160px, -65px) scale(0.7) rotate(12deg);
      }
      &-02 {
        transform: translate(910px, -95px) scale(0.6) rotate(12deg);
      }
      &-03 {
        transform: translate(-650px, -85px) scale(0.5) rotate(-12deg);
      }
      &-04 {
        transform: translate(-1200px, -65px) scale(0.4) rotate(-3deg);
      }
    }
    &_candy {
      > * {
        width: map-get($f-newyear, f3-w);
        height: map-get($f-newyear, f3-h);
        margin: 0 $branches-margin-sides;
        position: absolute;
        @extend %new-year-positioning;
        background-image: url(map-get($f-newyear, f3));
      }
      &.animate {
        > * {
          animation: $present-animation;
        }
      }
      &-01 {
        transform: translate(430px, -55px) scale(0.8) rotate(0deg);
      }
      &-02 {
        transform: translate(860px, -15px) scaleX(-1) scale(0.4) rotate(-60deg);
      }
      &-03 {
        transform: translate(-410px, -35px) scale(0.5) rotate(-25deg);
      }
      &-04 {
        transform: translate(-860px, -55px) scale(0.5) rotate(35deg);
      }
    }
    &_branch {
      pointer-events: none;

      > * {
        width: map-get($f-newyear, f4-w);
        height: map-get($f-newyear, f4-h);
        margin: 0 $branches-margin-sides;
        position: absolute;
        @extend %new-year-positioning;
        animation: $branch-animation;
        background-image: url(map-get($f-newyear, f4));
      }
      &-01 {
        transform: translate(-590px, -50px);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-02 {
        transform: translate(-420px, -10px) rotate(-10deg);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-03 {
        transform: translate(-880px, -10px) rotate(-10deg);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-04 {
        transform: translate(-960px, -50px) rotate(25deg);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-05 {
        transform: translate(300px, -30px) scaleX(-1);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-06 {
        transform: translate(620px, -40px) scaleX(-1);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
      &-07 {
        transform: translate(910px, -40px) scaleX(-1) rotate(5deg);

        > * {
          animation-delay: #{calc(random() * 2)}s;
        }
      }
    }
  }
}

@keyframes branch {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0) rotate(-0.6deg);
  }
  60% {
    transform: translate(0, -2px) rotate(0.4deg);
  }
  85% {
    transform: translate(-1px, 1px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes present {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0) scale(1.2, 0.8);
  }
  20% {
    transform: translateY(0) scale(0.8, 1.2);
  }
  50% {
    transform: translateY(-80px) scale(1);
  }
  80% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(0);
  }
}
