%present {
  display: block;
  background: none center / contain no-repeat transparent;
}
%sr-only {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

$cubic: cubic-bezier(0.28, 0.84, 0.42, 1);

.present-popup {
  color: #666;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 806px;
  text-align: center;

  @media (max-width: 575.98px) {
    padding: 10% 0;
  }

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    opacity: 0.3;
    display: block;
    position: absolute;
    animation: floating-present-background 20s linear infinite;
    background: url("../valentine/background.webp") center top/800px 630px repeat transparent;
  }
  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    opacity: 1;
    display: block;
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.8) 50%, transparent 80%)
      center / 100% no-repeat transparent;
  }

  > * {
    z-index: 3;
    position: relative;
  }

  &__decoration {
    position: absolute;
    animation: present-decoration 10s ease-in-out infinite;
    background: none center/contain no-repeat transparent;

    &_01 {
      top: 4%;
      left: 4%;
      width: 16%;
      height: 24%;
      transform-origin: 50% 30%;
      background-image: url("../valentine/el_05.png");
    }
    &_02 {
      right: 3%;
      width: 16%;
      height: 34%;
      bottom: -11%;
      animation-delay: 3s;
      transform-origin: 30% 100%;
      background-image: url("../valentine/el_07.png");
    }
  }
  &__image {
    width: 440px;
    margin: 10px auto;
    max-width: 100%;
    background: url("../valentine/valentine_image.webp") center/contain no-repeat transparent;
    aspect-ratio: 1 / 1;
  }
}
.sr-only {
  @extend %sr-only;
}
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1090;
  padding: 3rem;
  display: flex;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  overflow-x: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);

  overflow: hidden;
  perspective: 100px;
}
.modal.opened {
  opacity: 1;
  visibility: visible;
}
.modal__inner {
  width: 730px;
  margin: auto;
  padding: 3.5rem 2.75rem;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border-radius: 20px;
  background-color: #fff;

  transform: rotate3d(1, 0, 0, 20deg) scale3d(1, 1, 1) translate3d(0px, 730px, -110px);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.modal.opened .modal__inner {
  transform: rotate3d(1, 0, 0, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
}
.modal__close {
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  background-color: transparent;
}
.modal__close::before,
.modal__close::after {
  top: 50%;
  left: 0;
  width: 100%;
  content: "";
  position: absolute;
  border-bottom: 2px solid #666;
}
.modal__close::before {
  transform: rotate(-45deg);
}
.modal__close::after {
  transform: rotate(45deg);
}
@media (max-width: 575.98px) {
  body::before {
    background-size: 90% auto;
  }
  .modal {
    padding: 1.5rem;
  }
  .modal__inner {
    padding: 3.5rem 1.75rem 2rem;
  }
  .modal__close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

@keyframes floating-present-background {
  0% {
    background-position: 0px 630px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes present-decoration {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(2deg);
  }
}
