@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.iwd {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.flowers > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../flowers/flower.png") center/contain no-repeat transparent;
}

.h-flowers {
  display: flex;
  transform: translateY(-60%);
  align-items: center;
  justify-content: center;
}
.h-flowers > div {
  flex-shrink: 0;
  transform-origin: center top;
}

.flowers > div:nth-child(1) {
  opacity: 0.9787236635;
  transform: translate(77vw, -40px) scale(0.6154919469) rotate(-112deg);
  animation: fall-1 21s -12s linear infinite;
}

@keyframes fall-1 {
  56% {
    transform: translate(71vw, 52vh) scale(0.6154919469) rotate(133deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.6154919469) rotate(150deg);
  }
}
.flowers > div:nth-child(2) {
  opacity: 0.7878067258;
  transform: translate(89vw, -40px) scale(0.8276601867) rotate(48deg);
  animation: fall-2 29s -15s linear infinite;
}

@keyframes fall-2 {
  55% {
    transform: translate(88vw, 60vh) scale(0.8276601867) rotate(-82deg);
  }
  to {
    transform: translate(85vw, 100vh) scale(0.8276601867) rotate(24deg);
  }
}
.flowers > div:nth-child(3) {
  opacity: 0.9034713913;
  transform: translate(21vw, -40px) scale(0.5887434416) rotate(-129deg);
  animation: fall-3 29s -5s linear infinite;
}

@keyframes fall-3 {
  47% {
    transform: translate(19vw, 48vh) scale(0.5887434416) rotate(-146deg);
  }
  to {
    transform: translate(16vw, 100vh) scale(0.5887434416) rotate(175deg);
  }
}
.flowers > div:nth-child(4) {
  opacity: 0.8996706638;
  transform: translate(78vw, -40px) scale(0.564842701) rotate(-56deg);
  animation: fall-4 25s -24s linear infinite;
}

@keyframes fall-4 {
  45% {
    transform: translate(84vw, 58vh) scale(0.564842701) rotate(-117deg);
  }
  to {
    transform: translate(85vw, 100vh) scale(0.564842701) rotate(43deg);
  }
}
.flowers > div:nth-child(5) {
  opacity: 0.791690359;
  transform: translate(45vw, -40px) scale(0.8449921175) rotate(-161deg);
  animation: fall-5 26s -30s linear infinite;
}

@keyframes fall-5 {
  48% {
    transform: translate(45vw, 49vh) scale(0.8449921175) rotate(-33deg);
  }
  to {
    transform: translate(50vw, 100vh) scale(0.8449921175) rotate(153deg);
  }
}
.flowers > div:nth-child(6) {
  opacity: 0.6660612563;
  transform: translate(46vw, -40px) scale(0.9518845888) rotate(84deg);
  animation: fall-6 28s -19s linear infinite;
}

@keyframes fall-6 {
  58% {
    transform: translate(45vw, 47vh) scale(0.9518845888) rotate(147deg);
  }
  to {
    transform: translate(28vw, 100vh) scale(0.9518845888) rotate(123deg);
  }
}
.flowers > div:nth-child(7) {
  opacity: 0.9220678992;
  transform: translate(76vw, -40px) scale(0.6771048089) rotate(-110deg);
  animation: fall-7 29s -6s linear infinite;
}

@keyframes fall-7 {
  47% {
    transform: translate(92vw, 44vh) scale(0.6771048089) rotate(-81deg);
  }
  to {
    transform: translate(78vw, 100vh) scale(0.6771048089) rotate(-54deg);
  }
}
.flowers > div:nth-child(8) {
  opacity: 0.9801916882;
  transform: translate(68vw, -40px) scale(0.8723817778) rotate(-105deg);
  animation: fall-8 22s -14s linear infinite;
}

@keyframes fall-8 {
  44% {
    transform: translate(68vw, 48vh) scale(0.8723817778) rotate(107deg);
  }
  to {
    transform: translate(69vw, 100vh) scale(0.8723817778) rotate(37deg);
  }
}
.flowers > div:nth-child(9) {
  opacity: 0.9054206923;
  transform: translate(91vw, -40px) scale(0.8457280713) rotate(174deg);
  animation: fall-9 22s -13s linear infinite;
}

@keyframes fall-9 {
  53% {
    transform: translate(87vw, 54vh) scale(0.8457280713) rotate(167deg);
  }
  to {
    transform: translate(96vw, 100vh) scale(0.8457280713) rotate(18deg);
  }
}
.flowers > div:nth-child(10) {
  opacity: 0.8769079199;
  transform: translate(101vw, -40px) scale(0.5766271752) rotate(-47deg);
  animation: fall-10 26s -21s linear infinite;
}

@keyframes fall-10 {
  47% {
    transform: translate(83vw, 41vh) scale(0.5766271752) rotate(-130deg);
  }
  to {
    transform: translate(94vw, 100vh) scale(0.5766271752) rotate(13deg);
  }
}
.flowers > div:nth-child(11) {
  opacity: 0.6625762216;
  transform: translate(78vw, -40px) scale(0.8309829994) rotate(54deg);
  animation: fall-11 33s -29s linear infinite;
}

@keyframes fall-11 {
  44% {
    transform: translate(77vw, 48vh) scale(0.8309829994) rotate(-147deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.8309829994) rotate(83deg);
  }
}
.flowers > div:nth-child(12) {
  opacity: 0.8983314032;
  transform: translate(39vw, -40px) scale(0.89426647) rotate(-159deg);
  animation: fall-12 27s -14s linear infinite;
}

@keyframes fall-12 {
  48% {
    transform: translate(48vw, 56vh) scale(0.89426647) rotate(-87deg);
  }
  to {
    transform: translate(56vw, 100vh) scale(0.89426647) rotate(-95deg);
  }
}
.flowers > div:nth-child(13) {
  opacity: 0.9172840071;
  transform: translate(67vw, -40px) scale(0.8596105114) rotate(-93deg);
  animation: fall-13 30s -10s linear infinite;
}

@keyframes fall-13 {
  42% {
    transform: translate(63vw, 55vh) scale(0.8596105114) rotate(16deg);
  }
  to {
    transform: translate(62vw, 100vh) scale(0.8596105114) rotate(122deg);
  }
}
.flowers > div:nth-child(14) {
  opacity: 0.8771704135;
  transform: translate(7vw, -40px) scale(0.8779742517) rotate(177deg);
  animation: fall-14 27s -7s linear infinite;
}

@keyframes fall-14 {
  55% {
    transform: translate(-2vw, 55vh) scale(0.8779742517) rotate(-94deg);
  }
  to {
    transform: translate(6vw, 100vh) scale(0.8779742517) rotate(-1deg);
  }
}
.flowers > div:nth-child(15) {
  opacity: 0.644362545;
  transform: translate(25vw, -40px) scale(0.7911611969) rotate(-10deg);
  animation: fall-15 21s -12s linear infinite;
}

@keyframes fall-15 {
  56% {
    transform: translate(41vw, 53vh) scale(0.7911611969) rotate(152deg);
  }
  to {
    transform: translate(26vw, 100vh) scale(0.7911611969) rotate(-28deg);
  }
}
.flowers > div:nth-child(16) {
  opacity: 0.8531946302;
  transform: translate(54vw, -40px) scale(0.5243115858) rotate(33deg);
  animation: fall-16 30s -2s linear infinite;
}

@keyframes fall-16 {
  64% {
    transform: translate(53vw, 58vh) scale(0.5243115858) rotate(-63deg);
  }
  to {
    transform: translate(45vw, 100vh) scale(0.5243115858) rotate(-78deg);
  }
}
.flowers > div:nth-child(17) {
  opacity: 0.6941308972;
  transform: translate(13vw, -40px) scale(0.6300581234) rotate(-150deg);
  animation: fall-17 22s -24s linear infinite;
}

@keyframes fall-17 {
  52% {
    transform: translate(9vw, 44vh) scale(0.6300581234) rotate(-47deg);
  }
  to {
    transform: translate(13vw, 100vh) scale(0.6300581234) rotate(-2deg);
  }
}
.flowers > div:nth-child(18) {
  opacity: 0.7207512313;
  transform: translate(3vw, -40px) scale(0.7406452706) rotate(-133deg);
  animation: fall-18 29s -13s linear infinite;
}

@keyframes fall-18 {
  58% {
    transform: translate(9vw, 54vh) scale(0.7406452706) rotate(24deg);
  }
  to {
    transform: translate(-1vw, 100vh) scale(0.7406452706) rotate(-104deg);
  }
}
.flowers > div:nth-child(19) {
  opacity: 0.699771772;
  transform: translate(74vw, -40px) scale(0.9469490062) rotate(-48deg);
  animation: fall-19 23s -7s linear infinite;
}

@keyframes fall-19 {
  65% {
    transform: translate(70vw, 57vh) scale(0.9469490062) rotate(-157deg);
  }
  to {
    transform: translate(68vw, 100vh) scale(0.9469490062) rotate(-68deg);
  }
}
.flowers > div:nth-child(20) {
  opacity: 0.9147379177;
  transform: translate(14vw, -40px) scale(0.978197706) rotate(113deg);
  animation: fall-20 21s -12s linear infinite;
}

@keyframes fall-20 {
  65% {
    transform: translate(1vw, 52vh) scale(0.978197706) rotate(178deg);
  }
  to {
    transform: translate(17vw, 100vh) scale(0.978197706) rotate(-137deg);
  }
}
.flowers > div:nth-child(21) {
  opacity: 0.8796918535;
  transform: translate(88vw, -40px) scale(0.5561900474) rotate(-44deg);
  animation: fall-21 21s -24s linear infinite;
}

@keyframes fall-21 {
  57% {
    transform: translate(100vw, 52vh) scale(0.5561900474) rotate(13deg);
  }
  to {
    transform: translate(90vw, 100vh) scale(0.5561900474) rotate(53deg);
  }
}
.flowers > div:nth-child(22) {
  opacity: 0.799315614;
  transform: translate(86vw, -40px) scale(0.9688022144) rotate(-82deg);
  animation: fall-22 33s -22s linear infinite;
}

@keyframes fall-22 {
  43% {
    transform: translate(92vw, 47vh) scale(0.9688022144) rotate(153deg);
  }
  to {
    transform: translate(86vw, 100vh) scale(0.9688022144) rotate(152deg);
  }
}
.flowers > div:nth-child(23) {
  opacity: 0.7941502791;
  transform: translate(66vw, -40px) scale(0.7126195535) rotate(45deg);
  animation: fall-23 34s -27s linear infinite;
}

@keyframes fall-23 {
  43% {
    transform: translate(66vw, 44vh) scale(0.7126195535) rotate(55deg);
  }
  to {
    transform: translate(54vw, 100vh) scale(0.7126195535) rotate(86deg);
  }
}
.flowers > div:nth-child(24) {
  opacity: 0.6859329257;
  transform: translate(61vw, -40px) scale(0.6043687739) rotate(-33deg);
  animation: fall-24 28s -27s linear infinite;
}

@keyframes fall-24 {
  55% {
    transform: translate(75vw, 60vh) scale(0.6043687739) rotate(50deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.6043687739) rotate(-2deg);
  }
}
.flowers > div:nth-child(25) {
  opacity: 0.9304052039;
  transform: translate(17vw, -40px) scale(0.5691187517) rotate(149deg);
  animation: fall-25 29s -3s linear infinite;
}

@keyframes fall-25 {
  47% {
    transform: translate(16vw, 49vh) scale(0.5691187517) rotate(-73deg);
  }
  to {
    transform: translate(28vw, 100vh) scale(0.5691187517) rotate(111deg);
  }
}
.flowers > div:nth-child(26) {
  opacity: 0.6134313349;
  transform: translate(43vw, -40px) scale(0.7658744838) rotate(114deg);
  animation: fall-26 30s -14s linear infinite;
}

@keyframes fall-26 {
  59% {
    transform: translate(36vw, 58vh) scale(0.7658744838) rotate(-47deg);
  }
  to {
    transform: translate(27vw, 100vh) scale(0.7658744838) rotate(133deg);
  }
}
.flowers > div:nth-child(27) {
  opacity: 0.7408173367;
  transform: translate(74vw, -40px) scale(0.7386833123) rotate(-15deg);
  animation: fall-27 34s -4s linear infinite;
}

@keyframes fall-27 {
  37% {
    transform: translate(85vw, 57vh) scale(0.7386833123) rotate(159deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.7386833123) rotate(-14deg);
  }
}
.flowers > div:nth-child(28) {
  opacity: 0.6317995295;
  transform: translate(23vw, -40px) scale(0.6509350414) rotate(-25deg);
  animation: fall-28 29s -7s linear infinite;
}

@keyframes fall-28 {
  41% {
    transform: translate(31vw, 59vh) scale(0.6509350414) rotate(180deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.6509350414) rotate(-170deg);
  }
}
.flowers > div:nth-child(29) {
  opacity: 0.6609139319;
  transform: translate(94vw, -40px) scale(0.5325912115) rotate(4deg);
  animation: fall-29 35s -4s linear infinite;
}

@keyframes fall-29 {
  60% {
    transform: translate(95vw, 58vh) scale(0.5325912115) rotate(-17deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.5325912115) rotate(-116deg);
  }
}
.flowers > div:nth-child(30) {
  opacity: 0.5320975034;
  transform: translate(56vw, -40px) scale(0.8677404877) rotate(0deg);
  animation: fall-30 28s -23s linear infinite;
}

@keyframes fall-30 {
  62% {
    transform: translate(71vw, 41vh) scale(0.8677404877) rotate(-166deg);
  }
  to {
    transform: translate(54vw, 100vh) scale(0.8677404877) rotate(-61deg);
  }
}
.flowers > div:nth-child(31) {
  opacity: 0.9019693252;
  transform: translate(66vw, -40px) scale(0.8251690933) rotate(-35deg);
  animation: fall-31 24s -30s linear infinite;
}

@keyframes fall-31 {
  41% {
    transform: translate(57vw, 59vh) scale(0.8251690933) rotate(130deg);
  }
  to {
    transform: translate(54vw, 100vh) scale(0.8251690933) rotate(144deg);
  }
}
.flowers > div:nth-child(32) {
  opacity: 0.9979517323;
  transform: translate(79vw, -40px) scale(0.5227357143) rotate(-72deg);
  animation: fall-32 32s -15s linear infinite;
}

@keyframes fall-32 {
  42% {
    transform: translate(85vw, 42vh) scale(0.5227357143) rotate(106deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.5227357143) rotate(162deg);
  }
}
.flowers > div:nth-child(33) {
  opacity: 0.7410770454;
  transform: translate(12vw, -40px) scale(0.9714644341) rotate(91deg);
  animation: fall-33 30s -17s linear infinite;
}

@keyframes fall-33 {
  63% {
    transform: translate(18vw, 53vh) scale(0.9714644341) rotate(-122deg);
  }
  to {
    transform: translate(14vw, 100vh) scale(0.9714644341) rotate(-100deg);
  }
}
.flowers > div:nth-child(34) {
  opacity: 0.7622408248;
  transform: translate(3vw, -40px) scale(0.5275138009) rotate(84deg);
  animation: fall-34 21s -14s linear infinite;
}

@keyframes fall-34 {
  43% {
    transform: translate(12vw, 57vh) scale(0.5275138009) rotate(-52deg);
  }
  to {
    transform: translate(7vw, 100vh) scale(0.5275138009) rotate(81deg);
  }
}
.flowers > div:nth-child(35) {
  opacity: 0.899633172;
  transform: translate(80vw, -40px) scale(0.5195513447) rotate(89deg);
  animation: fall-35 35s -14s linear infinite;
}

@keyframes fall-35 {
  58% {
    transform: translate(89vw, 52vh) scale(0.5195513447) rotate(-150deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.5195513447) rotate(179deg);
  }
}
.flowers > div:nth-child(36) {
  opacity: 0.6417703197;
  transform: translate(76vw, -40px) scale(0.9904858681) rotate(116deg);
  animation: fall-36 31s -16s linear infinite;
}

@keyframes fall-36 {
  40% {
    transform: translate(74vw, 48vh) scale(0.9904858681) rotate(-148deg);
  }
  to {
    transform: translate(85vw, 100vh) scale(0.9904858681) rotate(-57deg);
  }
}
.flowers > div:nth-child(37) {
  opacity: 0.6544396096;
  transform: translate(40vw, -40px) scale(0.5931144272) rotate(10deg);
  animation: fall-37 35s -5s linear infinite;
}

@keyframes fall-37 {
  48% {
    transform: translate(31vw, 53vh) scale(0.5931144272) rotate(-78deg);
  }
  to {
    transform: translate(45vw, 100vh) scale(0.5931144272) rotate(-32deg);
  }
}
.flowers > div:nth-child(38) {
  opacity: 0.6576408072;
  transform: translate(69vw, -40px) scale(0.53314933) rotate(-76deg);
  animation: fall-38 35s -7s linear infinite;
}

@keyframes fall-38 {
  48% {
    transform: translate(76vw, 41vh) scale(0.53314933) rotate(150deg);
  }
  to {
    transform: translate(72vw, 100vh) scale(0.53314933) rotate(-110deg);
  }
}
.flowers > div:nth-child(39) {
  opacity: 0.9995975382;
  transform: translate(97vw, -40px) scale(0.8884787603) rotate(-49deg);
  animation: fall-39 28s -29s linear infinite;
}

@keyframes fall-39 {
  46% {
    transform: translate(83vw, 58vh) scale(0.8884787603) rotate(42deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.8884787603) rotate(54deg);
  }
}
.flowers > div:nth-child(40) {
  opacity: 0.6148156423;
  transform: translate(43vw, -40px) scale(0.7492615284) rotate(80deg);
  animation: fall-40 32s -3s linear infinite;
}

@keyframes fall-40 {
  56% {
    transform: translate(32vw, 41vh) scale(0.7492615284) rotate(172deg);
  }
  to {
    transform: translate(35vw, 100vh) scale(0.7492615284) rotate(116deg);
  }
}
.flowers > div:nth-child(41) {
  opacity: 0.6271821431;
  transform: translate(67vw, -40px) scale(0.5085409573) rotate(-38deg);
  animation: fall-41 31s -20s linear infinite;
}

@keyframes fall-41 {
  43% {
    transform: translate(58vw, 54vh) scale(0.5085409573) rotate(131deg);
  }
  to {
    transform: translate(58vw, 100vh) scale(0.5085409573) rotate(-73deg);
  }
}
.flowers > div:nth-child(42) {
  opacity: 0.93893431;
  transform: translate(90vw, -40px) scale(0.5224846866) rotate(-62deg);
  animation: fall-42 21s -5s linear infinite;
}

@keyframes fall-42 {
  53% {
    transform: translate(79vw, 44vh) scale(0.5224846866) rotate(-79deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.5224846866) rotate(47deg);
  }
}
.flowers > div:nth-child(43) {
  opacity: 0.7166321136;
  transform: translate(18vw, -40px) scale(0.6512887041) rotate(148deg);
  animation: fall-43 22s -27s linear infinite;
}

@keyframes fall-43 {
  57% {
    transform: translate(23vw, 54vh) scale(0.6512887041) rotate(-50deg);
  }
  to {
    transform: translate(29vw, 100vh) scale(0.6512887041) rotate(154deg);
  }
}
.flowers > div:nth-child(44) {
  opacity: 0.6138292141;
  transform: translate(50vw, -40px) scale(0.93284114) rotate(-58deg);
  animation: fall-44 28s -4s linear infinite;
}

@keyframes fall-44 {
  50% {
    transform: translate(60vw, 50vh) scale(0.93284114) rotate(-152deg);
  }
  to {
    transform: translate(59vw, 100vh) scale(0.93284114) rotate(-55deg);
  }
}
.flowers > div:nth-child(45) {
  opacity: 0.834651421;
  transform: translate(31vw, -40px) scale(0.9245895734) rotate(-145deg);
  animation: fall-45 27s -29s linear infinite;
}

@keyframes fall-45 {
  55% {
    transform: translate(32vw, 50vh) scale(0.9245895734) rotate(-23deg);
  }
  to {
    transform: translate(21vw, 100vh) scale(0.9245895734) rotate(-26deg);
  }
}
.flowers > div:nth-child(46) {
  opacity: 0.8276689696;
  transform: translate(35vw, -40px) scale(0.8738024378) rotate(-82deg);
  animation: fall-46 21s -23s linear infinite;
}

@keyframes fall-46 {
  53% {
    transform: translate(42vw, 59vh) scale(0.8738024378) rotate(122deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.8738024378) rotate(-24deg);
  }
}
.flowers > div:nth-child(47) {
  opacity: 0.8456382958;
  transform: translate(60vw, -40px) scale(0.555255833) rotate(-178deg);
  animation: fall-47 30s -8s linear infinite;
}

@keyframes fall-47 {
  57% {
    transform: translate(45vw, 50vh) scale(0.555255833) rotate(172deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.555255833) rotate(1deg);
  }
}
.flowers > div:nth-child(48) {
  opacity: 0.701430813;
  transform: translate(43vw, -40px) scale(0.8501403941) rotate(-158deg);
  animation: fall-48 35s -29s linear infinite;
}

@keyframes fall-48 {
  41% {
    transform: translate(59vw, 45vh) scale(0.8501403941) rotate(-96deg);
  }
  to {
    transform: translate(48vw, 100vh) scale(0.8501403941) rotate(-69deg);
  }
}
.flowers > div:nth-child(49) {
  opacity: 0.7282136168;
  transform: translate(49vw, -40px) scale(0.8484075783) rotate(-75deg);
  animation: fall-49 26s -25s linear infinite;
}

@keyframes fall-49 {
  44% {
    transform: translate(50vw, 57vh) scale(0.8484075783) rotate(-178deg);
  }
  to {
    transform: translate(50vw, 100vh) scale(0.8484075783) rotate(-91deg);
  }
}
.flowers > div:nth-child(50) {
  opacity: 0.9877308311;
  transform: translate(39vw, -40px) scale(0.8669698004) rotate(108deg);
  animation: fall-50 26s -18s linear infinite;
}

@keyframes fall-50 {
  38% {
    transform: translate(42vw, 43vh) scale(0.8669698004) rotate(-33deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.8669698004) rotate(46deg);
  }
}
.flowers > div:nth-child(51) {
  opacity: 0.5145677147;
  transform: translate(86vw, -40px) scale(0.7566982672) rotate(62deg);
  animation: fall-51 29s -21s linear infinite;
}

@keyframes fall-51 {
  61% {
    transform: translate(85vw, 48vh) scale(0.7566982672) rotate(-91deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.7566982672) rotate(-137deg);
  }
}
.flowers > div:nth-child(52) {
  opacity: 0.9196850714;
  transform: translate(80vw, -40px) scale(0.5338591124) rotate(160deg);
  animation: fall-52 31s -13s linear infinite;
}

@keyframes fall-52 {
  59% {
    transform: translate(79vw, 54vh) scale(0.5338591124) rotate(118deg);
  }
  to {
    transform: translate(71vw, 100vh) scale(0.5338591124) rotate(-113deg);
  }
}
.flowers > div:nth-child(53) {
  opacity: 0.5498160262;
  transform: translate(93vw, -40px) scale(0.7438795053) rotate(-174deg);
  animation: fall-53 29s -29s linear infinite;
}

@keyframes fall-53 {
  51% {
    transform: translate(98vw, 49vh) scale(0.7438795053) rotate(109deg);
  }
  to {
    transform: translate(97vw, 100vh) scale(0.7438795053) rotate(-42deg);
  }
}
.flowers > div:nth-child(54) {
  opacity: 0.7108740635;
  transform: translate(25vw, -40px) scale(0.8606784978) rotate(-148deg);
  animation: fall-54 27s -1s linear infinite;
}

@keyframes fall-54 {
  64% {
    transform: translate(23vw, 56vh) scale(0.8606784978) rotate(-150deg);
  }
  to {
    transform: translate(13vw, 100vh) scale(0.8606784978) rotate(-120deg);
  }
}
.flowers > div:nth-child(55) {
  opacity: 0.8828711227;
  transform: translate(53vw, -40px) scale(0.9917819062) rotate(138deg);
  animation: fall-55 26s -15s linear infinite;
}

@keyframes fall-55 {
  48% {
    transform: translate(40vw, 52vh) scale(0.9917819062) rotate(60deg);
  }
  to {
    transform: translate(56vw, 100vh) scale(0.9917819062) rotate(-140deg);
  }
}
.flowers > div:nth-child(56) {
  opacity: 0.5394514048;
  transform: translate(56vw, -40px) scale(0.9323349214) rotate(10deg);
  animation: fall-56 26s -30s linear infinite;
}

@keyframes fall-56 {
  52% {
    transform: translate(52vw, 53vh) scale(0.9323349214) rotate(56deg);
  }
  to {
    transform: translate(69vw, 100vh) scale(0.9323349214) rotate(-96deg);
  }
}
.flowers > div:nth-child(57) {
  opacity: 0.8950959729;
  transform: translate(92vw, -40px) scale(0.8781142456) rotate(115deg);
  animation: fall-57 33s -27s linear infinite;
}

@keyframes fall-57 {
  64% {
    transform: translate(102vw, 53vh) scale(0.8781142456) rotate(62deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.8781142456) rotate(-24deg);
  }
}
.flowers > div:nth-child(58) {
  opacity: 0.7272561587;
  transform: translate(56vw, -40px) scale(0.5213091244) rotate(156deg);
  animation: fall-58 21s -21s linear infinite;
}

@keyframes fall-58 {
  61% {
    transform: translate(59vw, 54vh) scale(0.5213091244) rotate(-147deg);
  }
  to {
    transform: translate(59vw, 100vh) scale(0.5213091244) rotate(-60deg);
  }
}
.flowers > div:nth-child(59) {
  opacity: 0.6696148892;
  transform: translate(37vw, -40px) scale(0.6590472445) rotate(-129deg);
  animation: fall-59 26s -21s linear infinite;
}

@keyframes fall-59 {
  39% {
    transform: translate(30vw, 60vh) scale(0.6590472445) rotate(-48deg);
  }
  to {
    transform: translate(36vw, 100vh) scale(0.6590472445) rotate(-8deg);
  }
}
.flowers > div:nth-child(60) {
  opacity: 0.8158005078;
  transform: translate(87vw, -40px) scale(0.703019105) rotate(-172deg);
  animation: fall-60 32s -23s linear infinite;
}

@keyframes fall-60 {
  60% {
    transform: translate(77vw, 50vh) scale(0.703019105) rotate(1deg);
  }
  to {
    transform: translate(82vw, 100vh) scale(0.703019105) rotate(62deg);
  }
}
.flowers > div:nth-child(61) {
  opacity: 0.823186348;
  transform: translate(50vw, -40px) scale(0.710608319) rotate(48deg);
  animation: fall-61 24s -5s linear infinite;
}

@keyframes fall-61 {
  44% {
    transform: translate(46vw, 51vh) scale(0.710608319) rotate(116deg);
  }
  to {
    transform: translate(37vw, 100vh) scale(0.710608319) rotate(-176deg);
  }
}
.flowers > div:nth-child(62) {
  opacity: 0.9899885348;
  transform: translate(27vw, -40px) scale(0.9994474259) rotate(51deg);
  animation: fall-62 25s -16s linear infinite;
}

@keyframes fall-62 {
  59% {
    transform: translate(20vw, 53vh) scale(0.9994474259) rotate(135deg);
  }
  to {
    transform: translate(28vw, 100vh) scale(0.9994474259) rotate(-93deg);
  }
}
.flowers > div:nth-child(63) {
  opacity: 0.8397942994;
  transform: translate(9vw, -40px) scale(0.6069605337) rotate(-69deg);
  animation: fall-63 35s -9s linear infinite;
}

@keyframes fall-63 {
  58% {
    transform: translate(7vw, 59vh) scale(0.6069605337) rotate(35deg);
  }
  to {
    transform: translate(0vw, 100vh) scale(0.6069605337) rotate(-23deg);
  }
}
.flowers > div:nth-child(64) {
  opacity: 0.5438999642;
  transform: translate(13vw, -40px) scale(0.852147999) rotate(130deg);
  animation: fall-64 28s -2s linear infinite;
}

@keyframes fall-64 {
  39% {
    transform: translate(27vw, 57vh) scale(0.852147999) rotate(-35deg);
  }
  to {
    transform: translate(23vw, 100vh) scale(0.852147999) rotate(53deg);
  }
}
.flowers > div:nth-child(65) {
  opacity: 0.9798472583;
  transform: translate(67vw, -40px) scale(0.5345362086) rotate(92deg);
  animation: fall-65 30s -4s linear infinite;
}

@keyframes fall-65 {
  62% {
    transform: translate(75vw, 58vh) scale(0.5345362086) rotate(-119deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.5345362086) rotate(159deg);
  }
}
.flowers > div:nth-child(66) {
  opacity: 0.932551687;
  transform: translate(85vw, -40px) scale(0.6705440211) rotate(0deg);
  animation: fall-66 34s -18s linear infinite;
}

@keyframes fall-66 {
  41% {
    transform: translate(79vw, 46vh) scale(0.6705440211) rotate(-107deg);
  }
  to {
    transform: translate(98vw, 100vh) scale(0.6705440211) rotate(166deg);
  }
}
.flowers > div:nth-child(67) {
  opacity: 0.743629738;
  transform: translate(-1vw, -40px) scale(0.5477391013) rotate(53deg);
  animation: fall-67 34s -11s linear infinite;
}

@keyframes fall-67 {
  46% {
    transform: translate(3vw, 58vh) scale(0.5477391013) rotate(96deg);
  }
  to {
    transform: translate(14vw, 100vh) scale(0.5477391013) rotate(59deg);
  }
}
.flowers > div:nth-child(68) {
  opacity: 0.6077039592;
  transform: translate(77vw, -40px) scale(0.571272351) rotate(98deg);
  animation: fall-68 26s -19s linear infinite;
}

@keyframes fall-68 {
  44% {
    transform: translate(94vw, 44vh) scale(0.571272351) rotate(-86deg);
  }
  to {
    transform: translate(94vw, 100vh) scale(0.571272351) rotate(130deg);
  }
}
.flowers > div:nth-child(69) {
  opacity: 0.7651835531;
  transform: translate(40vw, -40px) scale(0.7136465626) rotate(-155deg);
  animation: fall-69 34s -25s linear infinite;
}

@keyframes fall-69 {
  44% {
    transform: translate(35vw, 45vh) scale(0.7136465626) rotate(142deg);
  }
  to {
    transform: translate(39vw, 100vh) scale(0.7136465626) rotate(170deg);
  }
}
.flowers > div:nth-child(70) {
  opacity: 0.8392979368;
  transform: translate(83vw, -40px) scale(0.5331069431) rotate(-16deg);
  animation: fall-70 29s -26s linear infinite;
}

@keyframes fall-70 {
  64% {
    transform: translate(80vw, 55vh) scale(0.5331069431) rotate(79deg);
  }
  to {
    transform: translate(95vw, 100vh) scale(0.5331069431) rotate(156deg);
  }
}
.flowers > div:nth-child(71) {
  opacity: 0.653542848;
  transform: translate(35vw, -40px) scale(0.7322042093) rotate(-48deg);
  animation: fall-71 23s -26s linear infinite;
}

@keyframes fall-71 {
  62% {
    transform: translate(31vw, 55vh) scale(0.7322042093) rotate(23deg);
  }
  to {
    transform: translate(41vw, 100vh) scale(0.7322042093) rotate(-85deg);
  }
}
.flowers > div:nth-child(72) {
  opacity: 0.9725036576;
  transform: translate(65vw, -40px) scale(0.5729991925) rotate(-37deg);
  animation: fall-72 35s -29s linear infinite;
}

@keyframes fall-72 {
  64% {
    transform: translate(65vw, 48vh) scale(0.5729991925) rotate(121deg);
  }
  to {
    transform: translate(69vw, 100vh) scale(0.5729991925) rotate(-101deg);
  }
}
.flowers > div:nth-child(73) {
  opacity: 0.9532145259;
  transform: translate(17vw, -40px) scale(0.9418802689) rotate(-113deg);
  animation: fall-73 22s -18s linear infinite;
}

@keyframes fall-73 {
  54% {
    transform: translate(22vw, 49vh) scale(0.9418802689) rotate(-136deg);
  }
  to {
    transform: translate(21vw, 100vh) scale(0.9418802689) rotate(-91deg);
  }
}
.flowers > div:nth-child(74) {
  opacity: 0.5710260751;
  transform: translate(37vw, -40px) scale(0.7568007497) rotate(43deg);
  animation: fall-74 33s -8s linear infinite;
}

@keyframes fall-74 {
  54% {
    transform: translate(31vw, 42vh) scale(0.7568007497) rotate(-171deg);
  }
  to {
    transform: translate(30vw, 100vh) scale(0.7568007497) rotate(-48deg);
  }
}
.flowers > div:nth-child(75) {
  opacity: 0.8340504665;
  transform: translate(3vw, -40px) scale(0.6942396367) rotate(-62deg);
  animation: fall-75 26s -11s linear infinite;
}

@keyframes fall-75 {
  62% {
    transform: translate(6vw, 49vh) scale(0.6942396367) rotate(-37deg);
  }
  to {
    transform: translate(10vw, 100vh) scale(0.6942396367) rotate(-165deg);
  }
}
.flowers > div:nth-child(76) {
  opacity: 0.6589123118;
  transform: translate(33vw, -40px) scale(0.6233857298) rotate(154deg);
  animation: fall-76 26s -23s linear infinite;
}

@keyframes fall-76 {
  41% {
    transform: translate(27vw, 45vh) scale(0.6233857298) rotate(-41deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.6233857298) rotate(-129deg);
  }
}
.flowers > div:nth-child(77) {
  opacity: 0.8381436687;
  transform: translate(67vw, -40px) scale(0.5581732517) rotate(106deg);
  animation: fall-77 22s -7s linear infinite;
}

@keyframes fall-77 {
  64% {
    transform: translate(65vw, 41vh) scale(0.5581732517) rotate(-79deg);
  }
  to {
    transform: translate(63vw, 100vh) scale(0.5581732517) rotate(-171deg);
  }
}
.flowers > div:nth-child(78) {
  opacity: 0.5429953203;
  transform: translate(72vw, -40px) scale(0.9602977978) rotate(-38deg);
  animation: fall-78 33s -24s linear infinite;
}

@keyframes fall-78 {
  61% {
    transform: translate(72vw, 50vh) scale(0.9602977978) rotate(-178deg);
  }
  to {
    transform: translate(76vw, 100vh) scale(0.9602977978) rotate(-116deg);
  }
}
.flowers > div:nth-child(79) {
  opacity: 0.6319546106;
  transform: translate(9vw, -40px) scale(0.9169529145) rotate(130deg);
  animation: fall-79 33s -27s linear infinite;
}

@keyframes fall-79 {
  53% {
    transform: translate(-2vw, 58vh) scale(0.9169529145) rotate(-154deg);
  }
  to {
    transform: translate(1vw, 100vh) scale(0.9169529145) rotate(12deg);
  }
}
.flowers > div:nth-child(80) {
  opacity: 0.587917447;
  transform: translate(55vw, -40px) scale(0.9259673149) rotate(21deg);
  animation: fall-80 23s -26s linear infinite;
}

@keyframes fall-80 {
  55% {
    transform: translate(46vw, 60vh) scale(0.9259673149) rotate(139deg);
  }
  to {
    transform: translate(37vw, 100vh) scale(0.9259673149) rotate(-158deg);
  }
}
.flowers > div:nth-child(81) {
  opacity: 0.9755629058;
  transform: translate(42vw, -40px) scale(0.6763525745) rotate(-32deg);
  animation: fall-81 27s -12s linear infinite;
}

@keyframes fall-81 {
  54% {
    transform: translate(51vw, 49vh) scale(0.6763525745) rotate(156deg);
  }
  to {
    transform: translate(42vw, 100vh) scale(0.6763525745) rotate(-162deg);
  }
}
.flowers > div:nth-child(82) {
  opacity: 0.5567195783;
  transform: translate(87vw, -40px) scale(0.6493890616) rotate(-164deg);
  animation: fall-82 29s -25s linear infinite;
}

@keyframes fall-82 {
  50% {
    transform: translate(89vw, 57vh) scale(0.6493890616) rotate(-109deg);
  }
  to {
    transform: translate(96vw, 100vh) scale(0.6493890616) rotate(60deg);
  }
}
.flowers > div:nth-child(83) {
  opacity: 0.6561881529;
  transform: translate(16vw, -40px) scale(0.8549234456) rotate(-87deg);
  animation: fall-83 27s -5s linear infinite;
}

@keyframes fall-83 {
  59% {
    transform: translate(3vw, 47vh) scale(0.8549234456) rotate(-144deg);
  }
  to {
    transform: translate(17vw, 100vh) scale(0.8549234456) rotate(40deg);
  }
}
.flowers > div:nth-child(84) {
  opacity: 0.7835746108;
  transform: translate(75vw, -40px) scale(0.6742530131) rotate(-70deg);
  animation: fall-84 30s -1s linear infinite;
}

@keyframes fall-84 {
  58% {
    transform: translate(73vw, 55vh) scale(0.6742530131) rotate(-33deg);
  }
  to {
    transform: translate(59vw, 100vh) scale(0.6742530131) rotate(-27deg);
  }
}
.flowers > div:nth-child(85) {
  opacity: 0.875689574;
  transform: translate(38vw, -40px) scale(0.7428483939) rotate(36deg);
  animation: fall-85 29s -11s linear infinite;
}

@keyframes fall-85 {
  40% {
    transform: translate(36vw, 58vh) scale(0.7428483939) rotate(-123deg);
  }
  to {
    transform: translate(42vw, 100vh) scale(0.7428483939) rotate(122deg);
  }
}
.flowers > div:nth-child(86) {
  opacity: 0.842464743;
  transform: translate(38vw, -40px) scale(0.6867843358) rotate(-78deg);
  animation: fall-86 27s -19s linear infinite;
}

@keyframes fall-86 {
  43% {
    transform: translate(32vw, 54vh) scale(0.6867843358) rotate(2deg);
  }
  to {
    transform: translate(39vw, 100vh) scale(0.6867843358) rotate(102deg);
  }
}
.flowers > div:nth-child(87) {
  opacity: 0.8210981501;
  transform: translate(88vw, -40px) scale(0.5449612229) rotate(-91deg);
  animation: fall-87 30s -18s linear infinite;
}

@keyframes fall-87 {
  59% {
    transform: translate(88vw, 41vh) scale(0.5449612229) rotate(156deg);
  }
  to {
    transform: translate(78vw, 100vh) scale(0.5449612229) rotate(150deg);
  }
}
.flowers > div:nth-child(88) {
  opacity: 0.5636860247;
  transform: translate(7vw, -40px) scale(0.6059823356) rotate(-57deg);
  animation: fall-88 30s -18s linear infinite;
}

@keyframes fall-88 {
  37% {
    transform: translate(-2vw, 47vh) scale(0.6059823356) rotate(-118deg);
  }
  to {
    transform: translate(16vw, 100vh) scale(0.6059823356) rotate(-135deg);
  }
}
.flowers > div:nth-child(89) {
  opacity: 0.5035851943;
  transform: translate(36vw, -40px) scale(0.6633607736) rotate(-126deg);
  animation: fall-89 21s -18s linear infinite;
}

@keyframes fall-89 {
  52% {
    transform: translate(34vw, 54vh) scale(0.6633607736) rotate(155deg);
  }
  to {
    transform: translate(48vw, 100vh) scale(0.6633607736) rotate(-8deg);
  }
}
.flowers > div:nth-child(90) {
  opacity: 0.9461938543;
  transform: translate(6vw, -40px) scale(0.5588091399) rotate(142deg);
  animation: fall-90 30s -24s linear infinite;
}

@keyframes fall-90 {
  43% {
    transform: translate(-1vw, 56vh) scale(0.5588091399) rotate(129deg);
  }
  to {
    transform: translate(11vw, 100vh) scale(0.5588091399) rotate(-109deg);
  }
}
.flowers > div:nth-child(91) {
  opacity: 0.6317001423;
  transform: translate(47vw, -40px) scale(0.658042405) rotate(19deg);
  animation: fall-91 21s -20s linear infinite;
}

@keyframes fall-91 {
  39% {
    transform: translate(44vw, 59vh) scale(0.658042405) rotate(-58deg);
  }
  to {
    transform: translate(47vw, 100vh) scale(0.658042405) rotate(86deg);
  }
}
.flowers > div:nth-child(92) {
  opacity: 0.578362201;
  transform: translate(6vw, -40px) scale(0.5772953677) rotate(107deg);
  animation: fall-92 35s -1s linear infinite;
}

@keyframes fall-92 {
  63% {
    transform: translate(-1vw, 52vh) scale(0.5772953677) rotate(-108deg);
  }
  to {
    transform: translate(9vw, 100vh) scale(0.5772953677) rotate(-167deg);
  }
}
.flowers > div:nth-child(93) {
  opacity: 0.5387182576;
  transform: translate(50vw, -40px) scale(0.9194358649) rotate(47deg);
  animation: fall-93 29s -22s linear infinite;
}

@keyframes fall-93 {
  43% {
    transform: translate(54vw, 56vh) scale(0.9194358649) rotate(63deg);
  }
  to {
    transform: translate(58vw, 100vh) scale(0.9194358649) rotate(28deg);
  }
}
.flowers > div:nth-child(94) {
  opacity: 0.6396327457;
  transform: translate(44vw, -40px) scale(0.9456358365) rotate(-109deg);
  animation: fall-94 25s -25s linear infinite;
}

@keyframes fall-94 {
  38% {
    transform: translate(44vw, 57vh) scale(0.9456358365) rotate(85deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.9456358365) rotate(-127deg);
  }
}
.flowers > div:nth-child(95) {
  opacity: 0.5509429166;
  transform: translate(96vw, -40px) scale(0.661371135) rotate(-111deg);
  animation: fall-95 31s -1s linear infinite;
}

@keyframes fall-95 {
  50% {
    transform: translate(85vw, 42vh) scale(0.661371135) rotate(-99deg);
  }
  to {
    transform: translate(97vw, 100vh) scale(0.661371135) rotate(-131deg);
  }
}
.flowers > div:nth-child(96) {
  opacity: 0.7111379742;
  transform: translate(62vw, -40px) scale(0.9634562774) rotate(-121deg);
  animation: fall-96 31s -17s linear infinite;
}

@keyframes fall-96 {
  39% {
    transform: translate(66vw, 58vh) scale(0.9634562774) rotate(3deg);
  }
  to {
    transform: translate(65vw, 100vh) scale(0.9634562774) rotate(-132deg);
  }
}
.flowers > div:nth-child(97) {
  opacity: 0.9351439717;
  transform: translate(61vw, -40px) scale(0.7313416509) rotate(-6deg);
  animation: fall-97 25s -11s linear infinite;
}

@keyframes fall-97 {
  64% {
    transform: translate(53vw, 52vh) scale(0.7313416509) rotate(-127deg);
  }
  to {
    transform: translate(56vw, 100vh) scale(0.7313416509) rotate(-179deg);
  }
}
.flowers > div:nth-child(98) {
  opacity: 0.8467812626;
  transform: translate(101vw, -40px) scale(0.5912478118) rotate(-97deg);
  animation: fall-98 30s -26s linear infinite;
}

@keyframes fall-98 {
  55% {
    transform: translate(86vw, 42vh) scale(0.5912478118) rotate(149deg);
  }
  to {
    transform: translate(100vw, 100vh) scale(0.5912478118) rotate(-21deg);
  }
}
.flowers > div:nth-child(99) {
  opacity: 0.9917492044;
  transform: translate(82vw, -40px) scale(0.8004069869) rotate(0deg);
  animation: fall-99 26s -19s linear infinite;
}

@keyframes fall-99 {
  45% {
    transform: translate(69vw, 41vh) scale(0.8004069869) rotate(34deg);
  }
  to {
    transform: translate(77vw, 100vh) scale(0.8004069869) rotate(124deg);
  }
}
.flowers > div:nth-child(100) {
  opacity: 0.9309126364;
  transform: translate(54vw, -40px) scale(0.7167771914) rotate(-35deg);
  animation: fall-100 35s -11s linear infinite;
}

@keyframes fall-100 {
  41% {
    transform: translate(54vw, 50vh) scale(0.7167771914) rotate(-126deg);
  }
  to {
    transform: translate(40vw, 100vh) scale(0.7167771914) rotate(55deg);
  }
}
.h-flowers > div:nth-child(1) {
  width: 85px;
  height: 104px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.7198793309s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(2) {
  width: 51px;
  height: 108px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9548425814s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(3) {
  width: 84px;
  height: 61px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6009911708s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(4) {
  width: 69px;
  height: 146px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6248824307s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(5) {
  width: 41px;
  height: 40px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5865558311s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(6) {
  width: 54px;
  height: 114px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2660958627s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(7) {
  width: 77px;
  height: 94px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6852242797s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(8) {
  width: 77px;
  height: 94px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2067564159s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(9) {
  width: 75px;
  height: 92px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3172020789s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(10) {
  width: 57px;
  height: 55px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.822601581s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(11) {
  width: 72px;
  height: 88px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2441409182s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(12) {
  width: 47px;
  height: 45px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6752234169s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(13) {
  width: 76px;
  height: 93px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7741329196s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(14) {
  width: 44px;
  height: 44px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5664612009s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(15) {
  width: 67px;
  height: 82px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3358385036s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(16) {
  width: 55px;
  height: 54px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1017546567s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(17) {
  width: 46px;
  height: 45px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3157547046s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(18) {
  width: 87px;
  height: 76px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5980499287s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(19) {
  width: 79px;
  height: 96px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.032692355s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(20) {
  width: 101px;
  height: 81px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3150329029s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(21) {
  width: 75px;
  height: 91px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.0224413392s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(22) {
  width: 74px;
  height: 90px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2291813205s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(23) {
  width: 44px;
  height: 43px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5123736999s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(24) {
  width: 41px;
  height: 40px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6293892822s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(25) {
  width: 73px;
  height: 59px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1505106016s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(26) {
  width: 73px;
  height: 90px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1282980929s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(27) {
  width: 71px;
  height: 52px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2429083541s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(28) {
  width: 80px;
  height: 65px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1474431588s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(29) {
  width: 60px;
  height: 60px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.777099041s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(30) {
  width: 92px;
  height: 74px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8011147459s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(31) {
  width: 89px;
  height: 108px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5963220317s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(32) {
  width: 55px;
  height: 116px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2140974193s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(33) {
  width: 40px;
  height: 39px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8348488267s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(34) {
  width: 67px;
  height: 81px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3538381167s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(35) {
  width: 57px;
  height: 122px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2170599973s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(36) {
  width: 65px;
  height: 80px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5179712083s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(37) {
  width: 67px;
  height: 59px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.7970659077s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(38) {
  width: 84px;
  height: 102px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0744904519s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(39) {
  width: 55px;
  height: 117px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.9484521998s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(40) {
  width: 67px;
  height: 59px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2284311791s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(41) {
  width: 61px;
  height: 129px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3885939955s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(42) {
  width: 89px;
  height: 72px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.392785211s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(43) {
  width: 82px;
  height: 66px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.917530656s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(44) {
  width: 44px;
  height: 43px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1125317432s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(45) {
  width: 86px;
  height: 62px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0141546449s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(46) {
  width: 76px;
  height: 93px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.273694979s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(47) {
  width: 66px;
  height: 80px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3606888894s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(48) {
  width: 85px;
  height: 103px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5998206964s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(49) {
  width: 88px;
  height: 107px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.916691781s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(50) {
  width: 51px;
  height: 51px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.4090100315s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}