@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.iwd {
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.flowers > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../flowers/flower.png") center/contain no-repeat transparent;
}

.h-flowers {
  display: flex;
  transform: translateY(-60%);
  align-items: center;
  justify-content: center;
}
.h-flowers > div {
  flex-shrink: 0;
  transform-origin: center top;
}

.flowers > div:nth-child(1) {
  opacity: 0.5499335551;
  transform: translate(99vw, -40px) scale(0.6485586021) rotate(-66deg);
  animation: fall-1 30s -14s linear infinite;
}

@keyframes fall-1 {
  54% {
    transform: translate(95vw, 51vh) scale(0.6485586021) rotate(147deg);
  }
  to {
    transform: translate(99vw, 100vh) scale(0.6485586021) rotate(-171deg);
  }
}
.flowers > div:nth-child(2) {
  opacity: 0.9698342032;
  transform: translate(77vw, -40px) scale(0.6689005861) rotate(178deg);
  animation: fall-2 23s -19s linear infinite;
}

@keyframes fall-2 {
  57% {
    transform: translate(81vw, 57vh) scale(0.6689005861) rotate(16deg);
  }
  to {
    transform: translate(74vw, 100vh) scale(0.6689005861) rotate(167deg);
  }
}
.flowers > div:nth-child(3) {
  opacity: 0.6261141311;
  transform: translate(23vw, -40px) scale(0.7716344206) rotate(179deg);
  animation: fall-3 34s -26s linear infinite;
}

@keyframes fall-3 {
  51% {
    transform: translate(34vw, 43vh) scale(0.7716344206) rotate(-130deg);
  }
  to {
    transform: translate(20vw, 100vh) scale(0.7716344206) rotate(-111deg);
  }
}
.flowers > div:nth-child(4) {
  opacity: 0.8491058561;
  transform: translate(31vw, -40px) scale(0.5721917563) rotate(170deg);
  animation: fall-4 27s -6s linear infinite;
}

@keyframes fall-4 {
  42% {
    transform: translate(30vw, 53vh) scale(0.5721917563) rotate(101deg);
  }
  to {
    transform: translate(27vw, 100vh) scale(0.5721917563) rotate(-119deg);
  }
}
.flowers > div:nth-child(5) {
  opacity: 0.5338526856;
  transform: translate(24vw, -40px) scale(0.772751643) rotate(-120deg);
  animation: fall-5 28s -11s linear infinite;
}

@keyframes fall-5 {
  41% {
    transform: translate(6vw, 53vh) scale(0.772751643) rotate(179deg);
  }
  to {
    transform: translate(8vw, 100vh) scale(0.772751643) rotate(-11deg);
  }
}
.flowers > div:nth-child(6) {
  opacity: 0.7218872276;
  transform: translate(89vw, -40px) scale(0.8126851216) rotate(123deg);
  animation: fall-6 24s -10s linear infinite;
}

@keyframes fall-6 {
  47% {
    transform: translate(101vw, 41vh) scale(0.8126851216) rotate(-133deg);
  }
  to {
    transform: translate(97vw, 100vh) scale(0.8126851216) rotate(-161deg);
  }
}
.flowers > div:nth-child(7) {
  opacity: 0.7727996386;
  transform: translate(51vw, -40px) scale(0.5264046393) rotate(44deg);
  animation: fall-7 21s -13s linear infinite;
}

@keyframes fall-7 {
  37% {
    transform: translate(66vw, 47vh) scale(0.5264046393) rotate(145deg);
  }
  to {
    transform: translate(52vw, 100vh) scale(0.5264046393) rotate(-37deg);
  }
}
.flowers > div:nth-child(8) {
  opacity: 0.7021095893;
  transform: translate(93vw, -40px) scale(0.9049504856) rotate(-78deg);
  animation: fall-8 28s -29s linear infinite;
}

@keyframes fall-8 {
  56% {
    transform: translate(95vw, 49vh) scale(0.9049504856) rotate(-144deg);
  }
  to {
    transform: translate(105vw, 100vh) scale(0.9049504856) rotate(-147deg);
  }
}
.flowers > div:nth-child(9) {
  opacity: 0.8131218022;
  transform: translate(7vw, -40px) scale(0.8368491773) rotate(-130deg);
  animation: fall-9 21s -22s linear infinite;
}

@keyframes fall-9 {
  55% {
    transform: translate(12vw, 58vh) scale(0.8368491773) rotate(-177deg);
  }
  to {
    transform: translate(12vw, 100vh) scale(0.8368491773) rotate(113deg);
  }
}
.flowers > div:nth-child(10) {
  opacity: 0.8983212512;
  transform: translate(85vw, -40px) scale(0.9731415427) rotate(-172deg);
  animation: fall-10 34s -15s linear infinite;
}

@keyframes fall-10 {
  37% {
    transform: translate(82vw, 58vh) scale(0.9731415427) rotate(14deg);
  }
  to {
    transform: translate(70vw, 100vh) scale(0.9731415427) rotate(11deg);
  }
}
.flowers > div:nth-child(11) {
  opacity: 0.9896448667;
  transform: translate(92vw, -40px) scale(0.5786058658) rotate(-76deg);
  animation: fall-11 24s -2s linear infinite;
}

@keyframes fall-11 {
  42% {
    transform: translate(94vw, 45vh) scale(0.5786058658) rotate(-152deg);
  }
  to {
    transform: translate(94vw, 100vh) scale(0.5786058658) rotate(-129deg);
  }
}
.flowers > div:nth-child(12) {
  opacity: 0.9138477811;
  transform: translate(29vw, -40px) scale(0.9889313214) rotate(-36deg);
  animation: fall-12 32s -25s linear infinite;
}

@keyframes fall-12 {
  48% {
    transform: translate(36vw, 55vh) scale(0.9889313214) rotate(-60deg);
  }
  to {
    transform: translate(34vw, 100vh) scale(0.9889313214) rotate(-57deg);
  }
}
.flowers > div:nth-child(13) {
  opacity: 0.8183474009;
  transform: translate(18vw, -40px) scale(0.6082611512) rotate(23deg);
  animation: fall-13 25s -17s linear infinite;
}

@keyframes fall-13 {
  47% {
    transform: translate(36vw, 57vh) scale(0.6082611512) rotate(-54deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.6082611512) rotate(-155deg);
  }
}
.flowers > div:nth-child(14) {
  opacity: 0.6826253612;
  transform: translate(107vw, -40px) scale(0.737586472) rotate(-144deg);
  animation: fall-14 30s -29s linear infinite;
}

@keyframes fall-14 {
  62% {
    transform: translate(98vw, 59vh) scale(0.737586472) rotate(1deg);
  }
  to {
    transform: translate(94vw, 100vh) scale(0.737586472) rotate(55deg);
  }
}
.flowers > div:nth-child(15) {
  opacity: 0.8725249909;
  transform: translate(61vw, -40px) scale(0.6277019365) rotate(-6deg);
  animation: fall-15 22s -29s linear infinite;
}

@keyframes fall-15 {
  48% {
    transform: translate(65vw, 43vh) scale(0.6277019365) rotate(-64deg);
  }
  to {
    transform: translate(70vw, 100vh) scale(0.6277019365) rotate(-164deg);
  }
}
.flowers > div:nth-child(16) {
  opacity: 0.7564902073;
  transform: translate(43vw, -40px) scale(0.7599508725) rotate(98deg);
  animation: fall-16 24s -27s linear infinite;
}

@keyframes fall-16 {
  39% {
    transform: translate(45vw, 50vh) scale(0.7599508725) rotate(144deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.7599508725) rotate(-119deg);
  }
}
.flowers > div:nth-child(17) {
  opacity: 0.9073115685;
  transform: translate(86vw, -40px) scale(0.6966711707) rotate(-127deg);
  animation: fall-17 33s -19s linear infinite;
}

@keyframes fall-17 {
  42% {
    transform: translate(89vw, 42vh) scale(0.6966711707) rotate(-43deg);
  }
  to {
    transform: translate(80vw, 100vh) scale(0.6966711707) rotate(148deg);
  }
}
.flowers > div:nth-child(18) {
  opacity: 0.6391561819;
  transform: translate(23vw, -40px) scale(0.5050246978) rotate(-42deg);
  animation: fall-18 25s -7s linear infinite;
}

@keyframes fall-18 {
  55% {
    transform: translate(11vw, 53vh) scale(0.5050246978) rotate(-71deg);
  }
  to {
    transform: translate(13vw, 100vh) scale(0.5050246978) rotate(65deg);
  }
}
.flowers > div:nth-child(19) {
  opacity: 0.8530769016;
  transform: translate(23vw, -40px) scale(0.574125961) rotate(-2deg);
  animation: fall-19 23s -14s linear infinite;
}

@keyframes fall-19 {
  65% {
    transform: translate(17vw, 56vh) scale(0.574125961) rotate(-176deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.574125961) rotate(-59deg);
  }
}
.flowers > div:nth-child(20) {
  opacity: 0.7837469682;
  transform: translate(63vw, -40px) scale(0.5726681638) rotate(-164deg);
  animation: fall-20 27s -10s linear infinite;
}

@keyframes fall-20 {
  37% {
    transform: translate(68vw, 41vh) scale(0.5726681638) rotate(-115deg);
  }
  to {
    transform: translate(69vw, 100vh) scale(0.5726681638) rotate(-12deg);
  }
}
.flowers > div:nth-child(21) {
  opacity: 0.7746476387;
  transform: translate(78vw, -40px) scale(0.8496729231) rotate(176deg);
  animation: fall-21 25s -25s linear infinite;
}

@keyframes fall-21 {
  56% {
    transform: translate(80vw, 59vh) scale(0.8496729231) rotate(157deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.8496729231) rotate(-59deg);
  }
}
.flowers > div:nth-child(22) {
  opacity: 0.6449462932;
  transform: translate(31vw, -40px) scale(0.7193966994) rotate(-24deg);
  animation: fall-22 22s -29s linear infinite;
}

@keyframes fall-22 {
  48% {
    transform: translate(27vw, 60vh) scale(0.7193966994) rotate(-104deg);
  }
  to {
    transform: translate(32vw, 100vh) scale(0.7193966994) rotate(-65deg);
  }
}
.flowers > div:nth-child(23) {
  opacity: 0.9380270736;
  transform: translate(22vw, -40px) scale(0.8496196031) rotate(156deg);
  animation: fall-23 24s -10s linear infinite;
}

@keyframes fall-23 {
  65% {
    transform: translate(23vw, 50vh) scale(0.8496196031) rotate(40deg);
  }
  to {
    transform: translate(27vw, 100vh) scale(0.8496196031) rotate(-50deg);
  }
}
.flowers > div:nth-child(24) {
  opacity: 0.6133697444;
  transform: translate(5vw, -40px) scale(0.6823848614) rotate(-15deg);
  animation: fall-24 23s -22s linear infinite;
}

@keyframes fall-24 {
  55% {
    transform: translate(5vw, 45vh) scale(0.6823848614) rotate(-135deg);
  }
  to {
    transform: translate(1vw, 100vh) scale(0.6823848614) rotate(152deg);
  }
}
.flowers > div:nth-child(25) {
  opacity: 0.6820190579;
  transform: translate(33vw, -40px) scale(0.7032961078) rotate(73deg);
  animation: fall-25 26s -23s linear infinite;
}

@keyframes fall-25 {
  63% {
    transform: translate(32vw, 45vh) scale(0.7032961078) rotate(55deg);
  }
  to {
    transform: translate(41vw, 100vh) scale(0.7032961078) rotate(-149deg);
  }
}
.flowers > div:nth-child(26) {
  opacity: 0.9431209595;
  transform: translate(29vw, -40px) scale(0.8427337541) rotate(-158deg);
  animation: fall-26 21s -6s linear infinite;
}

@keyframes fall-26 {
  39% {
    transform: translate(30vw, 51vh) scale(0.8427337541) rotate(-176deg);
  }
  to {
    transform: translate(35vw, 100vh) scale(0.8427337541) rotate(-137deg);
  }
}
.flowers > div:nth-child(27) {
  opacity: 0.6284473836;
  transform: translate(13vw, -40px) scale(0.9775752038) rotate(-38deg);
  animation: fall-27 22s -24s linear infinite;
}

@keyframes fall-27 {
  63% {
    transform: translate(12vw, 55vh) scale(0.9775752038) rotate(-70deg);
  }
  to {
    transform: translate(14vw, 100vh) scale(0.9775752038) rotate(-6deg);
  }
}
.flowers > div:nth-child(28) {
  opacity: 0.9808073232;
  transform: translate(43vw, -40px) scale(0.6329784126) rotate(67deg);
  animation: fall-28 28s -15s linear infinite;
}

@keyframes fall-28 {
  52% {
    transform: translate(43vw, 54vh) scale(0.6329784126) rotate(-3deg);
  }
  to {
    transform: translate(47vw, 100vh) scale(0.6329784126) rotate(-79deg);
  }
}
.flowers > div:nth-child(29) {
  opacity: 0.9867213302;
  transform: translate(32vw, -40px) scale(0.8351697009) rotate(146deg);
  animation: fall-29 22s -24s linear infinite;
}

@keyframes fall-29 {
  38% {
    transform: translate(20vw, 53vh) scale(0.8351697009) rotate(-178deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.8351697009) rotate(163deg);
  }
}
.flowers > div:nth-child(30) {
  opacity: 0.8120281622;
  transform: translate(25vw, -40px) scale(0.7912779184) rotate(-133deg);
  animation: fall-30 31s -17s linear infinite;
}

@keyframes fall-30 {
  49% {
    transform: translate(30vw, 59vh) scale(0.7912779184) rotate(171deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.7912779184) rotate(-173deg);
  }
}
.flowers > div:nth-child(31) {
  opacity: 0.7059171956;
  transform: translate(23vw, -40px) scale(0.6360489971) rotate(-128deg);
  animation: fall-31 28s -25s linear infinite;
}

@keyframes fall-31 {
  44% {
    transform: translate(11vw, 44vh) scale(0.6360489971) rotate(-35deg);
  }
  to {
    transform: translate(23vw, 100vh) scale(0.6360489971) rotate(131deg);
  }
}
.flowers > div:nth-child(32) {
  opacity: 0.5125101221;
  transform: translate(38vw, -40px) scale(0.5003379018) rotate(98deg);
  animation: fall-32 30s -2s linear infinite;
}

@keyframes fall-32 {
  62% {
    transform: translate(32vw, 57vh) scale(0.5003379018) rotate(5deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.5003379018) rotate(-114deg);
  }
}
.flowers > div:nth-child(33) {
  opacity: 0.6953037063;
  transform: translate(41vw, -40px) scale(0.963905103) rotate(-7deg);
  animation: fall-33 35s -14s linear infinite;
}

@keyframes fall-33 {
  42% {
    transform: translate(33vw, 58vh) scale(0.963905103) rotate(-131deg);
  }
  to {
    transform: translate(28vw, 100vh) scale(0.963905103) rotate(-16deg);
  }
}
.flowers > div:nth-child(34) {
  opacity: 0.803984152;
  transform: translate(13vw, -40px) scale(0.5990392806) rotate(142deg);
  animation: fall-34 28s -24s linear infinite;
}

@keyframes fall-34 {
  61% {
    transform: translate(24vw, 43vh) scale(0.5990392806) rotate(175deg);
  }
  to {
    transform: translate(18vw, 100vh) scale(0.5990392806) rotate(171deg);
  }
}
.flowers > div:nth-child(35) {
  opacity: 0.9461203056;
  transform: translate(76vw, -40px) scale(0.9659065311) rotate(118deg);
  animation: fall-35 27s -3s linear infinite;
}

@keyframes fall-35 {
  49% {
    transform: translate(76vw, 52vh) scale(0.9659065311) rotate(99deg);
  }
  to {
    transform: translate(78vw, 100vh) scale(0.9659065311) rotate(145deg);
  }
}
.flowers > div:nth-child(36) {
  opacity: 0.6202956315;
  transform: translate(79vw, -40px) scale(0.5655766211) rotate(107deg);
  animation: fall-36 33s -7s linear infinite;
}

@keyframes fall-36 {
  43% {
    transform: translate(88vw, 58vh) scale(0.5655766211) rotate(29deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.5655766211) rotate(71deg);
  }
}
.flowers > div:nth-child(37) {
  opacity: 0.5800130373;
  transform: translate(55vw, -40px) scale(0.7123609584) rotate(-179deg);
  animation: fall-37 26s -19s linear infinite;
}

@keyframes fall-37 {
  53% {
    transform: translate(52vw, 50vh) scale(0.7123609584) rotate(-148deg);
  }
  to {
    transform: translate(52vw, 100vh) scale(0.7123609584) rotate(-81deg);
  }
}
.flowers > div:nth-child(38) {
  opacity: 0.5575426635;
  transform: translate(56vw, -40px) scale(0.9571814787) rotate(-121deg);
  animation: fall-38 31s -26s linear infinite;
}

@keyframes fall-38 {
  63% {
    transform: translate(51vw, 56vh) scale(0.9571814787) rotate(-10deg);
  }
  to {
    transform: translate(42vw, 100vh) scale(0.9571814787) rotate(29deg);
  }
}
.flowers > div:nth-child(39) {
  opacity: 0.5201849781;
  transform: translate(12vw, -40px) scale(0.6774709937) rotate(61deg);
  animation: fall-39 21s -10s linear infinite;
}

@keyframes fall-39 {
  41% {
    transform: translate(3vw, 60vh) scale(0.6774709937) rotate(120deg);
  }
  to {
    transform: translate(4vw, 100vh) scale(0.6774709937) rotate(-104deg);
  }
}
.flowers > div:nth-child(40) {
  opacity: 0.9130047527;
  transform: translate(22vw, -40px) scale(0.5297790921) rotate(0deg);
  animation: fall-40 25s -8s linear infinite;
}

@keyframes fall-40 {
  39% {
    transform: translate(35vw, 50vh) scale(0.5297790921) rotate(-90deg);
  }
  to {
    transform: translate(22vw, 100vh) scale(0.5297790921) rotate(-82deg);
  }
}
.flowers > div:nth-child(41) {
  opacity: 0.9443825649;
  transform: translate(4vw, -40px) scale(0.8402806513) rotate(-46deg);
  animation: fall-41 29s -4s linear infinite;
}

@keyframes fall-41 {
  61% {
    transform: translate(12vw, 42vh) scale(0.8402806513) rotate(-22deg);
  }
  to {
    transform: translate(20vw, 100vh) scale(0.8402806513) rotate(124deg);
  }
}
.flowers > div:nth-child(42) {
  opacity: 0.7354967132;
  transform: translate(5vw, -40px) scale(0.8464339366) rotate(10deg);
  animation: fall-42 26s -19s linear infinite;
}

@keyframes fall-42 {
  40% {
    transform: translate(-3vw, 52vh) scale(0.8464339366) rotate(81deg);
  }
  to {
    transform: translate(4vw, 100vh) scale(0.8464339366) rotate(44deg);
  }
}
.flowers > div:nth-child(43) {
  opacity: 0.8855892485;
  transform: translate(9vw, -40px) scale(0.5779247137) rotate(168deg);
  animation: fall-43 23s -14s linear infinite;
}

@keyframes fall-43 {
  36% {
    transform: translate(11vw, 50vh) scale(0.5779247137) rotate(-71deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.5779247137) rotate(-178deg);
  }
}
.flowers > div:nth-child(44) {
  opacity: 0.6387753656;
  transform: translate(41vw, -40px) scale(0.5970636223) rotate(56deg);
  animation: fall-44 29s -14s linear infinite;
}

@keyframes fall-44 {
  39% {
    transform: translate(37vw, 49vh) scale(0.5970636223) rotate(62deg);
  }
  to {
    transform: translate(48vw, 100vh) scale(0.5970636223) rotate(-96deg);
  }
}
.flowers > div:nth-child(45) {
  opacity: 0.8404111058;
  transform: translate(60vw, -40px) scale(0.7180711794) rotate(60deg);
  animation: fall-45 26s -8s linear infinite;
}

@keyframes fall-45 {
  48% {
    transform: translate(59vw, 42vh) scale(0.7180711794) rotate(-174deg);
  }
  to {
    transform: translate(46vw, 100vh) scale(0.7180711794) rotate(110deg);
  }
}
.flowers > div:nth-child(46) {
  opacity: 0.9894349255;
  transform: translate(69vw, -40px) scale(0.5573761892) rotate(119deg);
  animation: fall-46 24s -2s linear infinite;
}

@keyframes fall-46 {
  44% {
    transform: translate(70vw, 49vh) scale(0.5573761892) rotate(172deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.5573761892) rotate(-49deg);
  }
}
.flowers > div:nth-child(47) {
  opacity: 0.8159201956;
  transform: translate(81vw, -40px) scale(0.8460300584) rotate(135deg);
  animation: fall-47 32s -10s linear infinite;
}

@keyframes fall-47 {
  52% {
    transform: translate(66vw, 58vh) scale(0.8460300584) rotate(65deg);
  }
  to {
    transform: translate(75vw, 100vh) scale(0.8460300584) rotate(146deg);
  }
}
.flowers > div:nth-child(48) {
  opacity: 0.7066498421;
  transform: translate(36vw, -40px) scale(0.8588632341) rotate(-159deg);
  animation: fall-48 28s -29s linear infinite;
}

@keyframes fall-48 {
  52% {
    transform: translate(49vw, 54vh) scale(0.8588632341) rotate(-122deg);
  }
  to {
    transform: translate(42vw, 100vh) scale(0.8588632341) rotate(152deg);
  }
}
.flowers > div:nth-child(49) {
  opacity: 0.5680163175;
  transform: translate(80vw, -40px) scale(0.7408598422) rotate(147deg);
  animation: fall-49 22s -21s linear infinite;
}

@keyframes fall-49 {
  57% {
    transform: translate(72vw, 41vh) scale(0.7408598422) rotate(148deg);
  }
  to {
    transform: translate(82vw, 100vh) scale(0.7408598422) rotate(-2deg);
  }
}
.flowers > div:nth-child(50) {
  opacity: 0.6941135278;
  transform: translate(84vw, -40px) scale(0.6665176304) rotate(94deg);
  animation: fall-50 31s -25s linear infinite;
}

@keyframes fall-50 {
  56% {
    transform: translate(74vw, 49vh) scale(0.6665176304) rotate(85deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.6665176304) rotate(-136deg);
  }
}
.flowers > div:nth-child(51) {
  opacity: 0.9780299322;
  transform: translate(20vw, -40px) scale(0.9864913498) rotate(-72deg);
  animation: fall-51 29s -24s linear infinite;
}

@keyframes fall-51 {
  59% {
    transform: translate(33vw, 52vh) scale(0.9864913498) rotate(97deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.9864913498) rotate(103deg);
  }
}
.flowers > div:nth-child(52) {
  opacity: 0.6006339634;
  transform: translate(40vw, -40px) scale(0.8725071993) rotate(60deg);
  animation: fall-52 25s -26s linear infinite;
}

@keyframes fall-52 {
  55% {
    transform: translate(46vw, 56vh) scale(0.8725071993) rotate(-21deg);
  }
  to {
    transform: translate(40vw, 100vh) scale(0.8725071993) rotate(-77deg);
  }
}
.flowers > div:nth-child(53) {
  opacity: 0.9190022814;
  transform: translate(94vw, -40px) scale(0.5316743388) rotate(-166deg);
  animation: fall-53 25s -8s linear infinite;
}

@keyframes fall-53 {
  48% {
    transform: translate(91vw, 48vh) scale(0.5316743388) rotate(68deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.5316743388) rotate(58deg);
  }
}
.flowers > div:nth-child(54) {
  opacity: 0.5926148757;
  transform: translate(68vw, -40px) scale(0.9884941927) rotate(-144deg);
  animation: fall-54 30s -7s linear infinite;
}

@keyframes fall-54 {
  53% {
    transform: translate(63vw, 56vh) scale(0.9884941927) rotate(110deg);
  }
  to {
    transform: translate(61vw, 100vh) scale(0.9884941927) rotate(-69deg);
  }
}
.flowers > div:nth-child(55) {
  opacity: 0.7006135876;
  transform: translate(90vw, -40px) scale(0.8590120249) rotate(161deg);
  animation: fall-55 35s -1s linear infinite;
}

@keyframes fall-55 {
  37% {
    transform: translate(89vw, 55vh) scale(0.8590120249) rotate(125deg);
  }
  to {
    transform: translate(77vw, 100vh) scale(0.8590120249) rotate(93deg);
  }
}
.flowers > div:nth-child(56) {
  opacity: 0.5316002976;
  transform: translate(14vw, -40px) scale(0.6477196312) rotate(-93deg);
  animation: fall-56 30s -30s linear infinite;
}

@keyframes fall-56 {
  38% {
    transform: translate(13vw, 53vh) scale(0.6477196312) rotate(43deg);
  }
  to {
    transform: translate(9vw, 100vh) scale(0.6477196312) rotate(-30deg);
  }
}
.flowers > div:nth-child(57) {
  opacity: 0.9959958496;
  transform: translate(46vw, -40px) scale(0.8809699612) rotate(59deg);
  animation: fall-57 33s -13s linear infinite;
}

@keyframes fall-57 {
  52% {
    transform: translate(47vw, 60vh) scale(0.8809699612) rotate(-10deg);
  }
  to {
    transform: translate(43vw, 100vh) scale(0.8809699612) rotate(104deg);
  }
}
.flowers > div:nth-child(58) {
  opacity: 0.675006941;
  transform: translate(95vw, -40px) scale(0.8065237033) rotate(70deg);
  animation: fall-58 25s -1s linear infinite;
}

@keyframes fall-58 {
  38% {
    transform: translate(90vw, 45vh) scale(0.8065237033) rotate(167deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.8065237033) rotate(43deg);
  }
}
.flowers > div:nth-child(59) {
  opacity: 0.8204428639;
  transform: translate(34vw, -40px) scale(0.6192998281) rotate(113deg);
  animation: fall-59 29s -5s linear infinite;
}

@keyframes fall-59 {
  36% {
    transform: translate(26vw, 48vh) scale(0.6192998281) rotate(78deg);
  }
  to {
    transform: translate(22vw, 100vh) scale(0.6192998281) rotate(146deg);
  }
}
.flowers > div:nth-child(60) {
  opacity: 0.6669750867;
  transform: translate(65vw, -40px) scale(0.6979267635) rotate(-132deg);
  animation: fall-60 24s -10s linear infinite;
}

@keyframes fall-60 {
  47% {
    transform: translate(84vw, 52vh) scale(0.6979267635) rotate(-130deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.6979267635) rotate(66deg);
  }
}
.flowers > div:nth-child(61) {
  opacity: 0.8632819748;
  transform: translate(17vw, -40px) scale(0.622721019) rotate(-73deg);
  animation: fall-61 35s -5s linear infinite;
}

@keyframes fall-61 {
  47% {
    transform: translate(20vw, 53vh) scale(0.622721019) rotate(147deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.622721019) rotate(165deg);
  }
}
.flowers > div:nth-child(62) {
  opacity: 0.6458001691;
  transform: translate(82vw, -40px) scale(0.5335455024) rotate(-10deg);
  animation: fall-62 21s -20s linear infinite;
}

@keyframes fall-62 {
  44% {
    transform: translate(73vw, 56vh) scale(0.5335455024) rotate(-55deg);
  }
  to {
    transform: translate(65vw, 100vh) scale(0.5335455024) rotate(-20deg);
  }
}
.flowers > div:nth-child(63) {
  opacity: 0.7131973699;
  transform: translate(100vw, -40px) scale(0.8852444159) rotate(169deg);
  animation: fall-63 25s -21s linear infinite;
}

@keyframes fall-63 {
  58% {
    transform: translate(94vw, 50vh) scale(0.8852444159) rotate(75deg);
  }
  to {
    transform: translate(91vw, 100vh) scale(0.8852444159) rotate(129deg);
  }
}
.flowers > div:nth-child(64) {
  opacity: 0.998799511;
  transform: translate(15vw, -40px) scale(0.7914595999) rotate(0deg);
  animation: fall-64 21s -17s linear infinite;
}

@keyframes fall-64 {
  36% {
    transform: translate(10vw, 57vh) scale(0.7914595999) rotate(178deg);
  }
  to {
    transform: translate(19vw, 100vh) scale(0.7914595999) rotate(48deg);
  }
}
.flowers > div:nth-child(65) {
  opacity: 0.709653662;
  transform: translate(52vw, -40px) scale(0.5074806026) rotate(118deg);
  animation: fall-65 25s -18s linear infinite;
}

@keyframes fall-65 {
  52% {
    transform: translate(51vw, 42vh) scale(0.5074806026) rotate(-170deg);
  }
  to {
    transform: translate(67vw, 100vh) scale(0.5074806026) rotate(-76deg);
  }
}
.flowers > div:nth-child(66) {
  opacity: 0.813304871;
  transform: translate(41vw, -40px) scale(0.7238242266) rotate(91deg);
  animation: fall-66 24s -17s linear infinite;
}

@keyframes fall-66 {
  43% {
    transform: translate(37vw, 48vh) scale(0.7238242266) rotate(-107deg);
  }
  to {
    transform: translate(28vw, 100vh) scale(0.7238242266) rotate(-7deg);
  }
}
.flowers > div:nth-child(67) {
  opacity: 0.9365310287;
  transform: translate(16vw, -40px) scale(0.7750343329) rotate(-65deg);
  animation: fall-67 30s -15s linear infinite;
}

@keyframes fall-67 {
  60% {
    transform: translate(30vw, 53vh) scale(0.7750343329) rotate(-107deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.7750343329) rotate(-117deg);
  }
}
.flowers > div:nth-child(68) {
  opacity: 0.6429048324;
  transform: translate(9vw, -40px) scale(0.9599043493) rotate(147deg);
  animation: fall-68 30s -4s linear infinite;
}

@keyframes fall-68 {
  39% {
    transform: translate(15vw, 48vh) scale(0.9599043493) rotate(-93deg);
  }
  to {
    transform: translate(10vw, 100vh) scale(0.9599043493) rotate(-63deg);
  }
}
.flowers > div:nth-child(69) {
  opacity: 0.7473810679;
  transform: translate(28vw, -40px) scale(0.8781297822) rotate(100deg);
  animation: fall-69 23s -18s linear infinite;
}

@keyframes fall-69 {
  39% {
    transform: translate(30vw, 53vh) scale(0.8781297822) rotate(149deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.8781297822) rotate(-126deg);
  }
}
.flowers > div:nth-child(70) {
  opacity: 0.9618796189;
  transform: translate(88vw, -40px) scale(0.886556545) rotate(-105deg);
  animation: fall-70 24s -18s linear infinite;
}

@keyframes fall-70 {
  37% {
    transform: translate(80vw, 46vh) scale(0.886556545) rotate(143deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.886556545) rotate(-49deg);
  }
}
.flowers > div:nth-child(71) {
  opacity: 0.9710188502;
  transform: translate(82vw, -40px) scale(0.754924229) rotate(-140deg);
  animation: fall-71 35s -26s linear infinite;
}

@keyframes fall-71 {
  60% {
    transform: translate(77vw, 41vh) scale(0.754924229) rotate(17deg);
  }
  to {
    transform: translate(74vw, 100vh) scale(0.754924229) rotate(-110deg);
  }
}
.flowers > div:nth-child(72) {
  opacity: 0.8798028599;
  transform: translate(25vw, -40px) scale(0.7699744263) rotate(142deg);
  animation: fall-72 29s -19s linear infinite;
}

@keyframes fall-72 {
  53% {
    transform: translate(18vw, 60vh) scale(0.7699744263) rotate(-57deg);
  }
  to {
    transform: translate(22vw, 100vh) scale(0.7699744263) rotate(-167deg);
  }
}
.flowers > div:nth-child(73) {
  opacity: 0.5834073445;
  transform: translate(89vw, -40px) scale(0.6853591333) rotate(46deg);
  animation: fall-73 26s -18s linear infinite;
}

@keyframes fall-73 {
  53% {
    transform: translate(101vw, 48vh) scale(0.6853591333) rotate(142deg);
  }
  to {
    transform: translate(85vw, 100vh) scale(0.6853591333) rotate(-146deg);
  }
}
.flowers > div:nth-child(74) {
  opacity: 0.7894826826;
  transform: translate(25vw, -40px) scale(0.5651849361) rotate(78deg);
  animation: fall-74 35s -17s linear infinite;
}

@keyframes fall-74 {
  51% {
    transform: translate(24vw, 60vh) scale(0.5651849361) rotate(77deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.5651849361) rotate(-84deg);
  }
}
.flowers > div:nth-child(75) {
  opacity: 0.9329965473;
  transform: translate(2vw, -40px) scale(0.5848138318) rotate(122deg);
  animation: fall-75 29s -30s linear infinite;
}

@keyframes fall-75 {
  55% {
    transform: translate(9vw, 52vh) scale(0.5848138318) rotate(111deg);
  }
  to {
    transform: translate(19vw, 100vh) scale(0.5848138318) rotate(134deg);
  }
}
.flowers > div:nth-child(76) {
  opacity: 0.504730301;
  transform: translate(11vw, -40px) scale(0.6972687493) rotate(127deg);
  animation: fall-76 23s -7s linear infinite;
}

@keyframes fall-76 {
  44% {
    transform: translate(21vw, 57vh) scale(0.6972687493) rotate(7deg);
  }
  to {
    transform: translate(14vw, 100vh) scale(0.6972687493) rotate(165deg);
  }
}
.flowers > div:nth-child(77) {
  opacity: 0.8005934847;
  transform: translate(42vw, -40px) scale(0.5505662937) rotate(91deg);
  animation: fall-77 28s -27s linear infinite;
}

@keyframes fall-77 {
  49% {
    transform: translate(57vw, 47vh) scale(0.5505662937) rotate(-55deg);
  }
  to {
    transform: translate(53vw, 100vh) scale(0.5505662937) rotate(-78deg);
  }
}
.flowers > div:nth-child(78) {
  opacity: 0.9091493509;
  transform: translate(-1vw, -40px) scale(0.7775065364) rotate(-174deg);
  animation: fall-78 32s -30s linear infinite;
}

@keyframes fall-78 {
  60% {
    transform: translate(4vw, 58vh) scale(0.7775065364) rotate(-156deg);
  }
  to {
    transform: translate(10vw, 100vh) scale(0.7775065364) rotate(-148deg);
  }
}
.flowers > div:nth-child(79) {
  opacity: 0.5234053786;
  transform: translate(69vw, -40px) scale(0.5676578468) rotate(87deg);
  animation: fall-79 24s -21s linear infinite;
}

@keyframes fall-79 {
  45% {
    transform: translate(77vw, 50vh) scale(0.5676578468) rotate(-30deg);
  }
  to {
    transform: translate(75vw, 100vh) scale(0.5676578468) rotate(27deg);
  }
}
.flowers > div:nth-child(80) {
  opacity: 0.9852872738;
  transform: translate(56vw, -40px) scale(0.8654351606) rotate(17deg);
  animation: fall-80 22s -16s linear infinite;
}

@keyframes fall-80 {
  36% {
    transform: translate(53vw, 55vh) scale(0.8654351606) rotate(-175deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.8654351606) rotate(141deg);
  }
}
.flowers > div:nth-child(81) {
  opacity: 0.5301900214;
  transform: translate(65vw, -40px) scale(0.7257844201) rotate(120deg);
  animation: fall-81 28s -12s linear infinite;
}

@keyframes fall-81 {
  61% {
    transform: translate(71vw, 53vh) scale(0.7257844201) rotate(160deg);
  }
  to {
    transform: translate(72vw, 100vh) scale(0.7257844201) rotate(-149deg);
  }
}
.flowers > div:nth-child(82) {
  opacity: 0.8174427731;
  transform: translate(56vw, -40px) scale(0.5023916601) rotate(146deg);
  animation: fall-82 30s -28s linear infinite;
}

@keyframes fall-82 {
  53% {
    transform: translate(59vw, 49vh) scale(0.5023916601) rotate(2deg);
  }
  to {
    transform: translate(52vw, 100vh) scale(0.5023916601) rotate(-109deg);
  }
}
.flowers > div:nth-child(83) {
  opacity: 0.572410797;
  transform: translate(91vw, -40px) scale(0.506031018) rotate(42deg);
  animation: fall-83 34s -8s linear infinite;
}

@keyframes fall-83 {
  65% {
    transform: translate(81vw, 51vh) scale(0.506031018) rotate(-63deg);
  }
  to {
    transform: translate(98vw, 100vh) scale(0.506031018) rotate(-132deg);
  }
}
.flowers > div:nth-child(84) {
  opacity: 0.54236391;
  transform: translate(36vw, -40px) scale(0.8336274805) rotate(-162deg);
  animation: fall-84 35s -21s linear infinite;
}

@keyframes fall-84 {
  52% {
    transform: translate(43vw, 56vh) scale(0.8336274805) rotate(175deg);
  }
  to {
    transform: translate(43vw, 100vh) scale(0.8336274805) rotate(-40deg);
  }
}
.flowers > div:nth-child(85) {
  opacity: 0.8437783899;
  transform: translate(90vw, -40px) scale(0.6838915382) rotate(68deg);
  animation: fall-85 29s -17s linear infinite;
}

@keyframes fall-85 {
  39% {
    transform: translate(93vw, 45vh) scale(0.6838915382) rotate(94deg);
  }
  to {
    transform: translate(83vw, 100vh) scale(0.6838915382) rotate(-40deg);
  }
}
.flowers > div:nth-child(86) {
  opacity: 0.8109469997;
  transform: translate(68vw, -40px) scale(0.5458468111) rotate(-55deg);
  animation: fall-86 33s -13s linear infinite;
}

@keyframes fall-86 {
  63% {
    transform: translate(68vw, 54vh) scale(0.5458468111) rotate(135deg);
  }
  to {
    transform: translate(54vw, 100vh) scale(0.5458468111) rotate(93deg);
  }
}
.flowers > div:nth-child(87) {
  opacity: 0.5674258304;
  transform: translate(34vw, -40px) scale(0.8256251457) rotate(32deg);
  animation: fall-87 23s -4s linear infinite;
}

@keyframes fall-87 {
  46% {
    transform: translate(35vw, 41vh) scale(0.8256251457) rotate(166deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.8256251457) rotate(-30deg);
  }
}
.flowers > div:nth-child(88) {
  opacity: 0.8376238003;
  transform: translate(7vw, -40px) scale(0.9465425333) rotate(-67deg);
  animation: fall-88 27s -25s linear infinite;
}

@keyframes fall-88 {
  60% {
    transform: translate(18vw, 41vh) scale(0.9465425333) rotate(106deg);
  }
  to {
    transform: translate(12vw, 100vh) scale(0.9465425333) rotate(94deg);
  }
}
.flowers > div:nth-child(89) {
  opacity: 0.7133382578;
  transform: translate(82vw, -40px) scale(0.86475567) rotate(73deg);
  animation: fall-89 24s -29s linear infinite;
}

@keyframes fall-89 {
  43% {
    transform: translate(82vw, 57vh) scale(0.86475567) rotate(50deg);
  }
  to {
    transform: translate(83vw, 100vh) scale(0.86475567) rotate(-135deg);
  }
}
.flowers > div:nth-child(90) {
  opacity: 0.8982106656;
  transform: translate(79vw, -40px) scale(0.5592614775) rotate(-86deg);
  animation: fall-90 30s -6s linear infinite;
}

@keyframes fall-90 {
  62% {
    transform: translate(88vw, 53vh) scale(0.5592614775) rotate(-100deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.5592614775) rotate(64deg);
  }
}
.flowers > div:nth-child(91) {
  opacity: 0.6381179898;
  transform: translate(31vw, -40px) scale(0.6726808405) rotate(-19deg);
  animation: fall-91 29s -5s linear infinite;
}

@keyframes fall-91 {
  50% {
    transform: translate(43vw, 45vh) scale(0.6726808405) rotate(-58deg);
  }
  to {
    transform: translate(34vw, 100vh) scale(0.6726808405) rotate(137deg);
  }
}
.flowers > div:nth-child(92) {
  opacity: 0.7921593244;
  transform: translate(30vw, -40px) scale(0.5885905892) rotate(-65deg);
  animation: fall-92 23s -21s linear infinite;
}

@keyframes fall-92 {
  65% {
    transform: translate(29vw, 55vh) scale(0.5885905892) rotate(140deg);
  }
  to {
    transform: translate(21vw, 100vh) scale(0.5885905892) rotate(44deg);
  }
}
.flowers > div:nth-child(93) {
  opacity: 0.9585701756;
  transform: translate(67vw, -40px) scale(0.8651138893) rotate(156deg);
  animation: fall-93 24s -22s linear infinite;
}

@keyframes fall-93 {
  41% {
    transform: translate(61vw, 54vh) scale(0.8651138893) rotate(139deg);
  }
  to {
    transform: translate(72vw, 100vh) scale(0.8651138893) rotate(134deg);
  }
}
.flowers > div:nth-child(94) {
  opacity: 0.6242621832;
  transform: translate(97vw, -40px) scale(0.9954564787) rotate(-151deg);
  animation: fall-94 28s -26s linear infinite;
}

@keyframes fall-94 {
  37% {
    transform: translate(105vw, 50vh) scale(0.9954564787) rotate(71deg);
  }
  to {
    transform: translate(98vw, 100vh) scale(0.9954564787) rotate(-106deg);
  }
}
.flowers > div:nth-child(95) {
  opacity: 0.6206799898;
  transform: translate(36vw, -40px) scale(0.5789338775) rotate(-59deg);
  animation: fall-95 22s -8s linear infinite;
}

@keyframes fall-95 {
  42% {
    transform: translate(46vw, 54vh) scale(0.5789338775) rotate(-70deg);
  }
  to {
    transform: translate(34vw, 100vh) scale(0.5789338775) rotate(-82deg);
  }
}
.flowers > div:nth-child(96) {
  opacity: 0.6153723155;
  transform: translate(88vw, -40px) scale(0.5200658535) rotate(10deg);
  animation: fall-96 33s -16s linear infinite;
}

@keyframes fall-96 {
  59% {
    transform: translate(79vw, 49vh) scale(0.5200658535) rotate(-104deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.5200658535) rotate(-132deg);
  }
}
.flowers > div:nth-child(97) {
  opacity: 0.9163300006;
  transform: translate(60vw, -40px) scale(0.981664431) rotate(129deg);
  animation: fall-97 29s -25s linear infinite;
}

@keyframes fall-97 {
  44% {
    transform: translate(60vw, 58vh) scale(0.981664431) rotate(119deg);
  }
  to {
    transform: translate(62vw, 100vh) scale(0.981664431) rotate(43deg);
  }
}
.flowers > div:nth-child(98) {
  opacity: 0.56805485;
  transform: translate(59vw, -40px) scale(0.6904157639) rotate(-97deg);
  animation: fall-98 29s -17s linear infinite;
}

@keyframes fall-98 {
  53% {
    transform: translate(48vw, 53vh) scale(0.6904157639) rotate(-171deg);
  }
  to {
    transform: translate(61vw, 100vh) scale(0.6904157639) rotate(96deg);
  }
}
.flowers > div:nth-child(99) {
  opacity: 0.561220714;
  transform: translate(50vw, -40px) scale(0.9256507388) rotate(56deg);
  animation: fall-99 29s -23s linear infinite;
}

@keyframes fall-99 {
  58% {
    transform: translate(51vw, 50vh) scale(0.9256507388) rotate(117deg);
  }
  to {
    transform: translate(39vw, 100vh) scale(0.9256507388) rotate(170deg);
  }
}
.flowers > div:nth-child(100) {
  opacity: 0.9958372711;
  transform: translate(37vw, -40px) scale(0.765552203) rotate(-5deg);
  animation: fall-100 24s -1s linear infinite;
}

@keyframes fall-100 {
  59% {
    transform: translate(40vw, 57vh) scale(0.765552203) rotate(-103deg);
  }
  to {
    transform: translate(31vw, 100vh) scale(0.765552203) rotate(-144deg);
  }
}
.h-flowers > div:nth-child(1) {
  width: 85px;
  height: 62px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8283388739s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(2) {
  width: 49px;
  height: 49px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1546983671s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(3) {
  width: 71px;
  height: 87px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.7623668949s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(4) {
  width: 64px;
  height: 79px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9897112538s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(5) {
  width: 85px;
  height: 68px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2524137421s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(6) {
  width: 52px;
  height: 51px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2286238178s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(7) {
  width: 49px;
  height: 48px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6077763801s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(8) {
  width: 51px;
  height: 109px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7519399191s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(9) {
  width: 73px;
  height: 53px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.8234012672s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(10) {
  width: 44px;
  height: 43px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5163962157s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(11) {
  width: 87px;
  height: 63px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.8372048206s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(12) {
  width: 40px;
  height: 39px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.566759412s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(13) {
  width: 46px;
  height: 45px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1936457176s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(14) {
  width: 49px;
  height: 49px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9343247573s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(15) {
  width: 63px;
  height: 77px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8501847256s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(16) {
  width: 59px;
  height: 126px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1310744252s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(17) {
  width: 72px;
  height: 88px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6389888934s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(18) {
  width: 68px;
  height: 83px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7273390999s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(19) {
  width: 75px;
  height: 66px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8907761571s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(20) {
  width: 81px;
  height: 59px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0397172201s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(21) {
  width: 54px;
  height: 52px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5413491799s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(22) {
  width: 87px;
  height: 107px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.4705845923s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(23) {
  width: 77px;
  height: 94px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3563463969s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(24) {
  width: 88px;
  height: 64px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0712649413s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(25) {
  width: 69px;
  height: 84px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.4127943913s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(26) {
  width: 50px;
  height: 106px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5503398724s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(27) {
  width: 95px;
  height: 69px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7683996564s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(28) {
  width: 55px;
  height: 55px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6343120313s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(29) {
  width: 40px;
  height: 39px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.290771268s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(30) {
  width: 85px;
  height: 69px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9904570464s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(31) {
  width: 75px;
  height: 60px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0833420124s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(32) {
  width: 94px;
  height: 83px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5987086s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(33) {
  width: 61px;
  height: 130px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6871401478s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(34) {
  width: 77px;
  height: 62px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3112665235s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(35) {
  width: 47px;
  height: 46px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.321461114s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(36) {
  width: 69px;
  height: 60px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0769496827s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(37) {
  width: 88px;
  height: 77px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.4729891572s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(38) {
  width: 79px;
  height: 96px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5271817331s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(39) {
  width: 47px;
  height: 47px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7884132626s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(40) {
  width: 51px;
  height: 108px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.7911652407s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(41) {
  width: 90px;
  height: 72px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1237669451s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(42) {
  width: 90px;
  height: 72px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1404797138s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(43) {
  width: 68px;
  height: 60px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2630422064s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(44) {
  width: 74px;
  height: 59px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.663476223s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(45) {
  width: 64px;
  height: 137px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.0247652153s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(46) {
  width: 86px;
  height: 76px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.0890177317s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(47) {
  width: 47px;
  height: 47px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3404706073s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(48) {
  width: 39px;
  height: 38px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.4441872171s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(49) {
  width: 61px;
  height: 61px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2060780412s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(50) {
  width: 67px;
  height: 81px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0913386599s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}