@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.iwd {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.flowers > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../flowers/flower.png") center/contain no-repeat transparent;
}

.h-flowers {
  display: flex;
  transform: translateY(-60%);
  align-items: center;
  justify-content: center;
}
.h-flowers > div {
  flex-shrink: 0;
  transform-origin: center top;
}

.flowers > div:nth-child(1) {
  opacity: 0.8247841902;
  transform: translate(78vw, -40px) scale(0.5754221755) rotate(-167deg);
  animation: fall-1 21s -26s linear infinite;
}

@keyframes fall-1 {
  50% {
    transform: translate(88vw, 53vh) scale(0.5754221755) rotate(143deg);
  }
  to {
    transform: translate(84vw, 100vh) scale(0.5754221755) rotate(-43deg);
  }
}
.flowers > div:nth-child(2) {
  opacity: 0.9764675675;
  transform: translate(15vw, -40px) scale(0.9182156384) rotate(-125deg);
  animation: fall-2 30s -6s linear infinite;
}

@keyframes fall-2 {
  52% {
    transform: translate(17vw, 54vh) scale(0.9182156384) rotate(88deg);
  }
  to {
    transform: translate(12vw, 100vh) scale(0.9182156384) rotate(-151deg);
  }
}
.flowers > div:nth-child(3) {
  opacity: 0.8538650017;
  transform: translate(15vw, -40px) scale(0.7461990236) rotate(-60deg);
  animation: fall-3 26s -10s linear infinite;
}

@keyframes fall-3 {
  45% {
    transform: translate(26vw, 47vh) scale(0.7461990236) rotate(56deg);
  }
  to {
    transform: translate(12vw, 100vh) scale(0.7461990236) rotate(65deg);
  }
}
.flowers > div:nth-child(4) {
  opacity: 0.6601439134;
  transform: translate(77vw, -40px) scale(0.7903929727) rotate(115deg);
  animation: fall-4 30s -9s linear infinite;
}

@keyframes fall-4 {
  43% {
    transform: translate(65vw, 53vh) scale(0.7903929727) rotate(-162deg);
  }
  to {
    transform: translate(68vw, 100vh) scale(0.7903929727) rotate(103deg);
  }
}
.flowers > div:nth-child(5) {
  opacity: 0.9672914254;
  transform: translate(96vw, -40px) scale(0.7380243825) rotate(-166deg);
  animation: fall-5 32s -29s linear infinite;
}

@keyframes fall-5 {
  43% {
    transform: translate(91vw, 56vh) scale(0.7380243825) rotate(135deg);
  }
  to {
    transform: translate(89vw, 100vh) scale(0.7380243825) rotate(25deg);
  }
}
.flowers > div:nth-child(6) {
  opacity: 0.6325395574;
  transform: translate(71vw, -40px) scale(0.5649483705) rotate(171deg);
  animation: fall-6 35s -29s linear infinite;
}

@keyframes fall-6 {
  51% {
    transform: translate(68vw, 49vh) scale(0.5649483705) rotate(69deg);
  }
  to {
    transform: translate(58vw, 100vh) scale(0.5649483705) rotate(71deg);
  }
}
.flowers > div:nth-child(7) {
  opacity: 0.7327024283;
  transform: translate(16vw, -40px) scale(0.5763695441) rotate(90deg);
  animation: fall-7 33s -6s linear infinite;
}

@keyframes fall-7 {
  43% {
    transform: translate(19vw, 56vh) scale(0.5763695441) rotate(-154deg);
  }
  to {
    transform: translate(17vw, 100vh) scale(0.5763695441) rotate(172deg);
  }
}
.flowers > div:nth-child(8) {
  opacity: 0.9595893756;
  transform: translate(97vw, -40px) scale(0.9815940069) rotate(-117deg);
  animation: fall-8 23s -8s linear infinite;
}

@keyframes fall-8 {
  63% {
    transform: translate(93vw, 53vh) scale(0.9815940069) rotate(-128deg);
  }
  to {
    transform: translate(104vw, 100vh) scale(0.9815940069) rotate(104deg);
  }
}
.flowers > div:nth-child(9) {
  opacity: 0.9882434877;
  transform: translate(16vw, -40px) scale(0.9077180697) rotate(-148deg);
  animation: fall-9 27s -6s linear infinite;
}

@keyframes fall-9 {
  37% {
    transform: translate(18vw, 41vh) scale(0.9077180697) rotate(92deg);
  }
  to {
    transform: translate(8vw, 100vh) scale(0.9077180697) rotate(-167deg);
  }
}
.flowers > div:nth-child(10) {
  opacity: 0.7201738363;
  transform: translate(36vw, -40px) scale(0.8706057528) rotate(-72deg);
  animation: fall-10 34s -30s linear infinite;
}

@keyframes fall-10 {
  56% {
    transform: translate(36vw, 50vh) scale(0.8706057528) rotate(-80deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.8706057528) rotate(78deg);
  }
}
.flowers > div:nth-child(11) {
  opacity: 0.7693675648;
  transform: translate(20vw, -40px) scale(0.7191267256) rotate(117deg);
  animation: fall-11 34s -2s linear infinite;
}

@keyframes fall-11 {
  51% {
    transform: translate(2vw, 54vh) scale(0.7191267256) rotate(-169deg);
  }
  to {
    transform: translate(2vw, 100vh) scale(0.7191267256) rotate(49deg);
  }
}
.flowers > div:nth-child(12) {
  opacity: 0.8498875688;
  transform: translate(50vw, -40px) scale(0.7575732459) rotate(-33deg);
  animation: fall-12 28s -22s linear infinite;
}

@keyframes fall-12 {
  60% {
    transform: translate(41vw, 58vh) scale(0.7575732459) rotate(138deg);
  }
  to {
    transform: translate(54vw, 100vh) scale(0.7575732459) rotate(-10deg);
  }
}
.flowers > div:nth-child(13) {
  opacity: 0.7692932067;
  transform: translate(40vw, -40px) scale(0.5633877512) rotate(67deg);
  animation: fall-13 32s -16s linear infinite;
}

@keyframes fall-13 {
  50% {
    transform: translate(54vw, 54vh) scale(0.5633877512) rotate(171deg);
  }
  to {
    transform: translate(55vw, 100vh) scale(0.5633877512) rotate(81deg);
  }
}
.flowers > div:nth-child(14) {
  opacity: 0.8627771089;
  transform: translate(57vw, -40px) scale(0.9926356198) rotate(-166deg);
  animation: fall-14 35s -3s linear infinite;
}

@keyframes fall-14 {
  59% {
    transform: translate(65vw, 50vh) scale(0.9926356198) rotate(-93deg);
  }
  to {
    transform: translate(52vw, 100vh) scale(0.9926356198) rotate(-44deg);
  }
}
.flowers > div:nth-child(15) {
  opacity: 0.966066277;
  transform: translate(35vw, -40px) scale(0.6684908536) rotate(-28deg);
  animation: fall-15 21s -20s linear infinite;
}

@keyframes fall-15 {
  41% {
    transform: translate(42vw, 46vh) scale(0.6684908536) rotate(-20deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.6684908536) rotate(102deg);
  }
}
.flowers > div:nth-child(16) {
  opacity: 0.9901769001;
  transform: translate(73vw, -40px) scale(0.8526420653) rotate(90deg);
  animation: fall-16 21s -19s linear infinite;
}

@keyframes fall-16 {
  60% {
    transform: translate(77vw, 48vh) scale(0.8526420653) rotate(148deg);
  }
  to {
    transform: translate(77vw, 100vh) scale(0.8526420653) rotate(-71deg);
  }
}
.flowers > div:nth-child(17) {
  opacity: 0.5539596019;
  transform: translate(91vw, -40px) scale(0.7377034843) rotate(-115deg);
  animation: fall-17 34s -25s linear infinite;
}

@keyframes fall-17 {
  44% {
    transform: translate(106vw, 51vh) scale(0.7377034843) rotate(-135deg);
  }
  to {
    transform: translate(95vw, 100vh) scale(0.7377034843) rotate(66deg);
  }
}
.flowers > div:nth-child(18) {
  opacity: 0.5010295475;
  transform: translate(6vw, -40px) scale(0.6390459577) rotate(97deg);
  animation: fall-18 21s -12s linear infinite;
}

@keyframes fall-18 {
  60% {
    transform: translate(18vw, 60vh) scale(0.6390459577) rotate(174deg);
  }
  to {
    transform: translate(3vw, 100vh) scale(0.6390459577) rotate(104deg);
  }
}
.flowers > div:nth-child(19) {
  opacity: 0.8863898123;
  transform: translate(54vw, -40px) scale(0.9792088041) rotate(2deg);
  animation: fall-19 25s -15s linear infinite;
}

@keyframes fall-19 {
  54% {
    transform: translate(56vw, 53vh) scale(0.9792088041) rotate(-53deg);
  }
  to {
    transform: translate(55vw, 100vh) scale(0.9792088041) rotate(158deg);
  }
}
.flowers > div:nth-child(20) {
  opacity: 0.7014012103;
  transform: translate(0vw, -40px) scale(0.5267489444) rotate(61deg);
  animation: fall-20 32s -23s linear infinite;
}

@keyframes fall-20 {
  51% {
    transform: translate(12vw, 44vh) scale(0.5267489444) rotate(-175deg);
  }
  to {
    transform: translate(-6vw, 100vh) scale(0.5267489444) rotate(74deg);
  }
}
.flowers > div:nth-child(21) {
  opacity: 0.8626931254;
  transform: translate(49vw, -40px) scale(0.8779494352) rotate(28deg);
  animation: fall-21 28s -23s linear infinite;
}

@keyframes fall-21 {
  53% {
    transform: translate(39vw, 45vh) scale(0.8779494352) rotate(109deg);
  }
  to {
    transform: translate(51vw, 100vh) scale(0.8779494352) rotate(70deg);
  }
}
.flowers > div:nth-child(22) {
  opacity: 0.9122350277;
  transform: translate(48vw, -40px) scale(0.7715210501) rotate(142deg);
  animation: fall-22 32s -14s linear infinite;
}

@keyframes fall-22 {
  46% {
    transform: translate(60vw, 50vh) scale(0.7715210501) rotate(129deg);
  }
  to {
    transform: translate(63vw, 100vh) scale(0.7715210501) rotate(-146deg);
  }
}
.flowers > div:nth-child(23) {
  opacity: 0.9991081944;
  transform: translate(87vw, -40px) scale(0.8121723832) rotate(172deg);
  animation: fall-23 30s -19s linear infinite;
}

@keyframes fall-23 {
  40% {
    transform: translate(75vw, 41vh) scale(0.8121723832) rotate(139deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.8121723832) rotate(-3deg);
  }
}
.flowers > div:nth-child(24) {
  opacity: 0.6814565396;
  transform: translate(66vw, -40px) scale(0.5541632582) rotate(46deg);
  animation: fall-24 31s -21s linear infinite;
}

@keyframes fall-24 {
  44% {
    transform: translate(52vw, 56vh) scale(0.5541632582) rotate(-68deg);
  }
  to {
    transform: translate(71vw, 100vh) scale(0.5541632582) rotate(-146deg);
  }
}
.flowers > div:nth-child(25) {
  opacity: 0.9785786398;
  transform: translate(87vw, -40px) scale(0.9387083807) rotate(-127deg);
  animation: fall-25 33s -18s linear infinite;
}

@keyframes fall-25 {
  48% {
    transform: translate(78vw, 55vh) scale(0.9387083807) rotate(0deg);
  }
  to {
    transform: translate(73vw, 100vh) scale(0.9387083807) rotate(-171deg);
  }
}
.flowers > div:nth-child(26) {
  opacity: 0.8499741891;
  transform: translate(60vw, -40px) scale(0.6004082695) rotate(38deg);
  animation: fall-26 32s -14s linear infinite;
}

@keyframes fall-26 {
  61% {
    transform: translate(72vw, 42vh) scale(0.6004082695) rotate(-149deg);
  }
  to {
    transform: translate(62vw, 100vh) scale(0.6004082695) rotate(90deg);
  }
}
.flowers > div:nth-child(27) {
  opacity: 0.8740087268;
  transform: translate(49vw, -40px) scale(0.6330460123) rotate(66deg);
  animation: fall-27 21s -10s linear infinite;
}

@keyframes fall-27 {
  52% {
    transform: translate(54vw, 47vh) scale(0.6330460123) rotate(129deg);
  }
  to {
    transform: translate(48vw, 100vh) scale(0.6330460123) rotate(131deg);
  }
}
.flowers > div:nth-child(28) {
  opacity: 0.7384659349;
  transform: translate(95vw, -40px) scale(0.5666571027) rotate(116deg);
  animation: fall-28 28s -29s linear infinite;
}

@keyframes fall-28 {
  51% {
    transform: translate(88vw, 48vh) scale(0.5666571027) rotate(113deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.5666571027) rotate(-104deg);
  }
}
.flowers > div:nth-child(29) {
  opacity: 0.5319006406;
  transform: translate(67vw, -40px) scale(0.751300543) rotate(-62deg);
  animation: fall-29 31s -6s linear infinite;
}

@keyframes fall-29 {
  61% {
    transform: translate(61vw, 56vh) scale(0.751300543) rotate(132deg);
  }
  to {
    transform: translate(67vw, 100vh) scale(0.751300543) rotate(23deg);
  }
}
.flowers > div:nth-child(30) {
  opacity: 0.5239102133;
  transform: translate(15vw, -40px) scale(0.660963375) rotate(-8deg);
  animation: fall-30 28s -28s linear infinite;
}

@keyframes fall-30 {
  55% {
    transform: translate(17vw, 52vh) scale(0.660963375) rotate(116deg);
  }
  to {
    transform: translate(13vw, 100vh) scale(0.660963375) rotate(180deg);
  }
}
.flowers > div:nth-child(31) {
  opacity: 0.5071282833;
  transform: translate(39vw, -40px) scale(0.990850301) rotate(-25deg);
  animation: fall-31 31s -13s linear infinite;
}

@keyframes fall-31 {
  59% {
    transform: translate(55vw, 52vh) scale(0.990850301) rotate(-91deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.990850301) rotate(46deg);
  }
}
.flowers > div:nth-child(32) {
  opacity: 0.7977128393;
  transform: translate(84vw, -40px) scale(0.7782112665) rotate(120deg);
  animation: fall-32 29s -22s linear infinite;
}

@keyframes fall-32 {
  42% {
    transform: translate(89vw, 54vh) scale(0.7782112665) rotate(-58deg);
  }
  to {
    transform: translate(70vw, 100vh) scale(0.7782112665) rotate(97deg);
  }
}
.flowers > div:nth-child(33) {
  opacity: 0.9224793065;
  transform: translate(57vw, -40px) scale(0.9226658641) rotate(83deg);
  animation: fall-33 26s -18s linear infinite;
}

@keyframes fall-33 {
  48% {
    transform: translate(41vw, 48vh) scale(0.9226658641) rotate(-46deg);
  }
  to {
    transform: translate(46vw, 100vh) scale(0.9226658641) rotate(82deg);
  }
}
.flowers > div:nth-child(34) {
  opacity: 0.5211740958;
  transform: translate(82vw, -40px) scale(0.9760383964) rotate(39deg);
  animation: fall-34 24s -2s linear infinite;
}

@keyframes fall-34 {
  40% {
    transform: translate(83vw, 46vh) scale(0.9760383964) rotate(135deg);
  }
  to {
    transform: translate(90vw, 100vh) scale(0.9760383964) rotate(141deg);
  }
}
.flowers > div:nth-child(35) {
  opacity: 0.7474737209;
  transform: translate(94vw, -40px) scale(0.5050302728) rotate(-104deg);
  animation: fall-35 26s -19s linear infinite;
}

@keyframes fall-35 {
  44% {
    transform: translate(80vw, 42vh) scale(0.5050302728) rotate(119deg);
  }
  to {
    transform: translate(85vw, 100vh) scale(0.5050302728) rotate(58deg);
  }
}
.flowers > div:nth-child(36) {
  opacity: 0.8567174857;
  transform: translate(64vw, -40px) scale(0.9215078273) rotate(-163deg);
  animation: fall-36 22s -16s linear infinite;
}

@keyframes fall-36 {
  59% {
    transform: translate(61vw, 53vh) scale(0.9215078273) rotate(175deg);
  }
  to {
    transform: translate(51vw, 100vh) scale(0.9215078273) rotate(146deg);
  }
}
.flowers > div:nth-child(37) {
  opacity: 0.6400770941;
  transform: translate(7vw, -40px) scale(0.7718250598) rotate(136deg);
  animation: fall-37 31s -19s linear infinite;
}

@keyframes fall-37 {
  43% {
    transform: translate(1vw, 57vh) scale(0.7718250598) rotate(-153deg);
  }
  to {
    transform: translate(16vw, 100vh) scale(0.7718250598) rotate(-169deg);
  }
}
.flowers > div:nth-child(38) {
  opacity: 0.7706425834;
  transform: translate(67vw, -40px) scale(0.811817704) rotate(165deg);
  animation: fall-38 26s -28s linear infinite;
}

@keyframes fall-38 {
  43% {
    transform: translate(73vw, 48vh) scale(0.811817704) rotate(72deg);
  }
  to {
    transform: translate(66vw, 100vh) scale(0.811817704) rotate(-143deg);
  }
}
.flowers > div:nth-child(39) {
  opacity: 0.555751788;
  transform: translate(58vw, -40px) scale(0.9625439148) rotate(153deg);
  animation: fall-39 30s -11s linear infinite;
}

@keyframes fall-39 {
  41% {
    transform: translate(60vw, 58vh) scale(0.9625439148) rotate(-146deg);
  }
  to {
    transform: translate(64vw, 100vh) scale(0.9625439148) rotate(-125deg);
  }
}
.flowers > div:nth-child(40) {
  opacity: 0.6121097792;
  transform: translate(41vw, -40px) scale(0.815738679) rotate(-171deg);
  animation: fall-40 25s -11s linear infinite;
}

@keyframes fall-40 {
  43% {
    transform: translate(30vw, 51vh) scale(0.815738679) rotate(-2deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.815738679) rotate(154deg);
  }
}
.flowers > div:nth-child(41) {
  opacity: 0.6788898133;
  transform: translate(91vw, -40px) scale(0.8464690196) rotate(-113deg);
  animation: fall-41 24s -6s linear infinite;
}

@keyframes fall-41 {
  60% {
    transform: translate(99vw, 56vh) scale(0.8464690196) rotate(-148deg);
  }
  to {
    transform: translate(88vw, 100vh) scale(0.8464690196) rotate(-148deg);
  }
}
.flowers > div:nth-child(42) {
  opacity: 0.6562295082;
  transform: translate(63vw, -40px) scale(0.9375520097) rotate(77deg);
  animation: fall-42 30s -16s linear infinite;
}

@keyframes fall-42 {
  64% {
    transform: translate(74vw, 48vh) scale(0.9375520097) rotate(32deg);
  }
  to {
    transform: translate(60vw, 100vh) scale(0.9375520097) rotate(151deg);
  }
}
.flowers > div:nth-child(43) {
  opacity: 0.9795383506;
  transform: translate(43vw, -40px) scale(0.9885164474) rotate(-30deg);
  animation: fall-43 31s -1s linear infinite;
}

@keyframes fall-43 {
  50% {
    transform: translate(42vw, 58vh) scale(0.9885164474) rotate(67deg);
  }
  to {
    transform: translate(33vw, 100vh) scale(0.9885164474) rotate(100deg);
  }
}
.flowers > div:nth-child(44) {
  opacity: 0.5369111324;
  transform: translate(42vw, -40px) scale(0.6247083031) rotate(-117deg);
  animation: fall-44 26s -10s linear infinite;
}

@keyframes fall-44 {
  52% {
    transform: translate(31vw, 58vh) scale(0.6247083031) rotate(-98deg);
  }
  to {
    transform: translate(31vw, 100vh) scale(0.6247083031) rotate(-114deg);
  }
}
.flowers > div:nth-child(45) {
  opacity: 0.7645294598;
  transform: translate(55vw, -40px) scale(0.75290524) rotate(113deg);
  animation: fall-45 32s -4s linear infinite;
}

@keyframes fall-45 {
  49% {
    transform: translate(45vw, 50vh) scale(0.75290524) rotate(130deg);
  }
  to {
    transform: translate(59vw, 100vh) scale(0.75290524) rotate(-167deg);
  }
}
.flowers > div:nth-child(46) {
  opacity: 0.6620270787;
  transform: translate(38vw, -40px) scale(0.8279169096) rotate(10deg);
  animation: fall-46 28s -24s linear infinite;
}

@keyframes fall-46 {
  48% {
    transform: translate(37vw, 50vh) scale(0.8279169096) rotate(-134deg);
  }
  to {
    transform: translate(34vw, 100vh) scale(0.8279169096) rotate(-51deg);
  }
}
.flowers > div:nth-child(47) {
  opacity: 0.7555906444;
  transform: translate(78vw, -40px) scale(0.7715869605) rotate(165deg);
  animation: fall-47 23s -4s linear infinite;
}

@keyframes fall-47 {
  54% {
    transform: translate(79vw, 56vh) scale(0.7715869605) rotate(-23deg);
  }
  to {
    transform: translate(97vw, 100vh) scale(0.7715869605) rotate(-96deg);
  }
}
.flowers > div:nth-child(48) {
  opacity: 0.9304351236;
  transform: translate(32vw, -40px) scale(0.5977570114) rotate(-72deg);
  animation: fall-48 33s -14s linear infinite;
}

@keyframes fall-48 {
  44% {
    transform: translate(27vw, 41vh) scale(0.5977570114) rotate(0deg);
  }
  to {
    transform: translate(26vw, 100vh) scale(0.5977570114) rotate(106deg);
  }
}
.flowers > div:nth-child(49) {
  opacity: 0.6708205807;
  transform: translate(27vw, -40px) scale(0.8855261465) rotate(-130deg);
  animation: fall-49 26s -20s linear infinite;
}

@keyframes fall-49 {
  39% {
    transform: translate(34vw, 48vh) scale(0.8855261465) rotate(-60deg);
  }
  to {
    transform: translate(24vw, 100vh) scale(0.8855261465) rotate(46deg);
  }
}
.flowers > div:nth-child(50) {
  opacity: 0.7263647267;
  transform: translate(93vw, -40px) scale(0.8373710539) rotate(158deg);
  animation: fall-50 23s -16s linear infinite;
}

@keyframes fall-50 {
  58% {
    transform: translate(100vw, 41vh) scale(0.8373710539) rotate(30deg);
  }
  to {
    transform: translate(90vw, 100vh) scale(0.8373710539) rotate(71deg);
  }
}
.flowers > div:nth-child(51) {
  opacity: 0.7411054394;
  transform: translate(85vw, -40px) scale(0.5113719488) rotate(-42deg);
  animation: fall-51 26s -17s linear infinite;
}

@keyframes fall-51 {
  50% {
    transform: translate(90vw, 42vh) scale(0.5113719488) rotate(-129deg);
  }
  to {
    transform: translate(81vw, 100vh) scale(0.5113719488) rotate(99deg);
  }
}
.flowers > div:nth-child(52) {
  opacity: 0.8197384668;
  transform: translate(89vw, -40px) scale(0.5478124421) rotate(3deg);
  animation: fall-52 27s -13s linear infinite;
}

@keyframes fall-52 {
  41% {
    transform: translate(88vw, 50vh) scale(0.5478124421) rotate(-117deg);
  }
  to {
    transform: translate(94vw, 100vh) scale(0.5478124421) rotate(-174deg);
  }
}
.flowers > div:nth-child(53) {
  opacity: 0.5813208489;
  transform: translate(31vw, -40px) scale(0.5941727409) rotate(104deg);
  animation: fall-53 30s -13s linear infinite;
}

@keyframes fall-53 {
  45% {
    transform: translate(30vw, 47vh) scale(0.5941727409) rotate(93deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.5941727409) rotate(-7deg);
  }
}
.flowers > div:nth-child(54) {
  opacity: 0.8698923798;
  transform: translate(75vw, -40px) scale(0.5286226207) rotate(-155deg);
  animation: fall-54 35s -3s linear infinite;
}

@keyframes fall-54 {
  43% {
    transform: translate(75vw, 52vh) scale(0.5286226207) rotate(151deg);
  }
  to {
    transform: translate(73vw, 100vh) scale(0.5286226207) rotate(45deg);
  }
}
.flowers > div:nth-child(55) {
  opacity: 0.9644892515;
  transform: translate(13vw, -40px) scale(0.8777740721) rotate(77deg);
  animation: fall-55 35s -15s linear infinite;
}

@keyframes fall-55 {
  52% {
    transform: translate(21vw, 49vh) scale(0.8777740721) rotate(7deg);
  }
  to {
    transform: translate(25vw, 100vh) scale(0.8777740721) rotate(126deg);
  }
}
.flowers > div:nth-child(56) {
  opacity: 0.5447441978;
  transform: translate(82vw, -40px) scale(0.6637352765) rotate(120deg);
  animation: fall-56 29s -19s linear infinite;
}

@keyframes fall-56 {
  53% {
    transform: translate(72vw, 52vh) scale(0.6637352765) rotate(-162deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.6637352765) rotate(0deg);
  }
}
.flowers > div:nth-child(57) {
  opacity: 0.5589663038;
  transform: translate(63vw, -40px) scale(0.9487588979) rotate(-89deg);
  animation: fall-57 28s -25s linear infinite;
}

@keyframes fall-57 {
  65% {
    transform: translate(75vw, 49vh) scale(0.9487588979) rotate(-37deg);
  }
  to {
    transform: translate(67vw, 100vh) scale(0.9487588979) rotate(-7deg);
  }
}
.flowers > div:nth-child(58) {
  opacity: 0.8046012141;
  transform: translate(31vw, -40px) scale(0.943337297) rotate(78deg);
  animation: fall-58 29s -18s linear infinite;
}

@keyframes fall-58 {
  65% {
    transform: translate(39vw, 42vh) scale(0.943337297) rotate(-20deg);
  }
  to {
    transform: translate(45vw, 100vh) scale(0.943337297) rotate(4deg);
  }
}
.flowers > div:nth-child(59) {
  opacity: 0.5398210277;
  transform: translate(62vw, -40px) scale(0.8964565383) rotate(-33deg);
  animation: fall-59 34s -7s linear infinite;
}

@keyframes fall-59 {
  37% {
    transform: translate(56vw, 54vh) scale(0.8964565383) rotate(97deg);
  }
  to {
    transform: translate(59vw, 100vh) scale(0.8964565383) rotate(31deg);
  }
}
.flowers > div:nth-child(60) {
  opacity: 0.5128195209;
  transform: translate(6vw, -40px) scale(0.6236347155) rotate(162deg);
  animation: fall-60 26s -4s linear infinite;
}

@keyframes fall-60 {
  62% {
    transform: translate(-2vw, 60vh) scale(0.6236347155) rotate(96deg);
  }
  to {
    transform: translate(12vw, 100vh) scale(0.6236347155) rotate(-178deg);
  }
}
.flowers > div:nth-child(61) {
  opacity: 0.8234340904;
  transform: translate(86vw, -40px) scale(0.5412347732) rotate(92deg);
  animation: fall-61 29s -29s linear infinite;
}

@keyframes fall-61 {
  44% {
    transform: translate(71vw, 53vh) scale(0.5412347732) rotate(59deg);
  }
  to {
    transform: translate(86vw, 100vh) scale(0.5412347732) rotate(170deg);
  }
}
.flowers > div:nth-child(62) {
  opacity: 0.921684368;
  transform: translate(42vw, -40px) scale(0.7192250142) rotate(-168deg);
  animation: fall-62 27s -2s linear infinite;
}

@keyframes fall-62 {
  45% {
    transform: translate(46vw, 58vh) scale(0.7192250142) rotate(-122deg);
  }
  to {
    transform: translate(31vw, 100vh) scale(0.7192250142) rotate(121deg);
  }
}
.flowers > div:nth-child(63) {
  opacity: 0.760059832;
  transform: translate(42vw, -40px) scale(0.8715189029) rotate(-44deg);
  animation: fall-63 23s -3s linear infinite;
}

@keyframes fall-63 {
  49% {
    transform: translate(33vw, 51vh) scale(0.8715189029) rotate(-131deg);
  }
  to {
    transform: translate(50vw, 100vh) scale(0.8715189029) rotate(-143deg);
  }
}
.flowers > div:nth-child(64) {
  opacity: 0.8838934698;
  transform: translate(92vw, -40px) scale(0.9205427433) rotate(100deg);
  animation: fall-64 34s -19s linear infinite;
}

@keyframes fall-64 {
  40% {
    transform: translate(101vw, 55vh) scale(0.9205427433) rotate(180deg);
  }
  to {
    transform: translate(104vw, 100vh) scale(0.9205427433) rotate(-19deg);
  }
}
.flowers > div:nth-child(65) {
  opacity: 0.8971556128;
  transform: translate(64vw, -40px) scale(0.6537314126) rotate(-4deg);
  animation: fall-65 24s -27s linear infinite;
}

@keyframes fall-65 {
  37% {
    transform: translate(58vw, 43vh) scale(0.6537314126) rotate(-95deg);
  }
  to {
    transform: translate(73vw, 100vh) scale(0.6537314126) rotate(-54deg);
  }
}
.flowers > div:nth-child(66) {
  opacity: 0.8381946895;
  transform: translate(51vw, -40px) scale(0.8996754993) rotate(67deg);
  animation: fall-66 31s -9s linear infinite;
}

@keyframes fall-66 {
  53% {
    transform: translate(49vw, 55vh) scale(0.8996754993) rotate(-101deg);
  }
  to {
    transform: translate(55vw, 100vh) scale(0.8996754993) rotate(-50deg);
  }
}
.flowers > div:nth-child(67) {
  opacity: 0.5349061517;
  transform: translate(24vw, -40px) scale(0.7522315412) rotate(-17deg);
  animation: fall-67 33s -27s linear infinite;
}

@keyframes fall-67 {
  62% {
    transform: translate(6vw, 57vh) scale(0.7522315412) rotate(92deg);
  }
  to {
    transform: translate(9vw, 100vh) scale(0.7522315412) rotate(6deg);
  }
}
.flowers > div:nth-child(68) {
  opacity: 0.8194720904;
  transform: translate(33vw, -40px) scale(0.9194978912) rotate(-169deg);
  animation: fall-68 22s -17s linear infinite;
}

@keyframes fall-68 {
  41% {
    transform: translate(44vw, 59vh) scale(0.9194978912) rotate(-7deg);
  }
  to {
    transform: translate(40vw, 100vh) scale(0.9194978912) rotate(19deg);
  }
}
.flowers > div:nth-child(69) {
  opacity: 0.8982271861;
  transform: translate(22vw, -40px) scale(0.7992571426) rotate(120deg);
  animation: fall-69 23s -30s linear infinite;
}

@keyframes fall-69 {
  52% {
    transform: translate(28vw, 54vh) scale(0.7992571426) rotate(154deg);
  }
  to {
    transform: translate(40vw, 100vh) scale(0.7992571426) rotate(130deg);
  }
}
.flowers > div:nth-child(70) {
  opacity: 0.508528374;
  transform: translate(37vw, -40px) scale(0.7603458143) rotate(-110deg);
  animation: fall-70 28s -27s linear infinite;
}

@keyframes fall-70 {
  53% {
    transform: translate(33vw, 54vh) scale(0.7603458143) rotate(99deg);
  }
  to {
    transform: translate(32vw, 100vh) scale(0.7603458143) rotate(101deg);
  }
}
.flowers > div:nth-child(71) {
  opacity: 0.6979097716;
  transform: translate(17vw, -40px) scale(0.6616806161) rotate(134deg);
  animation: fall-71 23s -8s linear infinite;
}

@keyframes fall-71 {
  37% {
    transform: translate(20vw, 41vh) scale(0.6616806161) rotate(-79deg);
  }
  to {
    transform: translate(1vw, 100vh) scale(0.6616806161) rotate(79deg);
  }
}
.flowers > div:nth-child(72) {
  opacity: 0.9684362048;
  transform: translate(-4vw, -40px) scale(0.7822723043) rotate(163deg);
  animation: fall-72 24s -5s linear infinite;
}

@keyframes fall-72 {
  54% {
    transform: translate(1vw, 46vh) scale(0.7822723043) rotate(60deg);
  }
  to {
    transform: translate(-1vw, 100vh) scale(0.7822723043) rotate(-67deg);
  }
}
.flowers > div:nth-child(73) {
  opacity: 0.9877587303;
  transform: translate(79vw, -40px) scale(0.5552988979) rotate(70deg);
  animation: fall-73 29s -16s linear infinite;
}

@keyframes fall-73 {
  63% {
    transform: translate(87vw, 56vh) scale(0.5552988979) rotate(-13deg);
  }
  to {
    transform: translate(82vw, 100vh) scale(0.5552988979) rotate(-18deg);
  }
}
.flowers > div:nth-child(74) {
  opacity: 0.8558972408;
  transform: translate(68vw, -40px) scale(0.7841011449) rotate(160deg);
  animation: fall-74 26s -14s linear infinite;
}

@keyframes fall-74 {
  40% {
    transform: translate(60vw, 53vh) scale(0.7841011449) rotate(112deg);
  }
  to {
    transform: translate(58vw, 100vh) scale(0.7841011449) rotate(-141deg);
  }
}
.flowers > div:nth-child(75) {
  opacity: 0.5363222399;
  transform: translate(79vw, -40px) scale(0.8148255928) rotate(108deg);
  animation: fall-75 29s -12s linear infinite;
}

@keyframes fall-75 {
  62% {
    transform: translate(81vw, 46vh) scale(0.8148255928) rotate(-173deg);
  }
  to {
    transform: translate(72vw, 100vh) scale(0.8148255928) rotate(125deg);
  }
}
.flowers > div:nth-child(76) {
  opacity: 0.896784414;
  transform: translate(107vw, -40px) scale(0.8574993066) rotate(156deg);
  animation: fall-76 23s -22s linear infinite;
}

@keyframes fall-76 {
  47% {
    transform: translate(104vw, 50vh) scale(0.8574993066) rotate(-9deg);
  }
  to {
    transform: translate(99vw, 100vh) scale(0.8574993066) rotate(-143deg);
  }
}
.flowers > div:nth-child(77) {
  opacity: 0.9853873913;
  transform: translate(88vw, -40px) scale(0.590804128) rotate(-108deg);
  animation: fall-77 21s -3s linear infinite;
}

@keyframes fall-77 {
  61% {
    transform: translate(94vw, 47vh) scale(0.590804128) rotate(0deg);
  }
  to {
    transform: translate(98vw, 100vh) scale(0.590804128) rotate(78deg);
  }
}
.flowers > div:nth-child(78) {
  opacity: 0.6847382172;
  transform: translate(100vw, -40px) scale(0.7130888802) rotate(-2deg);
  animation: fall-78 30s -28s linear infinite;
}

@keyframes fall-78 {
  60% {
    transform: translate(98vw, 59vh) scale(0.7130888802) rotate(-11deg);
  }
  to {
    transform: translate(98vw, 100vh) scale(0.7130888802) rotate(-5deg);
  }
}
.flowers > div:nth-child(79) {
  opacity: 0.6243918527;
  transform: translate(64vw, -40px) scale(0.6336852053) rotate(-50deg);
  animation: fall-79 26s -9s linear infinite;
}

@keyframes fall-79 {
  40% {
    transform: translate(76vw, 54vh) scale(0.6336852053) rotate(-48deg);
  }
  to {
    transform: translate(70vw, 100vh) scale(0.6336852053) rotate(3deg);
  }
}
.flowers > div:nth-child(80) {
  opacity: 0.7265740999;
  transform: translate(40vw, -40px) scale(0.8744579072) rotate(8deg);
  animation: fall-80 27s -13s linear infinite;
}

@keyframes fall-80 {
  64% {
    transform: translate(37vw, 42vh) scale(0.8744579072) rotate(67deg);
  }
  to {
    transform: translate(49vw, 100vh) scale(0.8744579072) rotate(-63deg);
  }
}
.flowers > div:nth-child(81) {
  opacity: 0.6344308182;
  transform: translate(90vw, -40px) scale(0.8921961356) rotate(31deg);
  animation: fall-81 30s -1s linear infinite;
}

@keyframes fall-81 {
  61% {
    transform: translate(87vw, 57vh) scale(0.8921961356) rotate(70deg);
  }
  to {
    transform: translate(97vw, 100vh) scale(0.8921961356) rotate(49deg);
  }
}
.flowers > div:nth-child(82) {
  opacity: 0.5510690624;
  transform: translate(5vw, -40px) scale(0.7184688448) rotate(155deg);
  animation: fall-82 35s -25s linear infinite;
}

@keyframes fall-82 {
  38% {
    transform: translate(10vw, 44vh) scale(0.7184688448) rotate(58deg);
  }
  to {
    transform: translate(5vw, 100vh) scale(0.7184688448) rotate(-106deg);
  }
}
.flowers > div:nth-child(83) {
  opacity: 0.5908671266;
  transform: translate(74vw, -40px) scale(0.9384125825) rotate(126deg);
  animation: fall-83 35s -13s linear infinite;
}

@keyframes fall-83 {
  63% {
    transform: translate(69vw, 46vh) scale(0.9384125825) rotate(34deg);
  }
  to {
    transform: translate(74vw, 100vh) scale(0.9384125825) rotate(-41deg);
  }
}
.flowers > div:nth-child(84) {
  opacity: 0.9518836906;
  transform: translate(91vw, -40px) scale(0.7517726323) rotate(-48deg);
  animation: fall-84 34s -4s linear infinite;
}

@keyframes fall-84 {
  36% {
    transform: translate(86vw, 45vh) scale(0.7517726323) rotate(-127deg);
  }
  to {
    transform: translate(96vw, 100vh) scale(0.7517726323) rotate(6deg);
  }
}
.flowers > div:nth-child(85) {
  opacity: 0.7344351779;
  transform: translate(101vw, -40px) scale(0.9253474865) rotate(4deg);
  animation: fall-85 24s -20s linear infinite;
}

@keyframes fall-85 {
  38% {
    transform: translate(89vw, 59vh) scale(0.9253474865) rotate(41deg);
  }
  to {
    transform: translate(89vw, 100vh) scale(0.9253474865) rotate(116deg);
  }
}
.flowers > div:nth-child(86) {
  opacity: 0.6435120091;
  transform: translate(18vw, -40px) scale(0.8584003366) rotate(152deg);
  animation: fall-86 22s -25s linear infinite;
}

@keyframes fall-86 {
  59% {
    transform: translate(21vw, 55vh) scale(0.8584003366) rotate(-162deg);
  }
  to {
    transform: translate(20vw, 100vh) scale(0.8584003366) rotate(70deg);
  }
}
.flowers > div:nth-child(87) {
  opacity: 0.6583666653;
  transform: translate(55vw, -40px) scale(0.7300522798) rotate(74deg);
  animation: fall-87 28s -30s linear infinite;
}

@keyframes fall-87 {
  56% {
    transform: translate(46vw, 42vh) scale(0.7300522798) rotate(-107deg);
  }
  to {
    transform: translate(38vw, 100vh) scale(0.7300522798) rotate(0deg);
  }
}
.flowers > div:nth-child(88) {
  opacity: 0.9836007196;
  transform: translate(57vw, -40px) scale(0.6661671565) rotate(64deg);
  animation: fall-88 26s -18s linear infinite;
}

@keyframes fall-88 {
  54% {
    transform: translate(57vw, 49vh) scale(0.6661671565) rotate(-170deg);
  }
  to {
    transform: translate(65vw, 100vh) scale(0.6661671565) rotate(-161deg);
  }
}
.flowers > div:nth-child(89) {
  opacity: 0.8731349481;
  transform: translate(34vw, -40px) scale(0.6769958578) rotate(-144deg);
  animation: fall-89 32s -20s linear infinite;
}

@keyframes fall-89 {
  52% {
    transform: translate(41vw, 59vh) scale(0.6769958578) rotate(-66deg);
  }
  to {
    transform: translate(42vw, 100vh) scale(0.6769958578) rotate(-73deg);
  }
}
.flowers > div:nth-child(90) {
  opacity: 0.7464647497;
  transform: translate(-5vw, -40px) scale(0.6341549354) rotate(-15deg);
  animation: fall-90 30s -9s linear infinite;
}

@keyframes fall-90 {
  44% {
    transform: translate(-1vw, 48vh) scale(0.6341549354) rotate(-121deg);
  }
  to {
    transform: translate(-4vw, 100vh) scale(0.6341549354) rotate(-104deg);
  }
}
.flowers > div:nth-child(91) {
  opacity: 0.6076278553;
  transform: translate(11vw, -40px) scale(0.6085731574) rotate(-93deg);
  animation: fall-91 26s -7s linear infinite;
}

@keyframes fall-91 {
  43% {
    transform: translate(11vw, 47vh) scale(0.6085731574) rotate(-34deg);
  }
  to {
    transform: translate(23vw, 100vh) scale(0.6085731574) rotate(-45deg);
  }
}
.flowers > div:nth-child(92) {
  opacity: 0.635138311;
  transform: translate(79vw, -40px) scale(0.9436579869) rotate(168deg);
  animation: fall-92 27s -29s linear infinite;
}

@keyframes fall-92 {
  46% {
    transform: translate(66vw, 48vh) scale(0.9436579869) rotate(-44deg);
  }
  to {
    transform: translate(71vw, 100vh) scale(0.9436579869) rotate(33deg);
  }
}
.flowers > div:nth-child(93) {
  opacity: 0.763944011;
  transform: translate(8vw, -40px) scale(0.5734779672) rotate(-70deg);
  animation: fall-93 34s -6s linear infinite;
}

@keyframes fall-93 {
  59% {
    transform: translate(23vw, 41vh) scale(0.5734779672) rotate(76deg);
  }
  to {
    transform: translate(11vw, 100vh) scale(0.5734779672) rotate(140deg);
  }
}
.flowers > div:nth-child(94) {
  opacity: 0.8543442655;
  transform: translate(8vw, -40px) scale(0.5796128006) rotate(-45deg);
  animation: fall-94 22s -7s linear infinite;
}

@keyframes fall-94 {
  44% {
    transform: translate(16vw, 59vh) scale(0.5796128006) rotate(-167deg);
  }
  to {
    transform: translate(20vw, 100vh) scale(0.5796128006) rotate(161deg);
  }
}
.flowers > div:nth-child(95) {
  opacity: 0.6634275815;
  transform: translate(66vw, -40px) scale(0.8378333045) rotate(-131deg);
  animation: fall-95 32s -15s linear infinite;
}

@keyframes fall-95 {
  44% {
    transform: translate(73vw, 52vh) scale(0.8378333045) rotate(109deg);
  }
  to {
    transform: translate(80vw, 100vh) scale(0.8378333045) rotate(-97deg);
  }
}
.flowers > div:nth-child(96) {
  opacity: 0.7343994902;
  transform: translate(83vw, -40px) scale(0.5270247714) rotate(-107deg);
  animation: fall-96 21s -17s linear infinite;
}

@keyframes fall-96 {
  65% {
    transform: translate(86vw, 48vh) scale(0.5270247714) rotate(53deg);
  }
  to {
    transform: translate(78vw, 100vh) scale(0.5270247714) rotate(-15deg);
  }
}
.flowers > div:nth-child(97) {
  opacity: 0.6928268506;
  transform: translate(8vw, -40px) scale(0.5516356613) rotate(-144deg);
  animation: fall-97 23s -15s linear infinite;
}

@keyframes fall-97 {
  65% {
    transform: translate(14vw, 56vh) scale(0.5516356613) rotate(140deg);
  }
  to {
    transform: translate(-1vw, 100vh) scale(0.5516356613) rotate(13deg);
  }
}
.flowers > div:nth-child(98) {
  opacity: 0.7844995701;
  transform: translate(79vw, -40px) scale(0.6409868754) rotate(42deg);
  animation: fall-98 33s -19s linear infinite;
}

@keyframes fall-98 {
  65% {
    transform: translate(79vw, 51vh) scale(0.6409868754) rotate(-129deg);
  }
  to {
    transform: translate(72vw, 100vh) scale(0.6409868754) rotate(69deg);
  }
}
.flowers > div:nth-child(99) {
  opacity: 0.6468080443;
  transform: translate(37vw, -40px) scale(0.7816827442) rotate(180deg);
  animation: fall-99 32s -3s linear infinite;
}

@keyframes fall-99 {
  55% {
    transform: translate(44vw, 43vh) scale(0.7816827442) rotate(37deg);
  }
  to {
    transform: translate(43vw, 100vh) scale(0.7816827442) rotate(57deg);
  }
}
.flowers > div:nth-child(100) {
  opacity: 0.9796928481;
  transform: translate(82vw, -40px) scale(0.8023552046) rotate(162deg);
  animation: fall-100 34s -15s linear infinite;
}

@keyframes fall-100 {
  57% {
    transform: translate(88vw, 53vh) scale(0.8023552046) rotate(153deg);
  }
  to {
    transform: translate(79vw, 100vh) scale(0.8023552046) rotate(171deg);
  }
}
.h-flowers > div:nth-child(1) {
  width: 61px;
  height: 61px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.667136955s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(2) {
  width: 85px;
  height: 104px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8134748794s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(3) {
  width: 73px;
  height: 89px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3179841269s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(4) {
  width: 73px;
  height: 58px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5704509899s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(5) {
  width: 49px;
  height: 49px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1929422453s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(6) {
  width: 68px;
  height: 83px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.8368948545s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(7) {
  width: 77px;
  height: 94px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.7081683871s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(8) {
  width: 71px;
  height: 62px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8264671744s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(9) {
  width: 46px;
  height: 46px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5856257353s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(10) {
  width: 71px;
  height: 62px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1041935515s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(11) {
  width: 51px;
  height: 51px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1146406595s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(12) {
  width: 80px;
  height: 58px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1646116009s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(13) {
  width: 98px;
  height: 71px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3374761722s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(14) {
  width: 90px;
  height: 110px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2074458196s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(15) {
  width: 99px;
  height: 80px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.9897756786s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(16) {
  width: 99px;
  height: 79px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2993279163s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(17) {
  width: 65px;
  height: 80px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.5758345578s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(18) {
  width: 45px;
  height: 44px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2321500559s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(19) {
  width: 50px;
  height: 107px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.71693485s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(20) {
  width: 69px;
  height: 84px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6284430911s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(21) {
  width: 72px;
  height: 58px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8111243577s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(22) {
  width: 51px;
  height: 50px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.5506751432s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(23) {
  width: 101px;
  height: 81px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2445466511s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(24) {
  width: 81px;
  height: 65px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3326747099s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(25) {
  width: 56px;
  height: 56px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.3494175073s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(26) {
  width: 39px;
  height: 38px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6174792673s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(27) {
  width: 87px;
  height: 63px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.8780217507s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(28) {
  width: 100px;
  height: 80px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1090544338s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(29) {
  width: 66px;
  height: 141px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0013988522s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(30) {
  width: 78px;
  height: 68px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.2419753606s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(31) {
  width: 73px;
  height: 154px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.7970156426s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(32) {
  width: 77px;
  height: 94px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3833673091s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(33) {
  width: 77px;
  height: 67px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9174694538s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(34) {
  width: 62px;
  height: 131px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.092475413s infinite;
  background: url("../flowers/h-flower-05.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(35) {
  width: 83px;
  height: 73px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.8234326123s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(36) {
  width: 99px;
  height: 72px;
  margin: 0 -10px -10px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1092029812s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(37) {
  width: 46px;
  height: 46px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.1995020136s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(38) {
  width: 66px;
  height: 80px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2431353076s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(39) {
  width: 44px;
  height: 43px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.1687334272s infinite;
  background: url("../flowers/h-flower-04.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(40) {
  width: 85px;
  height: 61px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.4178589252s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(41) {
  width: 71px;
  height: 87px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.0755714503s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(42) {
  width: 68px;
  height: 83px;
  margin: 0 -14px -14px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6974237637s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(43) {
  width: 79px;
  height: 57px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9461679395s infinite;
  background: url("../flowers/h-flower-01.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(44) {
  width: 89px;
  height: 78px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 1.6409718411s infinite;
  background: url("../flowers/h-flower-02.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(45) {
  width: 84px;
  height: 68px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.2220584184s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(46) {
  width: 77px;
  height: 93px;
  margin: 0 -12px -12px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3037972748s infinite;
  background: url("../flowers/h-flower-03.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(47) {
  width: 63px;
  height: 77px;
  margin: 0 -15px -15px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.4818802931s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(48) {
  width: 99px;
  height: 80px;
  margin: 0 -11px -11px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.9613157805s infinite;
  background: url("../flowers/h-flower-08.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(49) {
  width: 70px;
  height: 85px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.6717379696s infinite;
  background: url("../flowers/h-flower-06.png") center/contain no-repeat transparent;
}

.h-flowers > div:nth-child(50) {
  width: 50px;
  height: 50px;
  margin: 0 -13px -13px;
  animation: wave 6s cubic-bezier(0.5, 0, 0.5, 1) 0.3782998138s infinite;
  background: url("../flowers/h-flower-07.png") center/contain no-repeat transparent;
}