@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hearts {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  bottom: 0;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  max-width: 100%;
  font-size: 19.2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.hearts__float > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../hearts/heart_01.png") center/contain no-repeat transparent;
}
.hearts__float > div:nth-child(3n+1) {
  background-image: url("../hearts/heart_01.png");
}
.hearts__float > div:nth-child(3n+2) {
  background-image: url("../hearts/heart_02.png");
}

.hearts__float > div:nth-child(1) {
  opacity: 0.9699909361;
  transform: translate(33vw, calc(100vh + 40px)) scale(0.6232594493) rotate(-18deg);
  animation: float-1 52s -49s linear infinite;
}

@keyframes float-1 {
  36% {
    transform: translate(60vw, 49vh) scale(0.6232594493) rotate(7deg);
  }
  to {
    transform: translate(78vw, -40px) scale(0.6232594493) rotate(19deg);
  }
}
.hearts__float > div:nth-child(2) {
  opacity: 0.8180081398;
  transform: translate(-26vw, calc(100vh + 40px)) scale(1.0974507447) rotate(5deg);
  animation: float-2 58s -24s linear infinite;
}

@keyframes float-2 {
  35% {
    transform: translate(-6vw, 43vh) scale(1.0974507447) rotate(7deg);
  }
  to {
    transform: translate(14vw, -40px) scale(1.0974507447) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(3) {
  opacity: 0.5929832995;
  transform: translate(35vw, calc(100vh + 40px)) scale(1.0927160685) rotate(9deg);
  animation: float-3 52s -30s linear infinite;
}

@keyframes float-3 {
  42% {
    transform: translate(62vw, 53vh) scale(1.0927160685) rotate(-14deg);
  }
  to {
    transform: translate(75vw, -40px) scale(1.0927160685) rotate(-2deg);
  }
}
.hearts__float > div:nth-child(4) {
  opacity: 0.8134726545;
  transform: translate(16vw, calc(100vh + 40px)) scale(1.0781264541) rotate(6deg);
  animation: float-4 54s -11s linear infinite;
}

@keyframes float-4 {
  39% {
    transform: translate(27vw, 58vh) scale(1.0781264541) rotate(5deg);
  }
  to {
    transform: translate(48vw, -40px) scale(1.0781264541) rotate(-24deg);
  }
}
.hearts__float > div:nth-child(5) {
  opacity: 0.5362124778;
  transform: translate(-15vw, calc(100vh + 40px)) scale(0.9172175253) rotate(-22deg);
  animation: float-5 57s -41s linear infinite;
}

@keyframes float-5 {
  41% {
    transform: translate(6vw, 56vh) scale(0.9172175253) rotate(2deg);
  }
  to {
    transform: translate(29vw, -40px) scale(0.9172175253) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(6) {
  opacity: 0.8619913894;
  transform: translate(25vw, calc(100vh + 40px)) scale(0.7370806493) rotate(16deg);
  animation: float-6 58s -40s linear infinite;
}

@keyframes float-6 {
  39% {
    transform: translate(46vw, 57vh) scale(0.7370806493) rotate(7deg);
  }
  to {
    transform: translate(63vw, -40px) scale(0.7370806493) rotate(-16deg);
  }
}
.hearts__float > div:nth-child(7) {
  opacity: 0.7707835687;
  transform: translate(57vw, calc(100vh + 40px)) scale(1.0492412593) rotate(-19deg);
  animation: float-7 53s -11s linear infinite;
}

@keyframes float-7 {
  41% {
    transform: translate(75vw, 52vh) scale(1.0492412593) rotate(-13deg);
  }
  to {
    transform: translate(93vw, -40px) scale(1.0492412593) rotate(5deg);
  }
}
.hearts__float > div:nth-child(8) {
  opacity: 0.5522251215;
  transform: translate(75vw, calc(100vh + 40px)) scale(0.9851689818) rotate(23deg);
  animation: float-8 57s -48s linear infinite;
}

@keyframes float-8 {
  39% {
    transform: translate(92vw, 55vh) scale(0.9851689818) rotate(5deg);
  }
  to {
    transform: translate(115vw, -40px) scale(0.9851689818) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(9) {
  opacity: 0.7999347195;
  transform: translate(36vw, calc(100vh + 40px)) scale(1.1019616918) rotate(-3deg);
  animation: float-9 60s -49s linear infinite;
}

@keyframes float-9 {
  39% {
    transform: translate(52vw, 43vh) scale(1.1019616918) rotate(-14deg);
  }
  to {
    transform: translate(80vw, -40px) scale(1.1019616918) rotate(2deg);
  }
}
.hearts__float > div:nth-child(10) {
  opacity: 0.6600616105;
  transform: translate(-34vw, calc(100vh + 40px)) scale(1.1009014248) rotate(-21deg);
  animation: float-10 54s -28s linear infinite;
}

@keyframes float-10 {
  44% {
    transform: translate(-15vw, 58vh) scale(1.1009014248) rotate(-11deg);
  }
  to {
    transform: translate(4vw, -40px) scale(1.1009014248) rotate(16deg);
  }
}
.hearts__float > div:nth-child(11) {
  opacity: 0.5534330294;
  transform: translate(21vw, calc(100vh + 40px)) scale(0.9333172072) rotate(8deg);
  animation: float-11 53s -17s linear infinite;
}

@keyframes float-11 {
  39% {
    transform: translate(40vw, 43vh) scale(0.9333172072) rotate(6deg);
  }
  to {
    transform: translate(65vw, -40px) scale(0.9333172072) rotate(-21deg);
  }
}
.hearts__float > div:nth-child(12) {
  opacity: 0.6453355626;
  transform: translate(48vw, calc(100vh + 40px)) scale(0.7750121294) rotate(-23deg);
  animation: float-12 57s -17s linear infinite;
}

@keyframes float-12 {
  35% {
    transform: translate(69vw, 42vh) scale(0.7750121294) rotate(-6deg);
  }
  to {
    transform: translate(93vw, -40px) scale(0.7750121294) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(13) {
  opacity: 0.6698810531;
  transform: translate(-21vw, calc(100vh + 40px)) scale(0.6935151544) rotate(-19deg);
  animation: float-13 52s -43s linear infinite;
}

@keyframes float-13 {
  35% {
    transform: translate(4vw, 48vh) scale(0.6935151544) rotate(8deg);
  }
  to {
    transform: translate(21vw, -40px) scale(0.6935151544) rotate(-8deg);
  }
}
.hearts__float > div:nth-child(14) {
  opacity: 0.9993893007;
  transform: translate(3vw, calc(100vh + 40px)) scale(0.9477992018) rotate(15deg);
  animation: float-14 53s -15s linear infinite;
}

@keyframes float-14 {
  40% {
    transform: translate(18vw, 41vh) scale(0.9477992018) rotate(9deg);
  }
  to {
    transform: translate(41vw, -40px) scale(0.9477992018) rotate(-16deg);
  }
}
.hearts__float > div:nth-child(15) {
  opacity: 0.5400421432;
  transform: translate(-32vw, calc(100vh + 40px)) scale(0.7107446491) rotate(2deg);
  animation: float-15 53s -35s linear infinite;
}

@keyframes float-15 {
  43% {
    transform: translate(-14vw, 43vh) scale(0.7107446491) rotate(-14deg);
  }
  to {
    transform: translate(4vw, -40px) scale(0.7107446491) rotate(10deg);
  }
}
.hearts__float > div:nth-child(16) {
  opacity: 0.692129472;
  transform: translate(33vw, calc(100vh + 40px)) scale(0.5013414081) rotate(10deg);
  animation: float-16 57s -39s linear infinite;
}

@keyframes float-16 {
  44% {
    transform: translate(56vw, 50vh) scale(0.5013414081) rotate(23deg);
  }
  to {
    transform: translate(80vw, -40px) scale(0.5013414081) rotate(-9deg);
  }
}
.hearts__float > div:nth-child(17) {
  opacity: 0.7766624186;
  transform: translate(23vw, calc(100vh + 40px)) scale(1.0000594027) rotate(-11deg);
  animation: float-17 54s -7s linear infinite;
}

@keyframes float-17 {
  40% {
    transform: translate(43vw, 58vh) scale(1.0000594027) rotate(-20deg);
  }
  to {
    transform: translate(64vw, -40px) scale(1.0000594027) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(18) {
  opacity: 0.8225378471;
  transform: translate(36vw, calc(100vh + 40px)) scale(0.9986163815) rotate(-13deg);
  animation: float-18 51s -33s linear infinite;
}

@keyframes float-18 {
  35% {
    transform: translate(58vw, 60vh) scale(0.9986163815) rotate(22deg);
  }
  to {
    transform: translate(74vw, -40px) scale(0.9986163815) rotate(6deg);
  }
}
.hearts__float > div:nth-child(19) {
  opacity: 0.8239657493;
  transform: translate(-2vw, calc(100vh + 40px)) scale(1.0657028311) rotate(-11deg);
  animation: float-19 55s -9s linear infinite;
}

@keyframes float-19 {
  44% {
    transform: translate(18vw, 55vh) scale(1.0657028311) rotate(21deg);
  }
  to {
    transform: translate(36vw, -40px) scale(1.0657028311) rotate(-14deg);
  }
}
.hearts__float > div:nth-child(20) {
  opacity: 0.9043558502;
  transform: translate(-7vw, calc(100vh + 40px)) scale(0.5253680524) rotate(-8deg);
  animation: float-20 57s -33s linear infinite;
}

@keyframes float-20 {
  36% {
    transform: translate(16vw, 56vh) scale(0.5253680524) rotate(5deg);
  }
  to {
    transform: translate(30vw, -40px) scale(0.5253680524) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(21) {
  opacity: 0.7456737647;
  transform: translate(75vw, calc(100vh + 40px)) scale(0.6111102526) rotate(20deg);
  animation: float-21 51s -38s linear infinite;
}

@keyframes float-21 {
  41% {
    transform: translate(98vw, 60vh) scale(0.6111102526) rotate(8deg);
  }
  to {
    transform: translate(115vw, -40px) scale(0.6111102526) rotate(13deg);
  }
}
.hearts__float > div:nth-child(22) {
  opacity: 0.693520588;
  transform: translate(15vw, calc(100vh + 40px)) scale(1.0651248598) rotate(5deg);
  animation: float-22 55s -13s linear infinite;
}

@keyframes float-22 {
  40% {
    transform: translate(29vw, 41vh) scale(1.0651248598) rotate(19deg);
  }
  to {
    transform: translate(49vw, -40px) scale(1.0651248598) rotate(-17deg);
  }
}
.hearts__float > div:nth-child(23) {
  opacity: 0.7186613886;
  transform: translate(-27vw, calc(100vh + 40px)) scale(0.5355848311) rotate(2deg);
  animation: float-23 56s -37s linear infinite;
}

@keyframes float-23 {
  41% {
    transform: translate(-8vw, 58vh) scale(0.5355848311) rotate(-18deg);
  }
  to {
    transform: translate(11vw, -40px) scale(0.5355848311) rotate(22deg);
  }
}
.hearts__float > div:nth-child(24) {
  opacity: 0.870142479;
  transform: translate(-34vw, calc(100vh + 40px)) scale(0.6046187378) rotate(15deg);
  animation: float-24 57s -31s linear infinite;
}

@keyframes float-24 {
  43% {
    transform: translate(-23vw, 52vh) scale(0.6046187378) rotate(9deg);
  }
  to {
    transform: translate(-2vw, -40px) scale(0.6046187378) rotate(5deg);
  }
}
.hearts__float > div:nth-child(25) {
  opacity: 0.5012448388;
  transform: translate(45vw, calc(100vh + 40px)) scale(0.9535893344) rotate(1deg);
  animation: float-25 60s -31s linear infinite;
}

@keyframes float-25 {
  40% {
    transform: translate(67vw, 53vh) scale(0.9535893344) rotate(16deg);
  }
  to {
    transform: translate(92vw, -40px) scale(0.9535893344) rotate(25deg);
  }
}
.hearts__float > div:nth-child(26) {
  opacity: 0.9820349791;
  transform: translate(26vw, calc(100vh + 40px)) scale(0.8935588487) rotate(-8deg);
  animation: float-26 52s -36s linear infinite;
}

@keyframes float-26 {
  40% {
    transform: translate(42vw, 45vh) scale(0.8935588487) rotate(-11deg);
  }
  to {
    transform: translate(63vw, -40px) scale(0.8935588487) rotate(1deg);
  }
}
.hearts__float > div:nth-child(27) {
  opacity: 0.8033062583;
  transform: translate(8vw, calc(100vh + 40px)) scale(1.0488319527) rotate(-5deg);
  animation: float-27 55s -29s linear infinite;
}

@keyframes float-27 {
  35% {
    transform: translate(29vw, 50vh) scale(1.0488319527) rotate(-7deg);
  }
  to {
    transform: translate(46vw, -40px) scale(1.0488319527) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(28) {
  opacity: 0.8561530553;
  transform: translate(47vw, calc(100vh + 40px)) scale(1.1084833051) rotate(-5deg);
  animation: float-28 54s -31s linear infinite;
}

@keyframes float-28 {
  37% {
    transform: translate(66vw, 47vh) scale(1.1084833051) rotate(-16deg);
  }
  to {
    transform: translate(83vw, -40px) scale(1.1084833051) rotate(10deg);
  }
}
.hearts__float > div:nth-child(29) {
  opacity: 0.567442084;
  transform: translate(84vw, calc(100vh + 40px)) scale(0.7655048181) rotate(16deg);
  animation: float-29 57s -49s linear infinite;
}

@keyframes float-29 {
  35% {
    transform: translate(99vw, 42vh) scale(0.7655048181) rotate(-12deg);
  }
  to {
    transform: translate(119vw, -40px) scale(0.7655048181) rotate(-11deg);
  }
}
.hearts__float > div:nth-child(30) {
  opacity: 0.6832256925;
  transform: translate(23vw, calc(100vh + 40px)) scale(0.7775788408) rotate(-18deg);
  animation: float-30 58s -32s linear infinite;
}

@keyframes float-30 {
  43% {
    transform: translate(38vw, 42vh) scale(0.7775788408) rotate(24deg);
  }
  to {
    transform: translate(57vw, -40px) scale(0.7775788408) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(31) {
  opacity: 0.9970236658;
  transform: translate(-36vw, calc(100vh + 40px)) scale(0.7993861787) rotate(12deg);
  animation: float-31 56s -5s linear infinite;
}

@keyframes float-31 {
  42% {
    transform: translate(-23vw, 54vh) scale(0.7993861787) rotate(11deg);
  }
  to {
    transform: translate(2vw, -40px) scale(0.7993861787) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(32) {
  opacity: 0.9997173801;
  transform: translate(90vw, calc(100vh + 40px)) scale(0.5742509439) rotate(-18deg);
  animation: float-32 52s -50s linear infinite;
}

@keyframes float-32 {
  37% {
    transform: translate(119vw, 47vh) scale(0.5742509439) rotate(-14deg);
  }
  to {
    transform: translate(136vw, -40px) scale(0.5742509439) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(33) {
  opacity: 0.5105352567;
  transform: translate(79vw, calc(100vh + 40px)) scale(1.0048850253) rotate(24deg);
  animation: float-33 57s -13s linear infinite;
}

@keyframes float-33 {
  44% {
    transform: translate(106vw, 48vh) scale(1.0048850253) rotate(25deg);
  }
  to {
    transform: translate(119vw, -40px) scale(1.0048850253) rotate(-21deg);
  }
}
.hearts__float > div:nth-child(34) {
  opacity: 0.748953855;
  transform: translate(50vw, calc(100vh + 40px)) scale(0.9940305427) rotate(18deg);
  animation: float-34 58s -35s linear infinite;
}

@keyframes float-34 {
  42% {
    transform: translate(70vw, 50vh) scale(0.9940305427) rotate(-1deg);
  }
  to {
    transform: translate(95vw, -40px) scale(0.9940305427) rotate(14deg);
  }
}
.hearts__float > div:nth-child(35) {
  opacity: 0.5923223606;
  transform: translate(74vw, calc(100vh + 40px)) scale(0.6547161637) rotate(20deg);
  animation: float-35 53s -11s linear infinite;
}

@keyframes float-35 {
  41% {
    transform: translate(93vw, 53vh) scale(0.6547161637) rotate(5deg);
  }
  to {
    transform: translate(120vw, -40px) scale(0.6547161637) rotate(-8deg);
  }
}
.hearts__float > div:nth-child(36) {
  opacity: 0.8367709664;
  transform: translate(68vw, calc(100vh + 40px)) scale(1.1312741803) rotate(8deg);
  animation: float-36 60s -50s linear infinite;
}

@keyframes float-36 {
  43% {
    transform: translate(94vw, 57vh) scale(1.1312741803) rotate(15deg);
  }
  to {
    transform: translate(108vw, -40px) scale(1.1312741803) rotate(-13deg);
  }
}
.hearts__float > div:nth-child(37) {
  opacity: 0.8118315101;
  transform: translate(61vw, calc(100vh + 40px)) scale(0.882041163) rotate(-1deg);
  animation: float-37 54s -23s linear infinite;
}

@keyframes float-37 {
  37% {
    transform: translate(87vw, 60vh) scale(0.882041163) rotate(15deg);
  }
  to {
    transform: translate(108vw, -40px) scale(0.882041163) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(38) {
  opacity: 0.6171179548;
  transform: translate(52vw, calc(100vh + 40px)) scale(0.8857338034) rotate(12deg);
  animation: float-38 54s -40s linear infinite;
}

@keyframes float-38 {
  40% {
    transform: translate(76vw, 45vh) scale(0.8857338034) rotate(17deg);
  }
  to {
    transform: translate(92vw, -40px) scale(0.8857338034) rotate(-18deg);
  }
}
.hearts__float > div:nth-child(39) {
  opacity: 0.6227844226;
  transform: translate(27vw, calc(100vh + 40px)) scale(0.7052699426) rotate(14deg);
  animation: float-39 59s -11s linear infinite;
}

@keyframes float-39 {
  37% {
    transform: translate(48vw, 59vh) scale(0.7052699426) rotate(25deg);
  }
  to {
    transform: translate(70vw, -40px) scale(0.7052699426) rotate(-2deg);
  }
}
.hearts__float > div:nth-child(40) {
  opacity: 0.9893126105;
  transform: translate(-30vw, calc(100vh + 40px)) scale(1.0303124291) rotate(-11deg);
  animation: float-40 51s -20s linear infinite;
}

@keyframes float-40 {
  40% {
    transform: translate(-13vw, 43vh) scale(1.0303124291) rotate(9deg);
  }
  to {
    transform: translate(13vw, -40px) scale(1.0303124291) rotate(-18deg);
  }
}
.hearts__float > div:nth-child(41) {
  opacity: 0.700507886;
  transform: translate(38vw, calc(100vh + 40px)) scale(0.7871386654) rotate(-11deg);
  animation: float-41 54s -17s linear infinite;
}

@keyframes float-41 {
  41% {
    transform: translate(55vw, 56vh) scale(0.7871386654) rotate(25deg);
  }
  to {
    transform: translate(78vw, -40px) scale(0.7871386654) rotate(24deg);
  }
}
.hearts__float > div:nth-child(42) {
  opacity: 0.9338238093;
  transform: translate(81vw, calc(100vh + 40px)) scale(0.539076293) rotate(19deg);
  animation: float-42 51s -15s linear infinite;
}

@keyframes float-42 {
  43% {
    transform: translate(102vw, 50vh) scale(0.539076293) rotate(17deg);
  }
  to {
    transform: translate(126vw, -40px) scale(0.539076293) rotate(22deg);
  }
}
.hearts__float > div:nth-child(43) {
  opacity: 0.5795975011;
  transform: translate(3vw, calc(100vh + 40px)) scale(0.9281185266) rotate(-12deg);
  animation: float-43 54s -8s linear infinite;
}

@keyframes float-43 {
  44% {
    transform: translate(24vw, 60vh) scale(0.9281185266) rotate(-3deg);
  }
  to {
    transform: translate(42vw, -40px) scale(0.9281185266) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(44) {
  opacity: 0.7111211511;
  transform: translate(-9vw, calc(100vh + 40px)) scale(0.5483059567) rotate(7deg);
  animation: float-44 57s -43s linear infinite;
}

@keyframes float-44 {
  38% {
    transform: translate(13vw, 54vh) scale(0.5483059567) rotate(12deg);
  }
  to {
    transform: translate(26vw, -40px) scale(0.5483059567) rotate(18deg);
  }
}
.hearts__float > div:nth-child(45) {
  opacity: 0.5544154623;
  transform: translate(85vw, calc(100vh + 40px)) scale(0.5767753078) rotate(5deg);
  animation: float-45 57s -22s linear infinite;
}

@keyframes float-45 {
  35% {
    transform: translate(103vw, 45vh) scale(0.5767753078) rotate(-10deg);
  }
  to {
    transform: translate(122vw, -40px) scale(0.5767753078) rotate(13deg);
  }
}
.hearts__float > div:nth-child(46) {
  opacity: 0.8502443299;
  transform: translate(31vw, calc(100vh + 40px)) scale(0.6219869049) rotate(-5deg);
  animation: float-46 57s -30s linear infinite;
}

@keyframes float-46 {
  41% {
    transform: translate(49vw, 52vh) scale(0.6219869049) rotate(9deg);
  }
  to {
    transform: translate(70vw, -40px) scale(0.6219869049) rotate(-1deg);
  }
}
.hearts__float > div:nth-child(47) {
  opacity: 0.5290475115;
  transform: translate(38vw, calc(100vh + 40px)) scale(0.9989403091) rotate(-20deg);
  animation: float-47 55s -47s linear infinite;
}

@keyframes float-47 {
  40% {
    transform: translate(57vw, 56vh) scale(0.9989403091) rotate(4deg);
  }
  to {
    transform: translate(77vw, -40px) scale(0.9989403091) rotate(-13deg);
  }
}
.hearts__float > div:nth-child(48) {
  opacity: 0.7166013391;
  transform: translate(3vw, calc(100vh + 40px)) scale(0.6032002376) rotate(-1deg);
  animation: float-48 57s -36s linear infinite;
}

@keyframes float-48 {
  36% {
    transform: translate(29vw, 53vh) scale(0.6032002376) rotate(-14deg);
  }
  to {
    transform: translate(44vw, -40px) scale(0.6032002376) rotate(14deg);
  }
}
.hearts__float > div:nth-child(49) {
  opacity: 0.8801658837;
  transform: translate(34vw, calc(100vh + 40px)) scale(1.065632937) rotate(12deg);
  animation: float-49 55s -28s linear infinite;
}

@keyframes float-49 {
  36% {
    transform: translate(54vw, 48vh) scale(1.065632937) rotate(-22deg);
  }
  to {
    transform: translate(78vw, -40px) scale(1.065632937) rotate(10deg);
  }
}
.hearts__float > div:nth-child(50) {
  opacity: 0.7589528743;
  transform: translate(94vw, calc(100vh + 40px)) scale(0.8649892795) rotate(-5deg);
  animation: float-50 58s -11s linear infinite;
}

@keyframes float-50 {
  41% {
    transform: translate(123vw, 58vh) scale(0.8649892795) rotate(-13deg);
  }
  to {
    transform: translate(135vw, -40px) scale(0.8649892795) rotate(-13deg);
  }
}
.hearts__float > div:nth-child(51) {
  opacity: 0.94857792;
  transform: translate(31vw, calc(100vh + 40px)) scale(0.5477910537) rotate(24deg);
  animation: float-51 58s -38s linear infinite;
}

@keyframes float-51 {
  37% {
    transform: translate(51vw, 55vh) scale(0.5477910537) rotate(6deg);
  }
  to {
    transform: translate(70vw, -40px) scale(0.5477910537) rotate(-12deg);
  }
}
.hearts__float > div:nth-child(52) {
  opacity: 0.8282183705;
  transform: translate(7vw, calc(100vh + 40px)) scale(1.0660659657) rotate(-16deg);
  animation: float-52 55s -41s linear infinite;
}

@keyframes float-52 {
  42% {
    transform: translate(25vw, 41vh) scale(1.0660659657) rotate(-4deg);
  }
  to {
    transform: translate(43vw, -40px) scale(1.0660659657) rotate(-17deg);
  }
}
.hearts__float > div:nth-child(53) {
  opacity: 0.9590498663;
  transform: translate(0vw, calc(100vh + 40px)) scale(0.5941577157) rotate(8deg);
  animation: float-53 60s -38s linear infinite;
}

@keyframes float-53 {
  38% {
    transform: translate(17vw, 47vh) scale(0.5941577157) rotate(-22deg);
  }
  to {
    transform: translate(41vw, -40px) scale(0.5941577157) rotate(1deg);
  }
}
.hearts__float > div:nth-child(54) {
  opacity: 0.869452123;
  transform: translate(46vw, calc(100vh + 40px)) scale(0.687036034) rotate(-7deg);
  animation: float-54 52s -4s linear infinite;
}

@keyframes float-54 {
  43% {
    transform: translate(61vw, 45vh) scale(0.687036034) rotate(3deg);
  }
  to {
    transform: translate(88vw, -40px) scale(0.687036034) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(55) {
  opacity: 0.6929418106;
  transform: translate(-29vw, calc(100vh + 40px)) scale(1.0058877103) rotate(-19deg);
  animation: float-55 54s -35s linear infinite;
}

@keyframes float-55 {
  36% {
    transform: translate(-13vw, 50vh) scale(1.0058877103) rotate(-23deg);
  }
  to {
    transform: translate(15vw, -40px) scale(1.0058877103) rotate(0deg);
  }
}
.hearts__float > div:nth-child(56) {
  opacity: 0.534120026;
  transform: translate(3vw, calc(100vh + 40px)) scale(1.0304709919) rotate(21deg);
  animation: float-56 54s -28s linear infinite;
}

@keyframes float-56 {
  37% {
    transform: translate(18vw, 50vh) scale(1.0304709919) rotate(-14deg);
  }
  to {
    transform: translate(36vw, -40px) scale(1.0304709919) rotate(-4deg);
  }
}
.hearts__float > div:nth-child(57) {
  opacity: 0.9015867385;
  transform: translate(2vw, calc(100vh + 40px)) scale(1.072849943) rotate(-11deg);
  animation: float-57 60s -50s linear infinite;
}

@keyframes float-57 {
  38% {
    transform: translate(16vw, 57vh) scale(1.072849943) rotate(-2deg);
  }
  to {
    transform: translate(34vw, -40px) scale(1.072849943) rotate(18deg);
  }
}
.hearts__float > div:nth-child(58) {
  opacity: 0.5059979192;
  transform: translate(54vw, calc(100vh + 40px)) scale(0.6580915587) rotate(-19deg);
  animation: float-58 58s -30s linear infinite;
}

@keyframes float-58 {
  35% {
    transform: translate(72vw, 57vh) scale(0.6580915587) rotate(4deg);
  }
  to {
    transform: translate(99vw, -40px) scale(0.6580915587) rotate(-2deg);
  }
}
.hearts__float > div:nth-child(59) {
  opacity: 0.8657397853;
  transform: translate(60vw, calc(100vh + 40px)) scale(1.125717707) rotate(23deg);
  animation: float-59 53s -41s linear infinite;
}

@keyframes float-59 {
  40% {
    transform: translate(75vw, 47vh) scale(1.125717707) rotate(-12deg);
  }
  to {
    transform: translate(96vw, -40px) scale(1.125717707) rotate(-12deg);
  }
}
.hearts__float > div:nth-child(60) {
  opacity: 0.8776334528;
  transform: translate(60vw, calc(100vh + 40px)) scale(0.6961337485) rotate(-8deg);
  animation: float-60 58s -40s linear infinite;
}

@keyframes float-60 {
  42% {
    transform: translate(75vw, 56vh) scale(0.6961337485) rotate(7deg);
  }
  to {
    transform: translate(103vw, -40px) scale(0.6961337485) rotate(20deg);
  }
}
.hearts__float > div:nth-child(61) {
  opacity: 0.6729682958;
  transform: translate(31vw, calc(100vh + 40px)) scale(0.8175485539) rotate(-18deg);
  animation: float-61 57s -1s linear infinite;
}

@keyframes float-61 {
  40% {
    transform: translate(49vw, 43vh) scale(0.8175485539) rotate(10deg);
  }
  to {
    transform: translate(64vw, -40px) scale(0.8175485539) rotate(12deg);
  }
}
.hearts__float > div:nth-child(62) {
  opacity: 0.9674353431;
  transform: translate(-24vw, calc(100vh + 40px)) scale(0.7388377564) rotate(-15deg);
  animation: float-62 54s -50s linear infinite;
}

@keyframes float-62 {
  43% {
    transform: translate(-5vw, 53vh) scale(0.7388377564) rotate(-22deg);
  }
  to {
    transform: translate(20vw, -40px) scale(0.7388377564) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(63) {
  opacity: 0.5340994858;
  transform: translate(30vw, calc(100vh + 40px)) scale(0.9404302787) rotate(-18deg);
  animation: float-63 52s -19s linear infinite;
}

@keyframes float-63 {
  39% {
    transform: translate(48vw, 55vh) scale(0.9404302787) rotate(-2deg);
  }
  to {
    transform: translate(65vw, -40px) scale(0.9404302787) rotate(-24deg);
  }
}
.hearts__float > div:nth-child(64) {
  opacity: 0.950097659;
  transform: translate(-11vw, calc(100vh + 40px)) scale(0.5216932299) rotate(-24deg);
  animation: float-64 59s -4s linear infinite;
}

@keyframes float-64 {
  39% {
    transform: translate(8vw, 41vh) scale(0.5216932299) rotate(-11deg);
  }
  to {
    transform: translate(30vw, -40px) scale(0.5216932299) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(65) {
  opacity: 0.7267937848;
  transform: translate(40vw, calc(100vh + 40px)) scale(1.0763231508) rotate(21deg);
  animation: float-65 53s -45s linear infinite;
}

@keyframes float-65 {
  37% {
    transform: translate(60vw, 60vh) scale(1.0763231508) rotate(16deg);
  }
  to {
    transform: translate(87vw, -40px) scale(1.0763231508) rotate(-16deg);
  }
}
.hearts__float > div:nth-child(66) {
  opacity: 0.9341163003;
  transform: translate(-20vw, calc(100vh + 40px)) scale(1.1442349284) rotate(24deg);
  animation: float-66 55s -18s linear infinite;
}

@keyframes float-66 {
  39% {
    transform: translate(4vw, 55vh) scale(1.1442349284) rotate(-18deg);
  }
  to {
    transform: translate(19vw, -40px) scale(1.1442349284) rotate(-14deg);
  }
}
.hearts__float > div:nth-child(67) {
  opacity: 0.6113740012;
  transform: translate(52vw, calc(100vh + 40px)) scale(0.8061180504) rotate(20deg);
  animation: float-67 60s -23s linear infinite;
}

@keyframes float-67 {
  42% {
    transform: translate(76vw, 45vh) scale(0.8061180504) rotate(24deg);
  }
  to {
    transform: translate(93vw, -40px) scale(0.8061180504) rotate(-11deg);
  }
}
.hearts__float > div:nth-child(68) {
  opacity: 0.8606535419;
  transform: translate(13vw, calc(100vh + 40px)) scale(0.7681899563) rotate(-15deg);
  animation: float-68 55s -10s linear infinite;
}

@keyframes float-68 {
  38% {
    transform: translate(32vw, 55vh) scale(0.7681899563) rotate(-3deg);
  }
  to {
    transform: translate(59vw, -40px) scale(0.7681899563) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(69) {
  opacity: 0.8875129384;
  transform: translate(-31vw, calc(100vh + 40px)) scale(1.1144282374) rotate(2deg);
  animation: float-69 52s -34s linear infinite;
}

@keyframes float-69 {
  40% {
    transform: translate(-12vw, 56vh) scale(1.1144282374) rotate(-11deg);
  }
  to {
    transform: translate(9vw, -40px) scale(1.1144282374) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(70) {
  opacity: 0.6442267781;
  transform: translate(66vw, calc(100vh + 40px)) scale(1.0175901777) rotate(-17deg);
  animation: float-70 60s -6s linear infinite;
}

@keyframes float-70 {
  43% {
    transform: translate(86vw, 48vh) scale(1.0175901777) rotate(11deg);
  }
  to {
    transform: translate(106vw, -40px) scale(1.0175901777) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(71) {
  opacity: 0.724290903;
  transform: translate(45vw, calc(100vh + 40px)) scale(0.8752379024) rotate(14deg);
  animation: float-71 51s -33s linear infinite;
}

@keyframes float-71 {
  42% {
    transform: translate(69vw, 48vh) scale(0.8752379024) rotate(-7deg);
  }
  to {
    transform: translate(85vw, -40px) scale(0.8752379024) rotate(19deg);
  }
}
.hearts__float > div:nth-child(72) {
  opacity: 0.9628615896;
  transform: translate(72vw, calc(100vh + 40px)) scale(0.9626439518) rotate(5deg);
  animation: float-72 53s -1s linear infinite;
}

@keyframes float-72 {
  36% {
    transform: translate(91vw, 49vh) scale(0.9626439518) rotate(-21deg);
  }
  to {
    transform: translate(115vw, -40px) scale(0.9626439518) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(73) {
  opacity: 0.827608153;
  transform: translate(-24vw, calc(100vh + 40px)) scale(0.7836866461) rotate(-10deg);
  animation: float-73 56s -40s linear infinite;
}

@keyframes float-73 {
  42% {
    transform: translate(-10vw, 50vh) scale(0.7836866461) rotate(-3deg);
  }
  to {
    transform: translate(13vw, -40px) scale(0.7836866461) rotate(-20deg);
  }
}
.hearts__float > div:nth-child(74) {
  opacity: 0.6720907335;
  transform: translate(-33vw, calc(100vh + 40px)) scale(0.8313102547) rotate(12deg);
  animation: float-74 59s -24s linear infinite;
}

@keyframes float-74 {
  39% {
    transform: translate(-12vw, 53vh) scale(0.8313102547) rotate(-7deg);
  }
  to {
    transform: translate(14vw, -40px) scale(0.8313102547) rotate(20deg);
  }
}
.hearts__float > div:nth-child(75) {
  opacity: 0.8765513955;
  transform: translate(44vw, calc(100vh + 40px)) scale(0.5411744675) rotate(-19deg);
  animation: float-75 55s -44s linear infinite;
}

@keyframes float-75 {
  41% {
    transform: translate(72vw, 48vh) scale(0.5411744675) rotate(11deg);
  }
  to {
    transform: translate(83vw, -40px) scale(0.5411744675) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(76) {
  opacity: 0.7343831155;
  transform: translate(20vw, calc(100vh + 40px)) scale(0.5919126392) rotate(19deg);
  animation: float-76 55s -40s linear infinite;
}

@keyframes float-76 {
  37% {
    transform: translate(38vw, 58vh) scale(0.5919126392) rotate(-24deg);
  }
  to {
    transform: translate(58vw, -40px) scale(0.5919126392) rotate(24deg);
  }
}
.hearts__float > div:nth-child(77) {
  opacity: 0.5861220972;
  transform: translate(58vw, calc(100vh + 40px)) scale(0.6340500105) rotate(-6deg);
  animation: float-77 57s -24s linear infinite;
}

@keyframes float-77 {
  43% {
    transform: translate(80vw, 55vh) scale(0.6340500105) rotate(-2deg);
  }
  to {
    transform: translate(105vw, -40px) scale(0.6340500105) rotate(15deg);
  }
}
.hearts__float > div:nth-child(78) {
  opacity: 0.9110245578;
  transform: translate(53vw, calc(100vh + 40px)) scale(1.0889844499) rotate(6deg);
  animation: float-78 52s -1s linear infinite;
}

@keyframes float-78 {
  44% {
    transform: translate(73vw, 54vh) scale(1.0889844499) rotate(12deg);
  }
  to {
    transform: translate(91vw, -40px) scale(1.0889844499) rotate(25deg);
  }
}
.hearts__float > div:nth-child(79) {
  opacity: 0.5824092621;
  transform: translate(-35vw, calc(100vh + 40px)) scale(0.9000522184) rotate(5deg);
  animation: float-79 51s -28s linear infinite;
}

@keyframes float-79 {
  36% {
    transform: translate(-10vw, 55vh) scale(0.9000522184) rotate(-7deg);
  }
  to {
    transform: translate(5vw, -40px) scale(0.9000522184) rotate(25deg);
  }
}
.hearts__float > div:nth-child(80) {
  opacity: 0.7181560078;
  transform: translate(-12vw, calc(100vh + 40px)) scale(0.9052983513) rotate(10deg);
  animation: float-80 52s -5s linear infinite;
}

@keyframes float-80 {
  40% {
    transform: translate(10vw, 43vh) scale(0.9052983513) rotate(20deg);
  }
  to {
    transform: translate(22vw, -40px) scale(0.9052983513) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(81) {
  opacity: 0.6826066401;
  transform: translate(32vw, calc(100vh + 40px)) scale(1.164342982) rotate(13deg);
  animation: float-81 57s -49s linear infinite;
}

@keyframes float-81 {
  42% {
    transform: translate(55vw, 58vh) scale(1.164342982) rotate(7deg);
  }
  to {
    transform: translate(79vw, -40px) scale(1.164342982) rotate(10deg);
  }
}
.hearts__float > div:nth-child(82) {
  opacity: 0.986581961;
  transform: translate(35vw, calc(100vh + 40px)) scale(0.8302927359) rotate(23deg);
  animation: float-82 54s -39s linear infinite;
}

@keyframes float-82 {
  37% {
    transform: translate(54vw, 53vh) scale(0.8302927359) rotate(4deg);
  }
  to {
    transform: translate(77vw, -40px) scale(0.8302927359) rotate(3deg);
  }
}
.hearts__float > div:nth-child(83) {
  opacity: 0.9548443585;
  transform: translate(-31vw, calc(100vh + 40px)) scale(0.524687251) rotate(12deg);
  animation: float-83 51s -25s linear infinite;
}

@keyframes float-83 {
  36% {
    transform: translate(-18vw, 41vh) scale(0.524687251) rotate(18deg);
  }
  to {
    transform: translate(5vw, -40px) scale(0.524687251) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(84) {
  opacity: 0.8279125696;
  transform: translate(-1vw, calc(100vh + 40px)) scale(0.5675224671) rotate(-14deg);
  animation: float-84 59s -36s linear infinite;
}

@keyframes float-84 {
  43% {
    transform: translate(25vw, 42vh) scale(0.5675224671) rotate(-4deg);
  }
  to {
    transform: translate(47vw, -40px) scale(0.5675224671) rotate(15deg);
  }
}
.hearts__float > div:nth-child(85) {
  opacity: 0.9143747801;
  transform: translate(22vw, calc(100vh + 40px)) scale(0.5204622951) rotate(-7deg);
  animation: float-85 52s -7s linear infinite;
}

@keyframes float-85 {
  42% {
    transform: translate(47vw, 52vh) scale(0.5204622951) rotate(12deg);
  }
  to {
    transform: translate(61vw, -40px) scale(0.5204622951) rotate(3deg);
  }
}
.hearts__float > div:nth-child(86) {
  opacity: 0.8015046126;
  transform: translate(83vw, calc(100vh + 40px)) scale(0.8226487995) rotate(2deg);
  animation: float-86 54s -50s linear infinite;
}

@keyframes float-86 {
  38% {
    transform: translate(105vw, 51vh) scale(0.8226487995) rotate(-1deg);
  }
  to {
    transform: translate(126vw, -40px) scale(0.8226487995) rotate(4deg);
  }
}
.hearts__float > div:nth-child(87) {
  opacity: 0.9982799687;
  transform: translate(81vw, calc(100vh + 40px)) scale(0.577590932) rotate(19deg);
  animation: float-87 56s -42s linear infinite;
}

@keyframes float-87 {
  35% {
    transform: translate(99vw, 47vh) scale(0.577590932) rotate(5deg);
  }
  to {
    transform: translate(123vw, -40px) scale(0.577590932) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(88) {
  opacity: 0.8351198578;
  transform: translate(98vw, calc(100vh + 40px)) scale(0.9771398848) rotate(24deg);
  animation: float-88 52s -30s linear infinite;
}

@keyframes float-88 {
  36% {
    transform: translate(117vw, 57vh) scale(0.9771398848) rotate(-8deg);
  }
  to {
    transform: translate(138vw, -40px) scale(0.9771398848) rotate(21deg);
  }
}
.hearts__float > div:nth-child(89) {
  opacity: 0.8388056995;
  transform: translate(44vw, calc(100vh + 40px)) scale(0.6953568194) rotate(4deg);
  animation: float-89 52s -33s linear infinite;
}

@keyframes float-89 {
  40% {
    transform: translate(69vw, 41vh) scale(0.6953568194) rotate(-5deg);
  }
  to {
    transform: translate(91vw, -40px) scale(0.6953568194) rotate(15deg);
  }
}
.hearts__float > div:nth-child(90) {
  opacity: 0.6650403503;
  transform: translate(4vw, calc(100vh + 40px)) scale(1.1005313645) rotate(1deg);
  animation: float-90 54s -40s linear infinite;
}

@keyframes float-90 {
  44% {
    transform: translate(27vw, 48vh) scale(1.1005313645) rotate(-7deg);
  }
  to {
    transform: translate(43vw, -40px) scale(1.1005313645) rotate(3deg);
  }
}
.hearts__float > div:nth-child(91) {
  opacity: 0.9355982456;
  transform: translate(46vw, calc(100vh + 40px)) scale(0.8425936919) rotate(20deg);
  animation: float-91 55s -38s linear infinite;
}

@keyframes float-91 {
  36% {
    transform: translate(68vw, 47vh) scale(0.8425936919) rotate(21deg);
  }
  to {
    transform: translate(82vw, -40px) scale(0.8425936919) rotate(18deg);
  }
}
.hearts__float > div:nth-child(92) {
  opacity: 0.5090033104;
  transform: translate(-2vw, calc(100vh + 40px)) scale(0.5488068946) rotate(13deg);
  animation: float-92 56s -18s linear infinite;
}

@keyframes float-92 {
  37% {
    transform: translate(19vw, 42vh) scale(0.5488068946) rotate(21deg);
  }
  to {
    transform: translate(46vw, -40px) scale(0.5488068946) rotate(-22deg);
  }
}
.hearts__float > div:nth-child(93) {
  opacity: 0.8017542755;
  transform: translate(-23vw, calc(100vh + 40px)) scale(0.6148819092) rotate(16deg);
  animation: float-93 54s -5s linear infinite;
}

@keyframes float-93 {
  41% {
    transform: translate(-9vw, 57vh) scale(0.6148819092) rotate(18deg);
  }
  to {
    transform: translate(13vw, -40px) scale(0.6148819092) rotate(6deg);
  }
}
.hearts__float > div:nth-child(94) {
  opacity: 0.8718342788;
  transform: translate(12vw, calc(100vh + 40px)) scale(0.7325804301) rotate(2deg);
  animation: float-94 56s -28s linear infinite;
}

@keyframes float-94 {
  36% {
    transform: translate(39vw, 57vh) scale(0.7325804301) rotate(-17deg);
  }
  to {
    transform: translate(58vw, -40px) scale(0.7325804301) rotate(16deg);
  }
}
.hearts__float > div:nth-child(95) {
  opacity: 0.8713865566;
  transform: translate(76vw, calc(100vh + 40px)) scale(0.9708283382) rotate(1deg);
  animation: float-95 60s -2s linear infinite;
}

@keyframes float-95 {
  42% {
    transform: translate(95vw, 59vh) scale(0.9708283382) rotate(19deg);
  }
  to {
    transform: translate(117vw, -40px) scale(0.9708283382) rotate(-19deg);
  }
}
.hearts__float > div:nth-child(96) {
  opacity: 0.6189512507;
  transform: translate(-32vw, calc(100vh + 40px)) scale(1.1258256604) rotate(-21deg);
  animation: float-96 60s -15s linear infinite;
}

@keyframes float-96 {
  37% {
    transform: translate(-5vw, 58vh) scale(1.1258256604) rotate(4deg);
  }
  to {
    transform: translate(12vw, -40px) scale(1.1258256604) rotate(10deg);
  }
}
.hearts__float > div:nth-child(97) {
  opacity: 0.5280650372;
  transform: translate(-18vw, calc(100vh + 40px)) scale(1.0824888823) rotate(17deg);
  animation: float-97 59s -31s linear infinite;
}

@keyframes float-97 {
  41% {
    transform: translate(5vw, 45vh) scale(1.0824888823) rotate(12deg);
  }
  to {
    transform: translate(25vw, -40px) scale(1.0824888823) rotate(11deg);
  }
}
.hearts__float > div:nth-child(98) {
  opacity: 0.7898052521;
  transform: translate(90vw, calc(100vh + 40px)) scale(0.6281344179) rotate(6deg);
  animation: float-98 59s -40s linear infinite;
}

@keyframes float-98 {
  44% {
    transform: translate(109vw, 53vh) scale(0.6281344179) rotate(-1deg);
  }
  to {
    transform: translate(129vw, -40px) scale(0.6281344179) rotate(17deg);
  }
}
.hearts__float > div:nth-child(99) {
  opacity: 0.9865774808;
  transform: translate(49vw, calc(100vh + 40px)) scale(0.5888845241) rotate(-8deg);
  animation: float-99 53s -48s linear infinite;
}

@keyframes float-99 {
  36% {
    transform: translate(71vw, 43vh) scale(0.5888845241) rotate(21deg);
  }
  to {
    transform: translate(89vw, -40px) scale(0.5888845241) rotate(7deg);
  }
}
.hearts__float > div:nth-child(100) {
  opacity: 0.5137036083;
  transform: translate(105vw, calc(100vh + 40px)) scale(0.896511669) rotate(-19deg);
  animation: float-100 55s -25s linear infinite;
}

@keyframes float-100 {
  38% {
    transform: translate(116vw, 47vh) scale(0.896511669) rotate(24deg);
  }
  to {
    transform: translate(145vw, -40px) scale(0.896511669) rotate(-5deg);
  }
}