@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hearts {
  top: 0;
  left: 0;
  right: 0;
  width: 100em;
  bottom: 0;
  margin: 0 auto;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  max-width: 100%;
  font-size: 19.2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.hearts__float > div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../hearts/heart_01.png") center/contain no-repeat transparent;
}
.hearts__float > div:nth-child(3n+1) {
  background-image: url("../hearts/heart_01.png");
}
.hearts__float > div:nth-child(3n+2) {
  background-image: url("../hearts/heart_02.png");
}

.hearts__float > div:nth-child(1) {
  opacity: 0.7997691196;
  transform: translate(33em, calc(100vh + 40px)) scale(0.6698891595) rotate(6deg);
  animation: float-1 52s -5s linear infinite;
}

@keyframes float-1 {
  41% {
    transform: translate(49em, 43vh) scale(0.6698891595) rotate(-15deg);
  }
  to {
    transform: translate(69em, -40px) scale(0.6698891595) rotate(19deg);
  }
}
.hearts__float > div:nth-child(2) {
  opacity: 0.6169099777;
  transform: translate(89em, calc(100vh + 40px)) scale(1.0625919352) rotate(-1deg);
  animation: float-2 59s -50s linear infinite;
}

@keyframes float-2 {
  36% {
    transform: translate(108em, 56vh) scale(1.0625919352) rotate(-9deg);
  }
  to {
    transform: translate(127em, -40px) scale(1.0625919352) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(3) {
  opacity: 0.8685067682;
  transform: translate(16em, calc(100vh + 40px)) scale(0.9132168755) rotate(19deg);
  animation: float-3 52s -44s linear infinite;
}

@keyframes float-3 {
  36% {
    transform: translate(33em, 41vh) scale(0.9132168755) rotate(-1deg);
  }
  to {
    transform: translate(55em, -40px) scale(0.9132168755) rotate(-12deg);
  }
}
.hearts__float > div:nth-child(4) {
  opacity: 0.7641246751;
  transform: translate(94em, calc(100vh + 40px)) scale(0.8166843073) rotate(-3deg);
  animation: float-4 51s -25s linear infinite;
}

@keyframes float-4 {
  35% {
    transform: translate(114em, 51vh) scale(0.8166843073) rotate(-15deg);
  }
  to {
    transform: translate(130em, -40px) scale(0.8166843073) rotate(17deg);
  }
}
.hearts__float > div:nth-child(5) {
  opacity: 0.907399821;
  transform: translate(-12em, calc(100vh + 40px)) scale(1.0829700149) rotate(-15deg);
  animation: float-5 60s -28s linear infinite;
}

@keyframes float-5 {
  40% {
    transform: translate(2em, 49vh) scale(1.0829700149) rotate(-17deg);
  }
  to {
    transform: translate(23em, -40px) scale(1.0829700149) rotate(25deg);
  }
}
.hearts__float > div:nth-child(6) {
  opacity: 0.7876860851;
  transform: translate(7em, calc(100vh + 40px)) scale(0.8254109569) rotate(-3deg);
  animation: float-6 53s -39s linear infinite;
}

@keyframes float-6 {
  39% {
    transform: translate(32em, 59vh) scale(0.8254109569) rotate(1deg);
  }
  to {
    transform: translate(47em, -40px) scale(0.8254109569) rotate(23deg);
  }
}
.hearts__float > div:nth-child(7) {
  opacity: 0.5548502647;
  transform: translate(68em, calc(100vh + 40px)) scale(1.0902151542) rotate(14deg);
  animation: float-7 55s -16s linear infinite;
}

@keyframes float-7 {
  39% {
    transform: translate(85em, 46vh) scale(1.0902151542) rotate(13deg);
  }
  to {
    transform: translate(104em, -40px) scale(1.0902151542) rotate(4deg);
  }
}
.hearts__float > div:nth-child(8) {
  opacity: 0.7936043426;
  transform: translate(64em, calc(100vh + 40px)) scale(0.6066915709) rotate(-24deg);
  animation: float-8 57s -44s linear infinite;
}

@keyframes float-8 {
  40% {
    transform: translate(89em, 41vh) scale(0.6066915709) rotate(-23deg);
  }
  to {
    transform: translate(112em, -40px) scale(0.6066915709) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(9) {
  opacity: 0.7261075971;
  transform: translate(29em, calc(100vh + 40px)) scale(0.5993492201) rotate(8deg);
  animation: float-9 58s -16s linear infinite;
}

@keyframes float-9 {
  37% {
    transform: translate(51em, 42vh) scale(0.5993492201) rotate(3deg);
  }
  to {
    transform: translate(75em, -40px) scale(0.5993492201) rotate(12deg);
  }
}
.hearts__float > div:nth-child(10) {
  opacity: 0.7804904346;
  transform: translate(100em, calc(100vh + 40px)) scale(0.9059930015) rotate(19deg);
  animation: float-10 55s -21s linear infinite;
}

@keyframes float-10 {
  36% {
    transform: translate(120em, 42vh) scale(0.9059930015) rotate(11deg);
  }
  to {
    transform: translate(137em, -40px) scale(0.9059930015) rotate(19deg);
  }
}
.hearts__float > div:nth-child(11) {
  opacity: 0.6308400314;
  transform: translate(-30em, calc(100vh + 40px)) scale(0.7965511614) rotate(11deg);
  animation: float-11 56s -40s linear infinite;
}

@keyframes float-11 {
  42% {
    transform: translate(-13em, 55vh) scale(0.7965511614) rotate(18deg);
  }
  to {
    transform: translate(6em, -40px) scale(0.7965511614) rotate(-22deg);
  }
}
.hearts__float > div:nth-child(12) {
  opacity: 0.7972092249;
  transform: translate(31em, calc(100vh + 40px)) scale(0.6498477031) rotate(-11deg);
  animation: float-12 52s -20s linear infinite;
}

@keyframes float-12 {
  43% {
    transform: translate(49em, 46vh) scale(0.6498477031) rotate(-24deg);
  }
  to {
    transform: translate(68em, -40px) scale(0.6498477031) rotate(5deg);
  }
}
.hearts__float > div:nth-child(13) {
  opacity: 0.7392922829;
  transform: translate(-28em, calc(100vh + 40px)) scale(0.7132612496) rotate(-7deg);
  animation: float-13 55s -37s linear infinite;
}

@keyframes float-13 {
  35% {
    transform: translate(-7em, 46vh) scale(0.7132612496) rotate(19deg);
  }
  to {
    transform: translate(16em, -40px) scale(0.7132612496) rotate(-1deg);
  }
}
.hearts__float > div:nth-child(14) {
  opacity: 0.9432825328;
  transform: translate(-28em, calc(100vh + 40px)) scale(0.8447733313) rotate(-6deg);
  animation: float-14 58s -36s linear infinite;
}

@keyframes float-14 {
  35% {
    transform: translate(-2em, 52vh) scale(0.8447733313) rotate(-15deg);
  }
  to {
    transform: translate(19em, -40px) scale(0.8447733313) rotate(-9deg);
  }
}
.hearts__float > div:nth-child(15) {
  opacity: 0.9085729957;
  transform: translate(42em, calc(100vh + 40px)) scale(0.6528470185) rotate(0deg);
  animation: float-15 51s -38s linear infinite;
}

@keyframes float-15 {
  42% {
    transform: translate(59em, 58vh) scale(0.6528470185) rotate(14deg);
  }
  to {
    transform: translate(74em, -40px) scale(0.6528470185) rotate(-4deg);
  }
}
.hearts__float > div:nth-child(16) {
  opacity: 0.9328632089;
  transform: translate(99em, calc(100vh + 40px)) scale(1.0448974957) rotate(-8deg);
  animation: float-16 52s -29s linear infinite;
}

@keyframes float-16 {
  38% {
    transform: translate(124em, 58vh) scale(1.0448974957) rotate(-24deg);
  }
  to {
    transform: translate(144em, -40px) scale(1.0448974957) rotate(-1deg);
  }
}
.hearts__float > div:nth-child(17) {
  opacity: 0.6839419053;
  transform: translate(82em, calc(100vh + 40px)) scale(1.000304792) rotate(-10deg);
  animation: float-17 58s -20s linear infinite;
}

@keyframes float-17 {
  39% {
    transform: translate(101em, 53vh) scale(1.000304792) rotate(8deg);
  }
  to {
    transform: translate(121em, -40px) scale(1.000304792) rotate(2deg);
  }
}
.hearts__float > div:nth-child(18) {
  opacity: 0.856282518;
  transform: translate(91em, calc(100vh + 40px)) scale(0.563919219) rotate(0deg);
  animation: float-18 53s -16s linear infinite;
}

@keyframes float-18 {
  44% {
    transform: translate(117em, 50vh) scale(0.563919219) rotate(21deg);
  }
  to {
    transform: translate(130em, -40px) scale(0.563919219) rotate(7deg);
  }
}
.hearts__float > div:nth-child(19) {
  opacity: 0.9335945078;
  transform: translate(99em, calc(100vh + 40px)) scale(1.0239865289) rotate(22deg);
  animation: float-19 51s -8s linear infinite;
}

@keyframes float-19 {
  37% {
    transform: translate(118em, 41vh) scale(1.0239865289) rotate(16deg);
  }
  to {
    transform: translate(137em, -40px) scale(1.0239865289) rotate(20deg);
  }
}
.hearts__float > div:nth-child(20) {
  opacity: 0.6525608268;
  transform: translate(32em, calc(100vh + 40px)) scale(0.7251109139) rotate(-11deg);
  animation: float-20 60s -43s linear infinite;
}

@keyframes float-20 {
  39% {
    transform: translate(56em, 48vh) scale(0.7251109139) rotate(-21deg);
  }
  to {
    transform: translate(72em, -40px) scale(0.7251109139) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(21) {
  opacity: 0.6101968265;
  transform: translate(-22em, calc(100vh + 40px)) scale(0.6698133827) rotate(-7deg);
  animation: float-21 60s -22s linear infinite;
}

@keyframes float-21 {
  37% {
    transform: translate(3em, 56vh) scale(0.6698133827) rotate(-22deg);
  }
  to {
    transform: translate(18em, -40px) scale(0.6698133827) rotate(-13deg);
  }
}
.hearts__float > div:nth-child(22) {
  opacity: 0.5091550306;
  transform: translate(79em, calc(100vh + 40px)) scale(0.5530858554) rotate(-5deg);
  animation: float-22 57s -31s linear infinite;
}

@keyframes float-22 {
  36% {
    transform: translate(97em, 51vh) scale(0.5530858554) rotate(2deg);
  }
  to {
    transform: translate(117em, -40px) scale(0.5530858554) rotate(8deg);
  }
}
.hearts__float > div:nth-child(23) {
  opacity: 0.8231382654;
  transform: translate(94em, calc(100vh + 40px)) scale(0.6375701617) rotate(-8deg);
  animation: float-23 53s -15s linear infinite;
}

@keyframes float-23 {
  43% {
    transform: translate(105em, 54vh) scale(0.6375701617) rotate(25deg);
  }
  to {
    transform: translate(127em, -40px) scale(0.6375701617) rotate(2deg);
  }
}
.hearts__float > div:nth-child(24) {
  opacity: 0.9522478869;
  transform: translate(47em, calc(100vh + 40px)) scale(0.6565949137) rotate(-7deg);
  animation: float-24 58s -46s linear infinite;
}

@keyframes float-24 {
  40% {
    transform: translate(73em, 54vh) scale(0.6565949137) rotate(-18deg);
  }
  to {
    transform: translate(91em, -40px) scale(0.6565949137) rotate(-11deg);
  }
}
.hearts__float > div:nth-child(25) {
  opacity: 0.5041708295;
  transform: translate(67em, calc(100vh + 40px)) scale(0.8190075937) rotate(1deg);
  animation: float-25 57s -11s linear infinite;
}

@keyframes float-25 {
  43% {
    transform: translate(87em, 46vh) scale(0.8190075937) rotate(0deg);
  }
  to {
    transform: translate(103em, -40px) scale(0.8190075937) rotate(18deg);
  }
}
.hearts__float > div:nth-child(26) {
  opacity: 0.6863371245;
  transform: translate(9em, calc(100vh + 40px)) scale(0.8815386143) rotate(-10deg);
  animation: float-26 54s -36s linear infinite;
}

@keyframes float-26 {
  40% {
    transform: translate(27em, 51vh) scale(0.8815386143) rotate(4deg);
  }
  to {
    transform: translate(49em, -40px) scale(0.8815386143) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(27) {
  opacity: 0.6155707304;
  transform: translate(-39em, calc(100vh + 40px)) scale(0.6531098799) rotate(-24deg);
  animation: float-27 59s -15s linear infinite;
}

@keyframes float-27 {
  42% {
    transform: translate(-13em, 50vh) scale(0.6531098799) rotate(-9deg);
  }
  to {
    transform: translate(3em, -40px) scale(0.6531098799) rotate(-3deg);
  }
}
.hearts__float > div:nth-child(28) {
  opacity: 0.9939490338;
  transform: translate(-32em, calc(100vh + 40px)) scale(0.5739145794) rotate(20deg);
  animation: float-28 57s -48s linear infinite;
}

@keyframes float-28 {
  37% {
    transform: translate(-9em, 57vh) scale(0.5739145794) rotate(-22deg);
  }
  to {
    transform: translate(10em, -40px) scale(0.5739145794) rotate(23deg);
  }
}
.hearts__float > div:nth-child(29) {
  opacity: 0.7221751481;
  transform: translate(19em, calc(100vh + 40px)) scale(0.5398649758) rotate(-17deg);
  animation: float-29 57s -28s linear infinite;
}

@keyframes float-29 {
  44% {
    transform: translate(39em, 51vh) scale(0.5398649758) rotate(-1deg);
  }
  to {
    transform: translate(54em, -40px) scale(0.5398649758) rotate(24deg);
  }
}
.hearts__float > div:nth-child(30) {
  opacity: 0.6964368901;
  transform: translate(76em, calc(100vh + 40px)) scale(0.9447568844) rotate(-23deg);
  animation: float-30 54s -8s linear infinite;
}

@keyframes float-30 {
  42% {
    transform: translate(102em, 58vh) scale(0.9447568844) rotate(9deg);
  }
  to {
    transform: translate(116em, -40px) scale(0.9447568844) rotate(14deg);
  }
}
.hearts__float > div:nth-child(31) {
  opacity: 0.8024132397;
  transform: translate(73em, calc(100vh + 40px)) scale(0.8773311807) rotate(17deg);
  animation: float-31 57s -40s linear infinite;
}

@keyframes float-31 {
  44% {
    transform: translate(96em, 47vh) scale(0.8773311807) rotate(1deg);
  }
  to {
    transform: translate(116em, -40px) scale(0.8773311807) rotate(-13deg);
  }
}
.hearts__float > div:nth-child(32) {
  opacity: 0.5443951672;
  transform: translate(64em, calc(100vh + 40px)) scale(0.6348423314) rotate(-3deg);
  animation: float-32 56s -3s linear infinite;
}

@keyframes float-32 {
  40% {
    transform: translate(90em, 45vh) scale(0.6348423314) rotate(3deg);
  }
  to {
    transform: translate(106em, -40px) scale(0.6348423314) rotate(21deg);
  }
}
.hearts__float > div:nth-child(33) {
  opacity: 0.9643322904;
  transform: translate(34em, calc(100vh + 40px)) scale(0.6086385713) rotate(9deg);
  animation: float-33 57s -35s linear infinite;
}

@keyframes float-33 {
  38% {
    transform: translate(59em, 47vh) scale(0.6086385713) rotate(-20deg);
  }
  to {
    transform: translate(80em, -40px) scale(0.6086385713) rotate(-20deg);
  }
}
.hearts__float > div:nth-child(34) {
  opacity: 0.5447232535;
  transform: translate(17em, calc(100vh + 40px)) scale(0.9682902894) rotate(-10deg);
  animation: float-34 55s -3s linear infinite;
}

@keyframes float-34 {
  39% {
    transform: translate(34em, 43vh) scale(0.9682902894) rotate(-14deg);
  }
  to {
    transform: translate(52em, -40px) scale(0.9682902894) rotate(2deg);
  }
}
.hearts__float > div:nth-child(35) {
  opacity: 0.509586384;
  transform: translate(78em, calc(100vh + 40px)) scale(0.5063848036) rotate(10deg);
  animation: float-35 52s -44s linear infinite;
}

@keyframes float-35 {
  39% {
    transform: translate(105em, 59vh) scale(0.5063848036) rotate(18deg);
  }
  to {
    transform: translate(122em, -40px) scale(0.5063848036) rotate(13deg);
  }
}
.hearts__float > div:nth-child(36) {
  opacity: 0.5968963577;
  transform: translate(-30em, calc(100vh + 40px)) scale(0.7108726432) rotate(18deg);
  animation: float-36 60s -32s linear infinite;
}

@keyframes float-36 {
  37% {
    transform: translate(-7em, 50vh) scale(0.7108726432) rotate(-1deg);
  }
  to {
    transform: translate(6em, -40px) scale(0.7108726432) rotate(-15deg);
  }
}
.hearts__float > div:nth-child(37) {
  opacity: 0.8013084055;
  transform: translate(83em, calc(100vh + 40px)) scale(0.6249656079) rotate(10deg);
  animation: float-37 58s -3s linear infinite;
}

@keyframes float-37 {
  35% {
    transform: translate(105em, 43vh) scale(0.6249656079) rotate(3deg);
  }
  to {
    transform: translate(122em, -40px) scale(0.6249656079) rotate(-1deg);
  }
}
.hearts__float > div:nth-child(38) {
  opacity: 0.5985511159;
  transform: translate(58em, calc(100vh + 40px)) scale(1.1354069388) rotate(0deg);
  animation: float-38 60s -9s linear infinite;
}

@keyframes float-38 {
  37% {
    transform: translate(78em, 42vh) scale(1.1354069388) rotate(-21deg);
  }
  to {
    transform: translate(100em, -40px) scale(1.1354069388) rotate(2deg);
  }
}
.hearts__float > div:nth-child(39) {
  opacity: 0.8981118363;
  transform: translate(69em, calc(100vh + 40px)) scale(0.7280217879) rotate(-23deg);
  animation: float-39 57s -15s linear infinite;
}

@keyframes float-39 {
  37% {
    transform: translate(92em, 56vh) scale(0.7280217879) rotate(17deg);
  }
  to {
    transform: translate(113em, -40px) scale(0.7280217879) rotate(15deg);
  }
}
.hearts__float > div:nth-child(40) {
  opacity: 0.9867417727;
  transform: translate(79em, calc(100vh + 40px)) scale(0.9328580553) rotate(10deg);
  animation: float-40 60s -28s linear infinite;
}

@keyframes float-40 {
  39% {
    transform: translate(92em, 55vh) scale(0.9328580553) rotate(-4deg);
  }
  to {
    transform: translate(111em, -40px) scale(0.9328580553) rotate(19deg);
  }
}
.hearts__float > div:nth-child(41) {
  opacity: 0.5851803034;
  transform: translate(-11em, calc(100vh + 40px)) scale(0.5303427223) rotate(-20deg);
  animation: float-41 55s -19s linear infinite;
}

@keyframes float-41 {
  38% {
    transform: translate(11em, 43vh) scale(0.5303427223) rotate(-22deg);
  }
  to {
    transform: translate(33em, -40px) scale(0.5303427223) rotate(15deg);
  }
}
.hearts__float > div:nth-child(42) {
  opacity: 0.7669561041;
  transform: translate(38em, calc(100vh + 40px)) scale(0.6703829883) rotate(22deg);
  animation: float-42 59s -42s linear infinite;
}

@keyframes float-42 {
  40% {
    transform: translate(58em, 54vh) scale(0.6703829883) rotate(-5deg);
  }
  to {
    transform: translate(76em, -40px) scale(0.6703829883) rotate(13deg);
  }
}
.hearts__float > div:nth-child(43) {
  opacity: 0.8766198805;
  transform: translate(-26em, calc(100vh + 40px)) scale(1.0738968365) rotate(23deg);
  animation: float-43 57s -29s linear infinite;
}

@keyframes float-43 {
  43% {
    transform: translate(-9em, 50vh) scale(1.0738968365) rotate(19deg);
  }
  to {
    transform: translate(14em, -40px) scale(1.0738968365) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(44) {
  opacity: 0.5974171984;
  transform: translate(96em, calc(100vh + 40px)) scale(1.038412842) rotate(1deg);
  animation: float-44 52s -22s linear infinite;
}

@keyframes float-44 {
  41% {
    transform: translate(112em, 56vh) scale(1.038412842) rotate(1deg);
  }
  to {
    transform: translate(140em, -40px) scale(1.038412842) rotate(20deg);
  }
}
.hearts__float > div:nth-child(45) {
  opacity: 0.5217677264;
  transform: translate(17em, calc(100vh + 40px)) scale(1.0185451703) rotate(23deg);
  animation: float-45 57s -42s linear infinite;
}

@keyframes float-45 {
  38% {
    transform: translate(43em, 43vh) scale(1.0185451703) rotate(7deg);
  }
  to {
    transform: translate(58em, -40px) scale(1.0185451703) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(46) {
  opacity: 0.7484913516;
  transform: translate(-21em, calc(100vh + 40px)) scale(0.7549765329) rotate(22deg);
  animation: float-46 52s -5s linear infinite;
}

@keyframes float-46 {
  36% {
    transform: translate(-7em, 46vh) scale(0.7549765329) rotate(-1deg);
  }
  to {
    transform: translate(18em, -40px) scale(0.7549765329) rotate(8deg);
  }
}
.hearts__float > div:nth-child(47) {
  opacity: 0.520571801;
  transform: translate(-8em, calc(100vh + 40px)) scale(0.9472508228) rotate(-23deg);
  animation: float-47 58s -25s linear infinite;
}

@keyframes float-47 {
  43% {
    transform: translate(4em, 55vh) scale(0.9472508228) rotate(25deg);
  }
  to {
    transform: translate(30em, -40px) scale(0.9472508228) rotate(3deg);
  }
}
.hearts__float > div:nth-child(48) {
  opacity: 0.8380473246;
  transform: translate(-11em, calc(100vh + 40px)) scale(0.5124748444) rotate(-20deg);
  animation: float-48 52s -13s linear infinite;
}

@keyframes float-48 {
  41% {
    transform: translate(12em, 47vh) scale(0.5124748444) rotate(-13deg);
  }
  to {
    transform: translate(27em, -40px) scale(0.5124748444) rotate(23deg);
  }
}
.hearts__float > div:nth-child(49) {
  opacity: 0.9893549752;
  transform: translate(-19em, calc(100vh + 40px)) scale(0.6037566132) rotate(2deg);
  animation: float-49 59s -35s linear infinite;
}

@keyframes float-49 {
  42% {
    transform: translate(-1em, 51vh) scale(0.6037566132) rotate(-24deg);
  }
  to {
    transform: translate(24em, -40px) scale(0.6037566132) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(50) {
  opacity: 0.5131888816;
  transform: translate(-18em, calc(100vh + 40px)) scale(0.9989928026) rotate(14deg);
  animation: float-50 57s -6s linear infinite;
}

@keyframes float-50 {
  44% {
    transform: translate(3em, 45vh) scale(0.9989928026) rotate(22deg);
  }
  to {
    transform: translate(21em, -40px) scale(0.9989928026) rotate(18deg);
  }
}
.hearts__float > div:nth-child(51) {
  opacity: 0.622450942;
  transform: translate(67em, calc(100vh + 40px)) scale(0.9218981464) rotate(-15deg);
  animation: float-51 59s -12s linear infinite;
}

@keyframes float-51 {
  42% {
    transform: translate(86em, 46vh) scale(0.9218981464) rotate(-23deg);
  }
  to {
    transform: translate(107em, -40px) scale(0.9218981464) rotate(-17deg);
  }
}
.hearts__float > div:nth-child(52) {
  opacity: 0.953905736;
  transform: translate(102em, calc(100vh + 40px)) scale(0.8349425517) rotate(-15deg);
  animation: float-52 58s -39s linear infinite;
}

@keyframes float-52 {
  39% {
    transform: translate(118em, 42vh) scale(0.8349425517) rotate(-18deg);
  }
  to {
    transform: translate(135em, -40px) scale(0.8349425517) rotate(1deg);
  }
}
.hearts__float > div:nth-child(53) {
  opacity: 0.8603301995;
  transform: translate(61em, calc(100vh + 40px)) scale(0.9488993924) rotate(-10deg);
  animation: float-53 58s -47s linear infinite;
}

@keyframes float-53 {
  36% {
    transform: translate(78em, 53vh) scale(0.9488993924) rotate(8deg);
  }
  to {
    transform: translate(104em, -40px) scale(0.9488993924) rotate(11deg);
  }
}
.hearts__float > div:nth-child(54) {
  opacity: 0.7044408865;
  transform: translate(60em, calc(100vh + 40px)) scale(1.1269200098) rotate(-17deg);
  animation: float-54 52s -2s linear infinite;
}

@keyframes float-54 {
  35% {
    transform: translate(80em, 42vh) scale(1.1269200098) rotate(22deg);
  }
  to {
    transform: translate(99em, -40px) scale(1.1269200098) rotate(1deg);
  }
}
.hearts__float > div:nth-child(55) {
  opacity: 0.6895361321;
  transform: translate(24em, calc(100vh + 40px)) scale(1.030189118) rotate(22deg);
  animation: float-55 53s -46s linear infinite;
}

@keyframes float-55 {
  41% {
    transform: translate(51em, 46vh) scale(1.030189118) rotate(10deg);
  }
  to {
    transform: translate(65em, -40px) scale(1.030189118) rotate(13deg);
  }
}
.hearts__float > div:nth-child(56) {
  opacity: 0.6451778488;
  transform: translate(-34em, calc(100vh + 40px)) scale(0.5610027014) rotate(15deg);
  animation: float-56 58s -24s linear infinite;
}

@keyframes float-56 {
  40% {
    transform: translate(-22em, 46vh) scale(0.5610027014) rotate(-7deg);
  }
  to {
    transform: translate(0em, -40px) scale(0.5610027014) rotate(20deg);
  }
}
.hearts__float > div:nth-child(57) {
  opacity: 0.8688832576;
  transform: translate(46em, calc(100vh + 40px)) scale(0.783559255) rotate(11deg);
  animation: float-57 60s -46s linear infinite;
}

@keyframes float-57 {
  35% {
    transform: translate(70em, 54vh) scale(0.783559255) rotate(-20deg);
  }
  to {
    transform: translate(90em, -40px) scale(0.783559255) rotate(-8deg);
  }
}
.hearts__float > div:nth-child(58) {
  opacity: 0.8853280409;
  transform: translate(-19em, calc(100vh + 40px)) scale(0.8347809981) rotate(-9deg);
  animation: float-58 57s -19s linear infinite;
}

@keyframes float-58 {
  44% {
    transform: translate(-2em, 41vh) scale(0.8347809981) rotate(-10deg);
  }
  to {
    transform: translate(24em, -40px) scale(0.8347809981) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(59) {
  opacity: 0.6459512501;
  transform: translate(58em, calc(100vh + 40px)) scale(0.7599461759) rotate(-24deg);
  animation: float-59 51s -6s linear infinite;
}

@keyframes float-59 {
  42% {
    transform: translate(85em, 54vh) scale(0.7599461759) rotate(4deg);
  }
  to {
    transform: translate(105em, -40px) scale(0.7599461759) rotate(14deg);
  }
}
.hearts__float > div:nth-child(60) {
  opacity: 0.593290243;
  transform: translate(59em, calc(100vh + 40px)) scale(0.580902257) rotate(-19deg);
  animation: float-60 56s -47s linear infinite;
}

@keyframes float-60 {
  35% {
    transform: translate(79em, 43vh) scale(0.580902257) rotate(23deg);
  }
  to {
    transform: translate(93em, -40px) scale(0.580902257) rotate(1deg);
  }
}
.hearts__float > div:nth-child(61) {
  opacity: 0.749802002;
  transform: translate(-10em, calc(100vh + 40px)) scale(0.7986603971) rotate(-5deg);
  animation: float-61 52s -15s linear infinite;
}

@keyframes float-61 {
  37% {
    transform: translate(16em, 51vh) scale(0.7986603971) rotate(2deg);
  }
  to {
    transform: translate(34em, -40px) scale(0.7986603971) rotate(14deg);
  }
}
.hearts__float > div:nth-child(62) {
  opacity: 0.7038375189;
  transform: translate(29em, calc(100vh + 40px)) scale(0.9075027281) rotate(-9deg);
  animation: float-62 60s -11s linear infinite;
}

@keyframes float-62 {
  42% {
    transform: translate(45em, 54vh) scale(0.9075027281) rotate(11deg);
  }
  to {
    transform: translate(73em, -40px) scale(0.9075027281) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(63) {
  opacity: 0.5994171122;
  transform: translate(81em, calc(100vh + 40px)) scale(0.6204956544) rotate(-18deg);
  animation: float-63 56s -5s linear infinite;
}

@keyframes float-63 {
  39% {
    transform: translate(104em, 58vh) scale(0.6204956544) rotate(2deg);
  }
  to {
    transform: translate(117em, -40px) scale(0.6204956544) rotate(-4deg);
  }
}
.hearts__float > div:nth-child(64) {
  opacity: 0.8215676872;
  transform: translate(42em, calc(100vh + 40px)) scale(0.9066109159) rotate(-2deg);
  animation: float-64 52s -16s linear infinite;
}

@keyframes float-64 {
  40% {
    transform: translate(61em, 54vh) scale(0.9066109159) rotate(-22deg);
  }
  to {
    transform: translate(84em, -40px) scale(0.9066109159) rotate(-4deg);
  }
}
.hearts__float > div:nth-child(65) {
  opacity: 0.8991501527;
  transform: translate(65em, calc(100vh + 40px)) scale(0.5597965042) rotate(-13deg);
  animation: float-65 53s -18s linear infinite;
}

@keyframes float-65 {
  44% {
    transform: translate(84em, 48vh) scale(0.5597965042) rotate(24deg);
  }
  to {
    transform: translate(99em, -40px) scale(0.5597965042) rotate(-22deg);
  }
}
.hearts__float > div:nth-child(66) {
  opacity: 0.8670299663;
  transform: translate(75em, calc(100vh + 40px)) scale(0.8908720093) rotate(-15deg);
  animation: float-66 58s -37s linear infinite;
}

@keyframes float-66 {
  35% {
    transform: translate(97em, 51vh) scale(0.8908720093) rotate(10deg);
  }
  to {
    transform: translate(115em, -40px) scale(0.8908720093) rotate(-22deg);
  }
}
.hearts__float > div:nth-child(67) {
  opacity: 0.9524334097;
  transform: translate(36em, calc(100vh + 40px)) scale(0.826689918) rotate(-24deg);
  animation: float-67 57s -37s linear infinite;
}

@keyframes float-67 {
  39% {
    transform: translate(57em, 41vh) scale(0.826689918) rotate(25deg);
  }
  to {
    transform: translate(76em, -40px) scale(0.826689918) rotate(-2deg);
  }
}
.hearts__float > div:nth-child(68) {
  opacity: 0.7852094698;
  transform: translate(91em, calc(100vh + 40px)) scale(1.0185737159) rotate(11deg);
  animation: float-68 51s -15s linear infinite;
}

@keyframes float-68 {
  41% {
    transform: translate(112em, 58vh) scale(1.0185737159) rotate(11deg);
  }
  to {
    transform: translate(138em, -40px) scale(1.0185737159) rotate(13deg);
  }
}
.hearts__float > div:nth-child(69) {
  opacity: 0.8217153226;
  transform: translate(37em, calc(100vh + 40px)) scale(1.0136736417) rotate(-12deg);
  animation: float-69 55s -1s linear infinite;
}

@keyframes float-69 {
  37% {
    transform: translate(50em, 45vh) scale(1.0136736417) rotate(-7deg);
  }
  to {
    transform: translate(75em, -40px) scale(1.0136736417) rotate(14deg);
  }
}
.hearts__float > div:nth-child(70) {
  opacity: 0.7844552596;
  transform: translate(-26em, calc(100vh + 40px)) scale(0.8051030321) rotate(0deg);
  animation: float-70 56s -19s linear infinite;
}

@keyframes float-70 {
  42% {
    transform: translate(-10em, 44vh) scale(0.8051030321) rotate(23deg);
  }
  to {
    transform: translate(15em, -40px) scale(0.8051030321) rotate(9deg);
  }
}
.hearts__float > div:nth-child(71) {
  opacity: 0.9349293917;
  transform: translate(-26em, calc(100vh + 40px)) scale(0.6938226014) rotate(24deg);
  animation: float-71 53s -10s linear infinite;
}

@keyframes float-71 {
  42% {
    transform: translate(-14em, 48vh) scale(0.6938226014) rotate(-4deg);
  }
  to {
    transform: translate(12em, -40px) scale(0.6938226014) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(72) {
  opacity: 0.7126412987;
  transform: translate(25em, calc(100vh + 40px)) scale(1.123233305) rotate(0deg);
  animation: float-72 54s -5s linear infinite;
}

@keyframes float-72 {
  43% {
    transform: translate(46em, 49vh) scale(1.123233305) rotate(3deg);
  }
  to {
    transform: translate(70em, -40px) scale(1.123233305) rotate(-12deg);
  }
}
.hearts__float > div:nth-child(73) {
  opacity: 0.9603880056;
  transform: translate(49em, calc(100vh + 40px)) scale(0.9783120974) rotate(-17deg);
  animation: float-73 58s -46s linear infinite;
}

@keyframes float-73 {
  41% {
    transform: translate(66em, 59vh) scale(0.9783120974) rotate(-5deg);
  }
  to {
    transform: translate(86em, -40px) scale(0.9783120974) rotate(6deg);
  }
}
.hearts__float > div:nth-child(74) {
  opacity: 0.7429159846;
  transform: translate(11em, calc(100vh + 40px)) scale(0.6027955952) rotate(-4deg);
  animation: float-74 57s -37s linear infinite;
}

@keyframes float-74 {
  38% {
    transform: translate(26em, 47vh) scale(0.6027955952) rotate(-14deg);
  }
  to {
    transform: translate(46em, -40px) scale(0.6027955952) rotate(-10deg);
  }
}
.hearts__float > div:nth-child(75) {
  opacity: 0.7208653461;
  transform: translate(49em, calc(100vh + 40px)) scale(0.5417798247) rotate(21deg);
  animation: float-75 60s -37s linear infinite;
}

@keyframes float-75 {
  40% {
    transform: translate(64em, 51vh) scale(0.5417798247) rotate(-14deg);
  }
  to {
    transform: translate(88em, -40px) scale(0.5417798247) rotate(-18deg);
  }
}
.hearts__float > div:nth-child(76) {
  opacity: 0.7701694176;
  transform: translate(65em, calc(100vh + 40px)) scale(0.5969291573) rotate(16deg);
  animation: float-76 59s -28s linear infinite;
}

@keyframes float-76 {
  36% {
    transform: translate(84em, 45vh) scale(0.5969291573) rotate(-13deg);
  }
  to {
    transform: translate(102em, -40px) scale(0.5969291573) rotate(1deg);
  }
}
.hearts__float > div:nth-child(77) {
  opacity: 0.6688078191;
  transform: translate(51em, calc(100vh + 40px)) scale(0.9947254459) rotate(-21deg);
  animation: float-77 57s -39s linear infinite;
}

@keyframes float-77 {
  43% {
    transform: translate(67em, 51vh) scale(0.9947254459) rotate(-6deg);
  }
  to {
    transform: translate(87em, -40px) scale(0.9947254459) rotate(8deg);
  }
}
.hearts__float > div:nth-child(78) {
  opacity: 0.6333587916;
  transform: translate(-24em, calc(100vh + 40px)) scale(1.0324314272) rotate(-24deg);
  animation: float-78 56s -7s linear infinite;
}

@keyframes float-78 {
  40% {
    transform: translate(1em, 53vh) scale(1.0324314272) rotate(3deg);
  }
  to {
    transform: translate(24em, -40px) scale(1.0324314272) rotate(11deg);
  }
}
.hearts__float > div:nth-child(79) {
  opacity: 0.5913172566;
  transform: translate(38em, calc(100vh + 40px)) scale(1.1385505571) rotate(9deg);
  animation: float-79 58s -38s linear infinite;
}

@keyframes float-79 {
  37% {
    transform: translate(55em, 45vh) scale(1.1385505571) rotate(3deg);
  }
  to {
    transform: translate(79em, -40px) scale(1.1385505571) rotate(1deg);
  }
}
.hearts__float > div:nth-child(80) {
  opacity: 0.8201170385;
  transform: translate(50em, calc(100vh + 40px)) scale(0.5534916559) rotate(6deg);
  animation: float-80 52s -36s linear infinite;
}

@keyframes float-80 {
  42% {
    transform: translate(67em, 53vh) scale(0.5534916559) rotate(-14deg);
  }
  to {
    transform: translate(93em, -40px) scale(0.5534916559) rotate(23deg);
  }
}
.hearts__float > div:nth-child(81) {
  opacity: 0.9283268935;
  transform: translate(8em, calc(100vh + 40px)) scale(1.1338050037) rotate(15deg);
  animation: float-81 59s -26s linear infinite;
}

@keyframes float-81 {
  38% {
    transform: translate(26em, 52vh) scale(1.1338050037) rotate(-9deg);
  }
  to {
    transform: translate(46em, -40px) scale(1.1338050037) rotate(-14deg);
  }
}
.hearts__float > div:nth-child(82) {
  opacity: 0.5718137909;
  transform: translate(35em, calc(100vh + 40px)) scale(1.0333253542) rotate(10deg);
  animation: float-82 55s -23s linear infinite;
}

@keyframes float-82 {
  43% {
    transform: translate(54em, 41vh) scale(1.0333253542) rotate(-15deg);
  }
  to {
    transform: translate(73em, -40px) scale(1.0333253542) rotate(20deg);
  }
}
.hearts__float > div:nth-child(83) {
  opacity: 0.8061174018;
  transform: translate(46em, calc(100vh + 40px)) scale(0.6297630686) rotate(11deg);
  animation: float-83 58s -46s linear infinite;
}

@keyframes float-83 {
  36% {
    transform: translate(63em, 52vh) scale(0.6297630686) rotate(2deg);
  }
  to {
    transform: translate(82em, -40px) scale(0.6297630686) rotate(-18deg);
  }
}
.hearts__float > div:nth-child(84) {
  opacity: 0.7646503444;
  transform: translate(-21em, calc(100vh + 40px)) scale(0.6385046278) rotate(18deg);
  animation: float-84 57s -8s linear infinite;
}

@keyframes float-84 {
  37% {
    transform: translate(4em, 53vh) scale(0.6385046278) rotate(-14deg);
  }
  to {
    transform: translate(18em, -40px) scale(0.6385046278) rotate(-18deg);
  }
}
.hearts__float > div:nth-child(85) {
  opacity: 0.7053124861;
  transform: translate(-25em, calc(100vh + 40px)) scale(0.6487362963) rotate(13deg);
  animation: float-85 55s -30s linear infinite;
}

@keyframes float-85 {
  40% {
    transform: translate(-6em, 53vh) scale(0.6487362963) rotate(4deg);
  }
  to {
    transform: translate(11em, -40px) scale(0.6487362963) rotate(-24deg);
  }
}
.hearts__float > div:nth-child(86) {
  opacity: 0.6464396018;
  transform: translate(-9em, calc(100vh + 40px)) scale(0.7938026796) rotate(18deg);
  animation: float-86 58s -18s linear infinite;
}

@keyframes float-86 {
  44% {
    transform: translate(11em, 44vh) scale(0.7938026796) rotate(-6deg);
  }
  to {
    transform: translate(32em, -40px) scale(0.7938026796) rotate(7deg);
  }
}
.hearts__float > div:nth-child(87) {
  opacity: 0.8426109781;
  transform: translate(-12em, calc(100vh + 40px)) scale(0.5297553947) rotate(17deg);
  animation: float-87 60s -16s linear infinite;
}

@keyframes float-87 {
  35% {
    transform: translate(16em, 44vh) scale(0.5297553947) rotate(-22deg);
  }
  to {
    transform: translate(35em, -40px) scale(0.5297553947) rotate(23deg);
  }
}
.hearts__float > div:nth-child(88) {
  opacity: 0.6598162884;
  transform: translate(8em, calc(100vh + 40px)) scale(0.5247384705) rotate(9deg);
  animation: float-88 55s -28s linear infinite;
}

@keyframes float-88 {
  40% {
    transform: translate(31em, 41vh) scale(0.5247384705) rotate(-9deg);
  }
  to {
    transform: translate(47em, -40px) scale(0.5247384705) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(89) {
  opacity: 0.7106432997;
  transform: translate(74em, calc(100vh + 40px)) scale(0.9339338001) rotate(16deg);
  animation: float-89 58s -17s linear infinite;
}

@keyframes float-89 {
  35% {
    transform: translate(96em, 42vh) scale(0.9339338001) rotate(-2deg);
  }
  to {
    transform: translate(113em, -40px) scale(0.9339338001) rotate(-5deg);
  }
}
.hearts__float > div:nth-child(90) {
  opacity: 0.961103636;
  transform: translate(42em, calc(100vh + 40px)) scale(0.541115246) rotate(-5deg);
  animation: float-90 60s -2s linear infinite;
}

@keyframes float-90 {
  41% {
    transform: translate(60em, 59vh) scale(0.541115246) rotate(-21deg);
  }
  to {
    transform: translate(82em, -40px) scale(0.541115246) rotate(17deg);
  }
}
.hearts__float > div:nth-child(91) {
  opacity: 0.5242489187;
  transform: translate(56em, calc(100vh + 40px)) scale(1.0731141237) rotate(11deg);
  animation: float-91 51s -37s linear infinite;
}

@keyframes float-91 {
  36% {
    transform: translate(80em, 53vh) scale(1.0731141237) rotate(2deg);
  }
  to {
    transform: translate(102em, -40px) scale(1.0731141237) rotate(-6deg);
  }
}
.hearts__float > div:nth-child(92) {
  opacity: 0.7458355038;
  transform: translate(42em, calc(100vh + 40px)) scale(0.8565856837) rotate(0deg);
  animation: float-92 53s -47s linear infinite;
}

@keyframes float-92 {
  43% {
    transform: translate(64em, 52vh) scale(0.8565856837) rotate(-19deg);
  }
  to {
    transform: translate(85em, -40px) scale(0.8565856837) rotate(-7deg);
  }
}
.hearts__float > div:nth-child(93) {
  opacity: 0.5039111679;
  transform: translate(-28em, calc(100vh + 40px)) scale(0.5358262197) rotate(-15deg);
  animation: float-93 56s -10s linear infinite;
}

@keyframes float-93 {
  40% {
    transform: translate(-13em, 50vh) scale(0.5358262197) rotate(-5deg);
  }
  to {
    transform: translate(9em, -40px) scale(0.5358262197) rotate(-23deg);
  }
}
.hearts__float > div:nth-child(94) {
  opacity: 0.586375771;
  transform: translate(76em, calc(100vh + 40px)) scale(1.1421609246) rotate(24deg);
  animation: float-94 54s -10s linear infinite;
}

@keyframes float-94 {
  40% {
    transform: translate(104em, 52vh) scale(1.1421609246) rotate(23deg);
  }
  to {
    transform: translate(118em, -40px) scale(1.1421609246) rotate(11deg);
  }
}
.hearts__float > div:nth-child(95) {
  opacity: 0.6881575415;
  transform: translate(-5em, calc(100vh + 40px)) scale(0.6348160739) rotate(-2deg);
  animation: float-95 59s -18s linear infinite;
}

@keyframes float-95 {
  40% {
    transform: translate(12em, 47vh) scale(0.6348160739) rotate(-14deg);
  }
  to {
    transform: translate(33em, -40px) scale(0.6348160739) rotate(22deg);
  }
}
.hearts__float > div:nth-child(96) {
  opacity: 0.5947720279;
  transform: translate(98em, calc(100vh + 40px)) scale(1.0225531411) rotate(3deg);
  animation: float-96 56s -25s linear infinite;
}

@keyframes float-96 {
  44% {
    transform: translate(115em, 42vh) scale(1.0225531411) rotate(13deg);
  }
  to {
    transform: translate(143em, -40px) scale(1.0225531411) rotate(-17deg);
  }
}
.hearts__float > div:nth-child(97) {
  opacity: 0.9555943336;
  transform: translate(67em, calc(100vh + 40px)) scale(1.1243365864) rotate(-22deg);
  animation: float-97 55s -15s linear infinite;
}

@keyframes float-97 {
  35% {
    transform: translate(86em, 53vh) scale(1.1243365864) rotate(-21deg);
  }
  to {
    transform: translate(104em, -40px) scale(1.1243365864) rotate(-11deg);
  }
}
.hearts__float > div:nth-child(98) {
  opacity: 0.8207629627;
  transform: translate(4em, calc(100vh + 40px)) scale(1.059435028) rotate(12deg);
  animation: float-98 58s -1s linear infinite;
}

@keyframes float-98 {
  43% {
    transform: translate(29em, 44vh) scale(1.059435028) rotate(13deg);
  }
  to {
    transform: translate(41em, -40px) scale(1.059435028) rotate(-2deg);
  }
}
.hearts__float > div:nth-child(99) {
  opacity: 0.9371929656;
  transform: translate(36em, calc(100vh + 40px)) scale(0.5575365855) rotate(-14deg);
  animation: float-99 57s -42s linear infinite;
}

@keyframes float-99 {
  39% {
    transform: translate(59em, 54vh) scale(0.5575365855) rotate(13deg);
  }
  to {
    transform: translate(73em, -40px) scale(0.5575365855) rotate(15deg);
  }
}
.hearts__float > div:nth-child(100) {
  opacity: 0.7401359567;
  transform: translate(68em, calc(100vh + 40px)) scale(0.7519135522) rotate(24deg);
  animation: float-100 51s -14s linear infinite;
}

@keyframes float-100 {
  43% {
    transform: translate(93em, 54vh) scale(0.7519135522) rotate(-20deg);
  }
  to {
    transform: translate(113em, -40px) scale(0.7519135522) rotate(-6deg);
  }
}