.new-year__toy_branch > *, .new-year__toy_candy > *, .new-year__toy_present > *, .new-year__toy_hat > *, .new-year__bow, .new-year__branch {
  display: flex;
  background: none center/contain no-repeat transparent;
  flex-shrink: 0;
  transform-origin: 50% 100%;
}

.new-year {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.new-year__inner {
  display: flex;
  padding: 100px 0 0;
  transform: translateY(25%);
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199.98px) and (min-width: 768px) {
  .new-year__inner {
    transform: translateY(30%) scale(0.8);
  }
}
@media (max-width: 767.98px) and (min-width: 576px) {
  .new-year__inner {
    transform: translateY(35%) scale(0.6);
  }
}
@media (max-width: 575.98px) {
  .new-year__inner {
    transform: translateY(37.5%) scale(0.45);
  }
}
.new-year__branch {
  z-index: 1;
  position: relative;
}
.new-year__branch > * {
  width: 420px;
  height: 129px;
  margin: 0 -15px;
  animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) 0.6250222219s infinite;
  background-image: url("../new-year/05.png");
}
.new-year__branch_right {
  transform: scaleX(-1);
}
.new-year__bow {
  z-index: 2;
  width: 101px;
  height: 60px;
  margin: 0 -30px 40px;
  animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) 0.6250222219s infinite;
  background-image: url("../new-year/06.png");
}
.new-year__toy {
  z-index: 3;
  position: absolute;
}
.new-year__toy_hat {
  pointer-events: all;
}
.new-year__toy_hat > * {
  width: 149px;
  height: 138px;
  margin: 0 -15px;
  position: absolute;
  background-image: url("../new-year/01.png");
}
.new-year__toy_hat.animate > * {
  animation: present 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.new-year__toy_hat-01 {
  transform: translate(550px, -85px) scale(0.6) rotate(9deg);
}
.new-year__toy_hat-02 {
  transform: translate(1150px, -55px) scale(0.4) rotate(-9deg);
}
.new-year__toy_hat-03 {
  transform: translate(-1030px, -65px) scale(0.6) rotate(-40deg);
}
.new-year__toy_present {
  pointer-events: all;
}
.new-year__toy_present > * {
  width: 145px;
  height: 158px;
  margin: 0 -15px;
  position: absolute;
  background-image: url("../new-year/02.png");
}
.new-year__toy_present.animate > * {
  animation: present 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.new-year__toy_present-01 {
  transform: translate(160px, -65px) scale(0.7) rotate(12deg);
}
.new-year__toy_present-02 {
  transform: translate(910px, -95px) scale(0.6) rotate(12deg);
}
.new-year__toy_present-03 {
  transform: translate(-650px, -85px) scale(0.5) rotate(-12deg);
}
.new-year__toy_present-04 {
  transform: translate(-1200px, -65px) scale(0.4) rotate(-3deg);
}
.new-year__toy_candy {
  pointer-events: all;
}
.new-year__toy_candy > * {
  width: 106px;
  height: 161px;
  margin: 0 -15px;
  position: absolute;
  background-image: url("../new-year/03.png");
}
.new-year__toy_candy.animate > * {
  animation: present 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.new-year__toy_candy-01 {
  transform: translate(430px, -55px) scale(0.8) rotate(0deg);
}
.new-year__toy_candy-02 {
  transform: translate(860px, -15px) scaleX(-1) scale(0.4) rotate(-60deg);
}
.new-year__toy_candy-03 {
  transform: translate(-410px, -35px) scale(0.5) rotate(-25deg);
}
.new-year__toy_candy-04 {
  transform: translate(-860px, -55px) scale(0.5) rotate(35deg);
}
.new-year__toy_branch > * {
  width: 205px;
  height: 104px;
  margin: 0 -15px;
  position: absolute;
  animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) 0.6250222219s infinite;
  background-image: url("../new-year/04.png");
}
.new-year__toy_branch-01 {
  transform: translate(-590px, -50px);
}
.new-year__toy_branch-01 > * {
  animation-delay: 1.491015991s;
}
.new-year__toy_branch-02 {
  transform: translate(-420px, -10px) rotate(-10deg);
}
.new-year__toy_branch-02 > * {
  animation-delay: 1.8013533984s;
}
.new-year__toy_branch-03 {
  transform: translate(-880px, -10px) rotate(-10deg);
}
.new-year__toy_branch-03 > * {
  animation-delay: 0.7177209681s;
}
.new-year__toy_branch-04 {
  transform: translate(-960px, -50px) rotate(25deg);
}
.new-year__toy_branch-04 > * {
  animation-delay: 1.6842534928s;
}
.new-year__toy_branch-05 {
  transform: translate(300px, -30px) scaleX(-1);
}
.new-year__toy_branch-05 > * {
  animation-delay: 1.9381062818s;
}
.new-year__toy_branch-06 {
  transform: translate(620px, -40px) scaleX(-1);
}
.new-year__toy_branch-06 > * {
  animation-delay: 0.8947867373s;
}
.new-year__toy_branch-07 {
  transform: translate(910px, -40px) scaleX(-1) rotate(5deg);
}
.new-year__toy_branch-07 > * {
  animation-delay: 1.1219514874s;
}

@keyframes branch {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0) rotate(-0.6deg);
  }
  60% {
    transform: translate(0, -2px) rotate(0.4deg);
  }
  85% {
    transform: translate(-1px, 1px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes present {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0) scale(1.2, 0.8);
  }
  30% {
    transform: translateY(0) scale(0.8, 1.2);
  }
  60% {
    transform: translateY(-80px) scale(1);
  }
  100% {
    transform: translateY(0);
  }
}