.valentine__toy_06 > *, .valentine__toy_05 > *, .valentine__toy_04 > *, .valentine__toy_03 > *, .valentine__toy_02 > *, .valentine__toy_01 > *, .valentine__heart, .valentine__branch {
  display: flex;
  background: none center/contain no-repeat transparent;
  flex-shrink: 0;
  transform-origin: 50% 100%;
}

.valentine {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.valentine__inner {
  display: flex;
  padding: 100px 0 0;
  transform: translateY(25%);
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199.98px) and (min-width: 768px) {
  .valentine__inner {
    transform: translateY(30%) scale(0.8);
  }
}
@media (max-width: 767.98px) and (min-width: 576px) {
  .valentine__inner {
    transform: translateY(35%) scale(0.6);
  }
}
@media (max-width: 575.98px) {
  .valentine__inner {
    transform: translateY(37.5%) scale(0.45);
  }
}
.valentine__branch > * {
  width: 207px;
  height: 108px;
  margin: 0 -20px;
  animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite;
  background: none center/contain no-repeat transparent;
  transform-origin: 50% 100%;
  background-image: url("../valentine/el_03_01.png");
}
.valentine__branch > *:nth-child(1) {
  animation-delay: 1.7937479561s;
}
.valentine__branch > *:nth-child(2) {
  animation-delay: 4.8262554924s;
}
.valentine__branch > *:nth-child(3) {
  animation-delay: 1.8077191702s;
}
.valentine__branch > *:nth-child(4) {
  animation-delay: 4.9463966429s;
}
.valentine__branch > *:nth-child(5) {
  animation-delay: 2.6282965493s;
}
.valentine__branch > *:nth-child(2n+1) {
  width: 197px;
  height: 103px;
  background-image: url("../valentine/el_03_02.png");
}
.valentine__branch > *:nth-child(3n+1) {
  width: 150px;
  height: 110px;
}
.valentine__branch_left > *:nth-child(1), .valentine__branch_left > *:nth-child(5), .valentine__branch_left > *:nth-child(6) {
  z-index: 4;
}
.valentine__branch_right {
  z-index: 2;
  transform: scaleX(-1);
}
.valentine__branch_right > *:nth-child(4), .valentine__branch_right > *:nth-child(4), .valentine__branch_right > *:nth-child(4) {
  z-index: 4;
}
.valentine__heart {
  z-index: 2;
  width: 270px;
  height: 155px;
  margin: 0 -70px 50px;
  animation: branch 5s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite;
  background-image: url("../valentine/el_01.png");
}
.valentine__toy {
  z-index: 3;
  position: absolute;
  /*&_hat {
    pointer-events: all;

    > * {
      width: map.get($obj, f1-w);
      height: map.get($obj, f1-h);
      margin: 0 $branches-margin-sides;
      position: absolute;
      @extend %positioning;
      background-image: url(map.get($obj, f1));
    }
    &.animate {
      > * {
        animation: $present-animation;
      }
    }
    &-01 {
      transform: translate(550px, -85px) scale(0.6) rotate(9deg);
    }
    &-02 {
      transform: translate(1150px, -55px) scale(0.4) rotate(-9deg);
    }
    &-03 {
      transform: translate(-1030px, -65px) scale(0.6) rotate(-40deg);
    }
  }
  &_present {
    pointer-events: all;

    > * {
      width: map.get($obj, el04-w);
      height: map.get($obj, el04-h);
      margin: 0 $branches-margin-sides;
      position: absolute;
      @extend %positioning;
      background-image: url(map.get($obj, el04));
    }
    &.animate {
      > * {
        animation: $present-animation;
      }
    }
    &-01 {
      transform: translate(160px, -65px) scale(0.7) rotate(12deg);
    }
    &-02 {
      transform: translate(910px, -95px) scale(0.6) rotate(12deg);
    }
    &-03 {
      transform: translate(-650px, -85px) scale(0.5) rotate(-12deg);
    }
    &-04 {
      transform: translate(-1200px, -65px) scale(0.4) rotate(-3deg);
    }
  }
  &_candy {
    pointer-events: all;

    > * {
      width: map.get($obj, f3-w);
      height: map.get($obj, f3-h);
      margin: 0 $branches-margin-sides;
      position: absolute;
      @extend %positioning;
      background-image: url(map.get($obj, f3));
    }
    &.animate {
      > * {
        animation: $present-animation;
      }
    }
    &-01 {
      transform: translate(430px, -55px) scale(0.8) rotate(0deg);
    }
    &-02 {
      transform: translate(860px, -15px) scaleX(-1) scale(0.4) rotate(-60deg);
    }
    &-03 {
      transform: translate(-410px, -35px) scale(0.5) rotate(-25deg);
    }
    &-04 {
      transform: translate(-860px, -55px) scale(0.5) rotate(35deg);
    }
  }
  &_branch {
    > * {
      width: map.get($obj, f4-w);
      height: map.get($obj, f4-h);
      margin: 0 $branches-margin-sides;
      position: absolute;
      @extend %positioning;
      animation: $branch-animation;
      background-image: url(map.get($obj, f4));
    }
    &-01 {
      transform: translate(-590px, -50px);

      > * {
        animation-delay: 1.3322714843s;
      }
    }
    &-02 {
      transform: translate(-420px, -10px) rotate(-10deg);

      > * {
        animation-delay: 1.8176859667s;
      }
    }
    &-03 {
      transform: translate(-880px, -10px) rotate(-10deg);

      > * {
        animation-delay: 0.9936922166s;
      }
    }
    &-04 {
      transform: translate(-960px, -50px) rotate(25deg);

      > * {
        animation-delay: 1.4466729599s;
      }
    }
    &-05 {
      transform: translate(300px, -30px) scaleX(-1);

      > * {
        animation-delay: 0.4100127094s;
      }
    }
    &-06 {
      transform: translate(620px, -40px) scaleX(-1);

      > * {
        animation-delay: 0.7261728809s;
      }
    }
    &-07 {
      transform: translate(910px, -40px) scaleX(-1) rotate(5deg);

      > * {
        animation-delay: 0.7823627113s;
      }
    }
  }*/
}
.valentine__toy.animate > * {
  animation: present 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}
.valentine__toy_01 {
  transform: translate(-427px, -62px) scale(0.8) rotate(0deg);
  pointer-events: all;
}
.valentine__toy_01 > * {
  width: 101px;
  height: 89px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_01 > * {
  background-image: url("../valentine/el_02.png");
}
.valentine__toy_02 {
  transform: translate(-91px, -22px) scale(0.8) rotate(-11deg);
  pointer-events: all;
}
.valentine__toy_02 > * {
  width: 80px;
  height: 80px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_02 > * {
  background-image: url("../valentine/el_11.png");
}
.valentine__toy_03 {
  transform: translate(-866px, -92px) scale(0.9) rotate(-10deg);
  pointer-events: all;
}
.valentine__toy_03 > * {
  width: 112px;
  height: 144px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_03 > * {
  background-image: url("../valentine/el_10.png");
}
.valentine__toy_04 {
  z-index: 1;
  transform: translate(381px, -40px) scale(0.7) rotate(-25deg);
  pointer-events: all;
}
.valentine__toy_04 > * {
  width: 118px;
  height: 80px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_04 > * {
  background-image: url("../valentine/el_08.png");
}
.valentine__toy_05 {
  z-index: 1;
  transform: translate(743px, -114px) scale(0.8) rotate(-4deg);
  pointer-events: all;
}
.valentine__toy_05 > * {
  width: 91px;
  height: 157px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_05 > * {
  background-image: url("../valentine/el_07.png");
}
.valentine__toy_06 {
  transform: translate(653px, -44px) scale(0.7) rotate(7deg);
  pointer-events: all;
}
.valentine__toy_06 > * {
  width: 100px;
  height: 120px;
  margin: 0 -20px;
  position: absolute;
}
.valentine__toy_06 > * {
  background-image: url("../valentine/el_09.png");
}

@keyframes branch {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0) rotate(-0.6deg);
  }
  60% {
    transform: translate(0, -2px) rotate(0.4deg);
  }
  85% {
    transform: translate(-1px, 1px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes present {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0) scale(1.2, 0.8);
  }
  30% {
    transform: translateY(0) scale(0.8, 1.2);
  }
  60% {
    transform: translateY(-80px) scale(1);
  }
  100% {
    transform: translateY(0);
  }
}